## FEC Campaign Finance

### Committee Master

In [1]:
import pandas as pd
import numpy as np

from datetime import datetime as dt

In [2]:
year = '2018'

In [3]:
# read in & clean
cm = pd.read_csv(
    f'https://www.fec.gov/files/bulk-downloads/{year}/cm{year[2:]}.zip', 
    sep = '|', 
    error_bad_lines = False, 
    header = None, 
)
print('original length:', len(cm))

# add column headers from separate file
headers = pd.read_csv(
    'https://www.fec.gov/files/bulk-downloads/data_dictionaries/cm_header_file.csv', 
)
cm.columns = [x.lower() for x in headers.columns]

# fillna
cm['cmte_pty_affiliation'].fillna('UNK', inplace = True)

# preserve uncleaned tres_nm & cmte_st1
cm['orig_tres_nm'] = list(cm['tres_nm'].values)
cm['orig_cmte_st1'] = list(cm['cmte_st1'].values)

# prep strings for deduping
change_dict = {
    ' STREET' : ' ST',
    'AVENUE' : 'AVE',
    ' DRIVE' : ' DR',
    ' ROAD' : ' RD',
    ' SUITE' : ' STE',
    '.' : '',
    ',' : '',
    'BOULEVARD' : 'BLVD',
    ' PLACE' : ' PL',
    
}
keys = list(set(change_dict.keys()))
for key in keys:
    cm['cmte_st1'] = [str(x).replace(key, change_dict[key]) for x in cm['cmte_st1']]

keep_0 = [
    ' STE ',
    '#',
    ' ST ',
    ' AVE ',
    ' RD ',
    ' PL ', 
    ' BLVD ', 
    ' DR ',
]

cm['cmte_st1'] = [x.split(' STE ')[0].split('#')[0].split(' NUM ')[0] for \
                  x in cm['cmte_st1']]
cm['cmte_st1'] = [' '.join(str(x).split()) for x in cm['cmte_st1']]

cm['cmte_zip'] = [str(x).strip() for x in cm['cmte_zip']]
cm.loc[cm['cmte_zip'].apply(lambda x: len(str(x))) == 9, 'cmte_zip'] = \
cm.loc[cm['cmte_zip'].apply(lambda x: len(str(x))) == 9, 'cmte_zip'].apply(lambda x: x[:5])

cm['cmte_zip'].apply(lambda x: len(x)).value_counts().sort_index()

original length: 19027

3       33
4        8
5    18982
6        1
8        3
Name: cmte_zip, dtype: int64

In [4]:
cands = pd.read_csv('data/02a_cand_clean.csv')

cands = list(cands['cand_id'])

mask = []
for x in cm['cand_id']:
    if type(x) == float:
        mask.append(True)
    else:
        if x in cands:
            mask.append(True)
        else:
            mask.append(False)
        
cm = cm[mask]

print(len(cm))

13490

In [5]:
cm.loc[cm['cmte_zip'].apply(lambda x: len(str(x))) != 5, 
       ['cmte_st1', 'cmte_city', 'cmte_st', 'cmte_zip']].sort_values([
    'cmte_zip', 
    'cmte_st1', 
    'cmte_city',
    'cmte_st',
])

                        cmte_st1         cmte_city cmte_st  cmte_zip
18190            510A SHERMAN ST            CANTON      MA      2021
18199              580 BRIDGE ST            DEDHAM      MA      2026
18200              580 BRIDGE ST            DEDHAM      MA      2026
18194       17 PLEASANT HILL AVE            BOSTON      MA  21232813
18198           33 THORONDIKE ST         BROOKLINE      MA      2446
18206          393 DORCHESTER RD              LYME      NH      3768
2060              1210 CORBIN ST         ELIZABETH      NJ      7201
10840          847 KENSINGTON CV        SPRINGDALE      AR      7276
18209            111 VICTORIA DR         EATONTOWN      NJ      7724
18116                                            .      VA       nan
6387             1055 CATALPA RD           ARCADIA      CA       nan
17750  2008 OLDTOWN VALLEY RD SE  NEW PHILADELPHIA      OH       nan
17959               247 THIRD ST           ASHLAND      OR       nan
18661             420 KEWANNA DR    JEFFERSONVILLE      IN       nan
18175             77 GILKISON ST     DUNEDIN OTAGO      ZZ       nan
18166  801 NKWANHOON BLDG 198-42             SEOUL      ZZ       nan
18707            868 CHURCH ST -           BOHEMIA      NY       nan
5044                  PO BOX 356        LIVINGSTON      NJ       nan
17722                        nan           HOUSTON      TX       nan
18056                        nan      PHILADELPHIA      PA       nan
18782                        nan               NaN      TX       nan
8006                         nan               NaN     NaN       nan
9572                         nan               NaN     NaN       nan
10164                        nan               NaN     NaN       nan
10419                        nan               NaN     NaN       nan
10519                        nan               NaN     NaN       nan
11993                        nan               NaN     NaN       nan
12322                        nan               NaN     NaN       nan
13088                        nan               NaN     NaN       nan
13089                        nan               NaN     NaN       nan
13396                        nan               NaN     NaN       nan
16234                        nan               NaN     NaN       nan
17177                        nan               NaN     NaN       nan
17452                        nan               NaN     NaN       nan
17456                        nan               NaN     NaN       nan
17760                        nan               NaN     NaN       nan
17761                        nan               NaN     NaN       nan
17762                        nan               NaN     NaN       nan
17767                        nan               NaN     NaN       nan
17908                        nan               NaN     NaN       nan

In [6]:
fix_zip = {
    '291501' : '29150',
    '89053145' : '89015',
    '04342443' : '70433',
    '21232813' : '02126',
    '7276' : '72762',
    '2021' : '02021',
    '2026' : '02026',
    '2446' : '02446',
    '3768' : '03768',
    '7201' : '07201',
    '7724' : '07724',
    
}
for key in list(fix_zip.keys()):
    cm.loc[cm['cmte_zip'] == key, 'cmte_zip'] = fix_zip[key]

cm.loc[cm['cmte_st1'] == '1055 CATALPA RD', 'cmte_zip'] = '91007'
cm.loc[cm['cmte_st1'] == '2008 OLDTOWN VALLEY RD SE', 'cmte_zip'] = '44663'
cm.loc[
    (cm['cmte_st1'] == '247 THIRD ST') & \
    (cm['cmte_city'] == 'ASHLAND'), 
    'cmte_zip'] = '97520'
cm.loc[cm['cmte_st1'] == '420 KEWANNA DR', 'cmte_zip'] = '47130'
cm.loc[cm['cmte_st1'] == '868 CHURCH ST -', 'cmte_zip'] = '11716'
cm.loc[
    (cm['cmte_st1'] == 'PO BOX 334') & \
    (cm['cmte_city'] == 'DAVIDSONVILLE'), 
    'cmte_zip'] = '21035'
cm.loc[
    (cm['cmte_st1'] == 'PO BOX 356') & \
    (cm['cmte_city'] == 'LIVINGSTON'), 
    'cmte_zip'] = '07039'

In [7]:
cm.loc[cm['cmte_zip'].apply(lambda x: len(x) == 3), 'cmte_zip'] = np.nan
# create full address column from cleaned parts
cm['address'] = \
cm['cmte_st1'].apply(lambda x: str(x).strip()) + ', ' + \
cm['cmte_city'].apply(lambda x: str(x).strip()) + ', ' + \
cm['cmte_st'].apply(lambda x: str(x).strip()) + ' ' + \
cm['cmte_zip'].apply(lambda x: str(x).strip())

cm.head(2)

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
0,C00000018,IRONWORKERS LOCAL UNION NO. 25 POLITICAL EDUCA...,STEVEN N GULICK,43335 W 10 MILE,P O BOX 965,NOVI,MI,48050,U,Q,UNK,T,NaN,IRON WORKERS; INT'L ASS'N OF BRIDGE...,H8TX22313,STEVEN N GULICK,43335 W 10 MILE,"43335 W 10 MILE, NOVI, MI 48050"
1,C00000059,HALLMARK CARDS PAC,SARAH MOE,2501 MCGEE,MD #500,KANSAS CITY,MO,64108,U,Q,UNK,M,C,NaN,NaN,SARAH MOE,2501 MCGEE,"2501 MCGEE, KANSAS CITY, MO 64108"

In [8]:
# check for duplicate rows
cm[cm.duplicated(keep = False)]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
16591,C00690123,INDEPENDENT VOICES OF CHANGE,"PHELAN, JOHN",2 MEGHANS WAY,NaN,LYNN,MA,01904,U,O,UNK,Q,NaN,NONE,H8NJ07256,"PHELAN, JOHN",2 MEGHANS WAY,"2 MEGHANS WAY, LYNN, MA 01904"
16592,C00690123,INDEPENDENT VOICES OF CHANGE,"PHELAN, JOHN",2 MEGHANS WAY,NaN,LYNN,MA,01904,U,O,UNK,Q,NaN,NONE,H8NJ07256,"PHELAN, JOHN",2 MEGHANS WAY,"2 MEGHANS WAY, LYNN, MA 01904"

In [9]:
# drop duplicates
cm.drop_duplicates(keep = 'first', inplace = True)

In [10]:
# see which cmte_ids appear more than once
cm['cmte_id'].value_counts()[cm['cmte_id'].value_counts() > 1]

Series([], Name: cmte_id, dtype: int64)

In [11]:
# check for nulls
cm.isnull().sum()[cm.isnull().sum() > 0].sort_values()

cmte_nm                 9
cmte_tp                10
cmte_dsgn              11
cmte_st                19
cmte_city              20
cmte_zip               25
orig_cmte_st1          27
tres_nm              1513
orig_tres_nm         1513
connected_org_nm     7967
org_tp               9898
cmte_st2            10383
cand_id             12344
dtype: int64

In [12]:
# see which have missing cmte_nm
cm[cm['cmte_nm'].isnull()]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
8006,C00575308,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
10164,C00616649,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
10419,C00619916,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
10519,C00621201,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
12322,C00641233,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
13088,C00653873,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
13089,C00653881,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
13396,C00657031,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,UNK,A,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan nan"
17010,C30001184,NaN,NaN,PO BOX 33524,NaN,WASHINGTON,DC,20033,U,E,UNK,A,NaN,NaN,NaN,NaN,PO BOX 33524,"PO BOX 33524, WASHINGTON, DC 20033"

In [13]:
# fill in placeholder cmte_nm
cm.loc[cm['cmte_nm'].isnull(), 'cmte_nm'] = '(cmte_nm missing)'

In [14]:
# see which have missing address
# then see if any other rows have matching cmte_nm
cm[cm['address'].isnull()]

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [15]:
# see which street addresses appear most frequently
cm['address'].value_counts()[:20]

228 S WASHINGTON ST, ALEXANDRIA, VA 22314        156
918 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003    112
824 S MILLEDGE AVE, ATHENS, GA 30605             101
PO BOX 26141, ALEXANDRIA, VA 22313                95
700 13TH ST NW, WASHINGTON, DC 20005              61
PO BOX 9891, ARLINGTON, VA 22219                  56
611 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003     48
PO BOX 30844, BETHESDA, MD 20824                  41
777 S FIGUEROA ST, LOS ANGELES, CA 90017          37
610 S BLVD, TAMPA, FL 33606                       37
PO BOX 15320, WASHINGTON, DC 20003                35
910 17TH ST NW, WASHINGTON, DC 20006              35
5429 MADISON AVE, SACRAMENTO, CA 95841            32
PO BOX 75357, WASHINGTON, DC 20013                26
555 CAPITOL MALL, SACRAMENTO, CA 95814            26
901 N WASHINGTON ST, ALEXANDRIA, VA 22314         24
499 SOUTH CAPITOL ST SW, WASHINGTON, DC 20003     24
120 MARYLAND AVE NE, WASHINGTON, DC 20002         24
249 E OCEAN BLVD, LONG BEACH, CA 90802            22
PO BOX 2485, SPRINGFIELD, VA 22152                21
Name: address, dtype: int64

In [16]:
# fill in placeholder for missing treasurer name 
print(len(cm[cm['tres_nm'].isnull()]))
cm.loc[cm['tres_nm'].isnull(), 'tres_nm'] = '(no treasurer listed)'
cm.loc[cm['tres_nm'].apply(lambda x: x in ['.', 'NONE', '']), 'tres_nm'] = '(no treasurer listed)'

# convert to <first name> <last name> format from <last name>, <first name>
cm['tres_nm'] = [' '.join([' '.join(x.split(', ')[1:]), x.split(', ')[0]]) if ', ' in \
                 x else x for x in cm['tres_nm']]
# clean up spacing
# looks like this could just be ' '.join(x.strip()) 
# but i feel like i did it this way for a reason... leaving it
cm['tres_nm'] = [' '.join([x for x in list(x.split(' ')) if len(x) > 1]).strip() for \
                 x in cm['tres_nm']]

# prep for deduping

# substitutions
subs = {
    'XAVUER' : 'XAVIER',
    'JSOEPH' : 'JOSEPH',
    'WILLAIM' : 'WILLIAM',
    'V?RONIQUE' : 'VERONIQUE',
    '.' : '',
    ',' : '',
    
}
for key in list(subs.keys()):
    cm['tres_nm'] = [x.replace(key, subs[key]) for x in cm['tres_nm']]

# drops
drops = [
    'MRS',
    'MS',
    'MR',
    'MISS',
    'JR',
    'SR',
    'UNDEFINED',
    'JD',
    'CPA',
    'HONORABLE',
    'FED',
    'II', 
    'III',
    'IV',
    'ESQ',
    'DR',
    'MD',
    'DO',
    'CFO',
    'CEO',
    'CTO',
    'TREAS',
    'US',
    '1970',
    '--SELECT',
    '1973',
    '1979',
    
]
for droplet in drops:
    cm['tres_nm'] = [' '.join([x for x in x.split() if \
                               ((x not in drops) & (len(x) > 1))]) for x in cm['tres_nm']]

# a bunch of entries have last name appearing twice; 
# check for this and keep only first instance
cm['tres_nm'] = [x.split() for x in cm['tres_nm']]
def f7(seq):
    '''https://stackoverflow.com/questions/480214/\
    how-do-you-remove-duplicates-from-a-list-whilst-preserving-order'''
    seen = set()
    seen_add = seen.add
    return [x for x in seq if not (x in seen or seen_add(x))]            
cm['tres_nm'] = [' '.join(f7(x)) for x in cm['tres_nm']]

# see tres_nms appearing most frequently
cm['tres_nm'].value_counts()[:20]

1513

(no treasurer listed)    1518
PAUL KILGORE              144
JUDITH ZAMORE             108
CHRIS MARSTON             106
LISA LISKER                88
JENNIFER MAY               62
JAY PETTERSON              56
BENJAMIN OTTENHOFF         55
DAVID SATTERFIELD          49
CABELL HOBBS               47
KEITH DAVIS                44
BRADLEY CRATE              43
NANCY WATKINS              42
JANICA KYRIACOPOULOS       41
THOMAS DATWYLER            36
STEVEN MARTIN              25
ROBERT CARLIN              24
TIMOTHY KOCH               23
DENISE LEWIS               22
PATRICK KRASON             22
Name: tres_nm, dtype: int64

In [17]:
# what is street address of committees not listing treasurer
cm.loc[cm['tres_nm'] == '(no treasurer listed)', 'address'].value_counts()[:20]

nan, nan, nan nan                                  16
1201 CONNECTICUT AVE NW, WASHINGTON, DC 20036      10
700 13TH ST NW, WASHINGTON, DC 20005                6
300 M ST SE, WASHINGTON, DC 20003                   5
555 CAPITOL MALL, SACRAMENTO, CA 95814              5
815 16TH ST NW, WASHINGTON, DC 20006                5
1120 CONNECTICUT AVE NW, WASHINGTON, DC 20036       4
1747 PENNSYLVANIA AVE NW, WASHINGTON, DC 20006      4
PO BOX 2259, WILMINGTON, NC 28402                   4
5429 MADISON AVE, SACRAMENTO, CA 95841              4
1401 NEW YORK AVE NW, WASHINGTON, DC 20005          4
1150 GRAND BLVD, KANSAS CITY, MO 64106              3
1875 CONNECTICUT AVE NW, WASHINGTON, DC 20009       3
625 BROAD ST, NEWARK, NJ 07102                      3
905 16TH ST NW, WASHINGTON, DC 20006                3
414 N ORLEANS PLAZA, CHICAGO, IL 60654              3
705-2 E BIDWELL ST, FOLSOM, CA 95630                3
1800 MASSACHUSETTS AVE NW, WASHINGTON, DC 20036     3
515 KING ST, ALEXANDRIA, VA 22314                   3
8655 EXPLORER DR, COLORADO SPRINGS, CO 80920        3
Name: address, dtype: int64

In [18]:
list(cm.loc[cm['address'] == '1201 CONNECTICUT AVE NW, WASHINGTON, DC 20036', 'cmte_nm'])

['CONSTITUTIONAL RESPONSIBILITY PROJECT',
 'SOCAL HEALTH CARE COALITION A PROJECT OF SIXTEEN THIRTY FUND',
 'FLORIDIANS FOR A FAIR SHAKE A PROJECT OF SIXTEEN THIRTY FUND',
 'DEMAND JUSTICE A PROJECT OF SIXTEEN THIRTY FUND',
 'SIXTEEN THIRTY FUND / MAKE IT WORK AMERICA1',
 'SIXTEEN THIRTY FUND/MAKE IT WORK ACTION',
 'SIXTEEN THIRTY FUND/NOT ONE PENNY',
 'FLORIDIANS FOR A FAIR SHAKE A PROJECT OF SIXTEEN THIRTY FUND',
 'SOCAL HEALTH CARE COALITION A PROJECT OF SIXTEEN THIRTY FUND',
 'OHIOANS FOR ECONOMIC OPPORTUNITY A PROJECT OF SIXTEEN THIRTY FUND']

In [19]:
list(cm.loc[
    (cm['address'] == '700 13TH ST NW, WASHINGTON, DC 20005') & \
    (cm['tres_nm'] == '(no treasurer listed)'), 'cmte_nm'])

['MAJORITY FORWARD',
 'MAJORITY FORWARD',
 'AMERICA WORKING TOGETHER',
 'DUTY AND HONOR',
 'BLACK PROGRESSIVE ACTION COALITION',
 'BLACK ECONOMIC ALLIANCE FUND']

In [20]:
list(cm.loc[
    (cm['address'] == '555 CAPITOL MALL, SACRAMENTO, CA 95814') & \
    (cm['tres_nm'] == '(no treasurer listed)'), 'cmte_nm'])

['PLANNED PARENTHOOD ADVOCACY PROJECT LOS ANGELES COUNTY',
 'PLANNED PARENTHOOD AFFILIATES OF CALIF',
 'ALAMEDANS UNITED SUPPORTING VELLA AND ASHCRAFT FOR CITY COUNCIL, ET AL',
 'OPPORTUNITY PAC - A COALITION OF TEACHERS HEALTH CARE GIVERS FACULTY MEMBERS SCHOOL EMPLOYEES AND PUBLIC AND PR',
 'GOLDEN CALIFORNIA COMMITTEE SPONSORED BY THE SEIU CALIFORNIA STATE COUNCIL']

### Dedupe treasurer names

This is a journey.

In [21]:
def findall(name):
    '''find pattern in treasurer names columns'''
    all_tres = list(set(cm['tres_nm']))
    if type(name) == str:
        these = [x for x in all_tres if name.lower() in str(x).lower()]
    else:  
        these = all_tres
        for which in name:
            these = [x for x in these if which in str(x).lower()]
    return sorted(these)

In [22]:
def getall(these, new):
    '''assign deduped treasurer name'''
    print('orig len:', len(cm[cm['tres_nm'] == new]))
    for which in these:
        cm.loc[cm['tres_nm'] == which, 'tres_nm'] = new
    print('new len:', len(cm[cm['tres_nm'] == new]))
    return

In [23]:
# this list keeps track of the ones we've already addressed
dones = ['(no treasurer listed)']

In [24]:
findall(' kil')

['EDWIN JAY KILPATRICK',
 'GERALD KILPATRICK',
 'JEFFREY TUTTLE KILLEEN',
 'KEVIN KILEY',
 'LAURA KILMER',
 'LAWRENCE KILGORE',
 'MEAGHAN KILLION JOYCE',
 'MILES KILCOIN',
 'PAUL KILGORE',
 'RACHEL KILPATRICK',
 'TERRY KILROY',
 'WILLIAM KILLMER']

In [25]:
findall(' joyce')

['JONATHAN JOYCE', 'MEAGHAN KILLION JOYCE', 'STEPHEN JOYCE']

In [26]:
dones.extend(findall(' kil'))

In [27]:
findall(' lis')

['(no treasurer listed)',
 'EVAN ROGER LISTOPAD',
 'JOHN LISTAK',
 'LISA LISKER',
 'SUSIE LISA']

In [28]:
dones.extend(findall(' lis'))

In [29]:
findall('lisker')

['LISA LISKER']

In [30]:
new = 'LISA LISKER'
dones.append(new)

these = findall('lisker')

getall(these, new)

orig len: 88
new len: 88

In [31]:
findall(['c', 'marst'])

['CHRIS MARSTEN', 'CHRIS MARSTON', 'CHRISTOPHER MARSTON']

In [32]:
cm[cm['tres_nm'] == 'CHRIS MARSTEN']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
11508,C00632760,WHITE COAT WASTE PAC,CHRIS MARSTEN,PO BOX 26141,NaN,ALEXANDRIA,VA,22313,U,Q,UNK,Q,NaN,NaN,NaN,CHRIS MARSTEN,PO BOX 26141,"PO BOX 26141, ALEXANDRIA, VA 22313"
12366,C00646463,BUCKEYE BATTLE PAC,CHRIS MARSTEN,PO BOX 26141,NaN,ALEXANDRIA,VA,22313,U,O,UNK,T,NaN,NaN,NaN,CHRIS MARSTEN,PO BOX 26141,"PO BOX 26141, ALEXANDRIA, VA 22313"
14309,C00666511,WE STAND FOR BETTER,CHRIS MARSTEN,PO BOX 26141,NaN,ALEXANDRIA,VA,22313,U,O,UNK,Q,NaN,NaN,NaN,CHRIS MARSTEN,PO BOX 26141,"PO BOX 26141, ALEXANDRIA, VA 22313"

In [33]:
cm[cm['tres_nm'] == 'CHRIS MARSTON'].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
3558,C00433524,DUNCAN D. HUNTER FOR CONGRESS,CHRIS MARSTON,PO BOX 1545,NaN,EL CAJON,CA,92022,P,H,REP,Q,NaN,HUNTER VICTORY FUND,H8CA52052,"MARSTON, CHRIS",PO BOX 1545,"PO BOX 1545, EL CAJON, CA 92022"
3723,C00441014,ROB WITTMAN FOR CONGRESS,CHRIS MARSTON,PO BOX 3770,NaN,OAKTON,VA,22124,P,H,REP,Q,NaN,WITTMAN VICTORY COMMITTEE,H8VA01147,"MARSTON, CHRIS",PO BOX 3770,"PO BOX 3770, OAKTON, VA 22124"
3919,C00449926,AMERICAN FUTURE FUND POLITICAL ACTION,CHRIS MARSTON,45 N HILL DR,STE 100,WARRENTON,VA,20186,U,W,UNK,M,NaN,NaN,NaN,"MARSTON, CHRIS",45 N HILL DR,"45 N HILL DR, WARRENTON, VA 20186"
4932,C00486738,MANY INDIVIDUAL CONSERVATIVES HELPING ELECT LE...,CHRIS MARSTON,PO BOX 26141,NaN,ALEXANDRIA,VA,22313,D,Q,UNK,Q,NaN,MICHELE BACHMANN,NaN,"MARSTON, CHRIS",PO BOX 26141,"PO BOX 26141, ALEXANDRIA, VA 22313"
5364,C00499020,FREEDOMWORKS FOR AMERICA,CHRIS MARSTON,111 K ST NE,STE 600,WASHINGTON,DC,20002,U,O,UNK,Q,NaN,NONE,NaN,"MARSTON, CHRIS",111 K ST NE,"111 K ST NE, WASHINGTON, DC 20002"

In [34]:
new = 'CHRISTOPHER MARSTON'
dones.append(new)

these = findall(['c', 'marst'])

getall(these, new)

orig len: 13
new len: 122

In [35]:
findall(['st', ' martin'])

['ERNESTO MARTINEZ', 'STEVEN MARTIN']

In [36]:
cm[cm['tres_nm'] == 'STEVE MARTIN']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [37]:
cm[cm['tres_nm'] == 'STEVEN MARTIN'].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
1361,C00233353,AD ALLIANCE,STEVEN MARTIN,PO BOX 30844,NaN,BETHESDA,MD,20824,B,Q,UNK,M,M,NONE,NaN,"MARTIN, STEVEN JR.",PO BOX 30844,"PO BOX 30844, BETHESDA, MD 20824"
2507,C00372532,MICHAEL BURGESS FOR CONGRESS,STEVEN MARTIN,PO BOX 2334,NaN,DENTON,TX,76202,P,H,REP,Q,NaN,CARE AMERICA,H2TX26093,"MARTIN, STEVEN G. JR.",PO BOX 2334,"PO BOX 2334, DENTON, TX 76202"
3207,C00415208,LONE STAR LEADERSHIP PAC,STEVEN MARTIN,PO BOX 30844,NaN,BETHESDA,MD,20824,D,Q,UNK,M,NaN,MICHAEL BURGESS,NaN,"MARTIN, STEVEN G. JR.",PO BOX 30844,"PO BOX 30844, BETHESDA, MD 20824"
5181,C00493783,FRESHMAN AGRICULTURAL REPUBLICAN MEMBERS TRUST...,STEVEN MARTIN,PO BOX 30844,NaN,BETHESDA,MD,20824,J,H,UNK,Q,NaN,NONE,H0AL02087,"MARTIN, STEVEN G. JR.",PO BOX 30844,"PO BOX 30844, BETHESDA, MD 20824"
6843,C00551366,RIGHTNOW WOMEN PAC,STEVEN MARTIN,PO BOX 30844,NaN,BETHESDA,MD,20824,U,Q,UNK,Q,NaN,NONE,NaN,"MARTIN, STEVEN G. JR.",PO BOX 30844,"PO BOX 30844, BETHESDA, MD 20824"

In [38]:
dones.extend(findall(['st', ' martin']))

In [39]:
findall(' crat')

['BRADLEY CRATE', 'VIVIAN CRATER']

In [40]:
dones.extend(findall(' crat'))

In [41]:
findall('datwyler')

['THOMAS CHARLES DATWYLER', 'THOMAS DATWYLER']

In [42]:
new = 'THOMAS DATWYLER'
dones.append(new)

these = findall('datwyler')

getall(these, new)

orig len: 36
new len: 37

In [43]:
findall('zamore')

['JUDITH ZAMORE', 'JUDY ZAMORE']

In [44]:
new = 'JUDITH ZAMORE'
dones.append(new)

these = findall('zamore')

getall(these, new)

orig len: 108
new len: 109

In [45]:
findall(' pett')

['BRENDAN PETTYJOHN', 'JAY PETTERSON']

In [46]:
dones.extend(findall(' pett'))

In [47]:
findall(['jen', 'may'])

['JENNIFER MAY']

In [48]:
dones.append('JENNIFER MAY')

In [49]:
# first jennifer for driskell
cm[cm['tres_nm'] == 'JENNIFER FAIRFIELD']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
7845,C00572859,GRETCHEN DRISKELL FOR CONGRESS,JENNIFER FAIRFIELD,PO BOX 464,NaN,SALINE,MI,48176,P,H,DEM,Q,NaN,NONE,H6MI07223,"FAIRFIELD, JENNIFER",PO BOX 464,"PO BOX 464, SALINE, MI 48176"

In [50]:
# second jennifer for driskell.  same?
cm[(cm['tres_nm'] == 'JENNIFER MAY') & (cm['cmte_st1'] == 'PO BOX 464')]

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [51]:
findall(' williamson')

['CRAIG WILLIAMSON', 'LES WILLIAMSON', 'SEAN WILLIAMSON']

In [52]:
dones.extend(findall(' williamson'))

In [53]:
findall(' ky')

['CHUCK KYRISH', 'JANICA KYRIACOPOULOS', 'SAMMY KYE']

In [54]:
dones.extend(findall(' ky'))

In [55]:
findall(' watkins')

['CATHLEEN WATKINS',
 'CHARLES WATKINS',
 'MICHAEL WATKINS',
 'NANCY WATKINS',
 'WILLIAM WATKINS']

In [56]:
cm[cm['tres_nm'] == 'BILL WATKINS']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [57]:
cm[cm['tres_nm'] == 'WILLIAM WATKINS']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
2551,C00376244,KUSTOFF FOR CONGRESS 2002,WILLIAM WATKINS,1661 AARON BRENNER DR,SUITE 300,MEMPHIS,TN,38120,A,H,REP,Q,NaN,NONE,H2TN07103,"WATKINS, WILLIAM H JR",1661 AARON BRENNER DRIVE,"1661 AARON BRENNER DR, MEMPHIS, TN 38120"
10036,C00614826,KUSTOFF FOR CONGRESS,WILLIAM WATKINS,1661 AARON BRENNER DR,STE 300,MEMPHIS,TN,38120,P,H,REP,Q,NaN,NaN,H2TN07103,"WATKINS, WILLIAM H JR",1661 AARON BRENNER DR,"1661 AARON BRENNER DR, MEMPHIS, TN 38120"

In [58]:
new = 'WILLIAM WATKINS'
dones.append(new)

these = ['BILL WATKINS', 'WILLIAM WATKINS']

getall(these, new)

orig len: 2
new len: 2

In [59]:
dones.extend(findall(' watkins'))

In [60]:
findall('hobbs')

['CABELL HOBBS', 'JENNIFER HOBBS', 'NICOLE HOBBS', 'SCOTT HOBBS']

In [61]:
findall('giles')

['JASON GILES', 'RODNEY GILES']

In [62]:
dones.extend(findall('giles'))

In [63]:
dones.extend(findall('hobbs'))

In [64]:
findall(' satt')

['ADAM SATTERFIELD', 'DAVID SATTERFIELD', 'STACEY SATTERLEE']

In [65]:
dones.extend(findall(' satt'))

In [66]:
findall(' curtis')

['BOBBY CURTIS BRACKETT',
 'DAVID MARLOW CURTIS',
 'ELIZABETH CURTIS',
 'JAMES CURTIS',
 'KEVIN CURTIS',
 'LIZ CURTIS',
 'MICHAEL CURTIS DEAN',
 'RON CURTIS',
 'STEVEN DALE CURTIS']

In [67]:
findall('brackett')

['BOBBY CURTIS BRACKETT']

In [68]:
findall(['mi', 'dean'])

['MICHAEL CURTIS DEAN']

In [69]:
new = 'ELIZABETH CURTIS'
dones.append(new)

these = findall(['liz', 'curtis'])

getall(these, new)

orig len: 15
new len: 17

In [70]:
dones.extend(findall(' curtis'))

In [71]:
findall(' davis')

['ADAM DAVIS',
 'BRADLEY DAVIS',
 'BRIAN DAVIS',
 'BROOKE DAVIS',
 'CASEY DAVISON',
 'CLAY PARKER DAVIS',
 'CRYSTAL DAVIS-TAYLOR',
 'CYNTHIA DAVIS',
 'DEBORAH DAVIS',
 'DONALD DAVIS',
 'DYLAN DAVIS',
 'GARY DAVIS',
 'HAROLD DAVIS',
 'JEFF DAVIS',
 'JEREMY DAVIS',
 'JOE DAVIS',
 'JONATHAN DAVIS',
 'KAYOLKA DAVIS',
 'KEITH DAVIS',
 'KELLY DAVIS',
 'KETH DAVIS',
 'LANCE DAVIS',
 'LESLIE WALTER DAVIS',
 'MARIAN DAVIS',
 'MARIE ELIZABETH DAVIS',
 'MARIENELLA DAVIS',
 'MARK DAVIS',
 'MICHAEL DAVIS',
 'MICHELE DAVISON',
 'MILTON DAVIS',
 'PAUL DAVIS',
 'REGINALD DAVIS',
 'RICHARD BERNARD DAVIS',
 'RICK DAVISON',
 'ROBERT DAVIS',
 'SANDRA DAVIS',
 'SUSAN DAVIS',
 'VANDY DAVIS',
 'VERA DAVIS',
 'VIRGINIA DAVIS',
 'WAYNE DAVIS',
 'WILLIAM DAVIS']

In [72]:
cm[cm['tres_nm'].apply(lambda x: x in ['BILLY DAVIS', 'WILLIAM DAVIS'])]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
12062,C00638536,FRIENDS OF DANNER KLINE,WILLIAM DAVIS,PO BOX 430191,NaN,VESTAVIA HILLS,AL,35243,P,H,DEM,Q,NaN,NONE,H8AL06099,"DAVIS, WILLIAM",PO BOX 430191,"PO BOX 430191, VESTAVIA HILLS, AL 35243"

In [73]:
cm[cm['tres_nm'] == 'KETH DAVIS']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
14187,C00665232,WIN IN 2018,KETH DAVIS,228 S WASHINGTON ST,SUITE 115,ALEXANDRIA,VA,22314,J,N,UNK,Q,NaN,NONE,NaN,"DAVIS, KETH A.",228 S. WASHINGTON STREET,"228 S WASHINGTON ST, ALEXANDRIA, VA 22314"

In [74]:
cm[cm['tres_nm'] == 'KEITH DAVIS'].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
212,C00027466,NRSC,KEITH DAVIS,425 2ND ST NE,NaN,WASHINGTON,DC,20002,U,Y,REP,M,NaN,2018 TILLIS SENATE CANDIDATE FUND,NaN,"DAVIS, KEITH",425 2ND STREET NE,"425 2ND ST NE, WASHINGTON, DC 20002"
395,C00075820,NRCC,KEITH DAVIS,320 FIRST ST SE,.,WASHINGTON,DC,20003,U,Y,REP,M,NaN,COLE COMBINED COMMITTEE,NaN,"DAVIS, KEITH A.",320 FIRST STREET SE,"320 FIRST ST SE, WASHINGTON, DC 20003"
2013,C00330720,TRUST PAC TEAM REPUBLICANS FOR UTILIZING SENSI...,KEITH DAVIS,228 S WASHINGTON ST,SUITE 115,ALEXANDRIA,VA,22314,D,Q,UNK,Q,NaN,NONE,NaN,"DAVIS, KEITH A.",228 S. WASHINGTON STREET,"228 S WASHINGTON ST, ALEXANDRIA, VA 22314"
2738,C00388421,TENN POLITICAL ACTION COMMITTEE INC (TENN PAC),KEITH DAVIS,228 S WASHINGTON ST,NaN,ALEXANDRIA,VA,22314,D,Q,UNK,Q,NaN,NONE,NaN,"DAVIS, KEITH A.",228 S WASHINGTON STREET SUITE 115,"228 S WASHINGTON ST, ALEXANDRIA, VA 22314"
3819,C00445387,IMS HEALTH PAC,KEITH DAVIS,228 S WASHINGTON ST,NaN,ALEXANDRIA,VA,22314,U,Q,UNK,T,C,NaN,NaN,KEITH A DAVIS,228 S WASHINGTON STREET SUITE 115,"228 S WASHINGTON ST, ALEXANDRIA, VA 22314"

In [75]:
new = 'KEITH DAVIS' 
dones.append(new)

these = ['KEITH DAVIS', 'KETH DAVIS']

getall(these, new)

orig len: 44
new len: 45

In [76]:
cm[cm['tres_nm'].apply(lambda x: x in ['MIKE DAVIS', 'MICHAEL DAVIS'])]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
15960,C00683573,STRENGTH AND PROGRESS INC,MICHAEL DAVIS,30 N GOULD ST,STE 7981,SHERIDAN,WY,82801,U,N,UNK,Q,NaN,NaN,NaN,"DAVIS, MICHAEL",30 N GOULD ST,"30 N GOULD ST, SHERIDAN, WY 82801"

In [77]:
dones.extend(findall(' davis'))

In [78]:
findall(['phillips', 'ob'])

['ROB PHILLIPS', 'ROBERT PHILLIPS']

In [79]:
new = 'ROBERT PHILLIPS' 
dones.append(new)

these = findall(['phillips', 'ob'])

getall(these, new)

orig len: 20
new len: 24

In [80]:
findall(' mele')

['STEVE MELE', 'STEVEN MELE']

In [81]:
cm[cm['tres_nm'] == 'STEVE MELE']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
5594,C00507574,MOTOR CITY PAC,STEVE MELE,611 PENNSYLVANIA AVE SE,STE 143,WASHINGTON,DC,20003,D,Q,UNK,M,NaN,NaN,NaN,"MELE, STEVE",611 PENNSYLVANIA AVENUE SE,"611 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003"
12747,C00650366,LESLIE COCKBURN FOR CONGRESS,STEVE MELE,PO BOX 186,NaN,SPERRYVILLE,VA,22740,P,H,DEM,Q,NaN,NONE,H8VA05155,"MELE, STEVE",PO BOX 186,"PO BOX 186, SPERRYVILLE, VA 22740"
16182,C00685842,THE ARENA CANDIDATE PAC HOUSE VICTORY FUND,STEVE MELE,611 PENNSYLVANIA AVE SE,NUM 143,WASHINGTON,DC,20003,J,H,UNK,T,NaN,NaN,NaN,"MELE, STEVE",611 PENNSYLVANIA AVE SE,"611 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003"
16851,C00692988,ALL FOR OUR COUNTRY VICTORY FUND,STEVE MELE,611 PENNSYLVANIA AVE SE,STE. 143,WASHINGTON,DC,20003,J,N,UNK,Q,NaN,NONE,NaN,"MELE, STEVE",611 PENNSYLVANIA AVENUE SE,"611 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003"

In [82]:
cm[cm['tres_nm'] == 'STEVEN MELE'].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
6138,C00526657,TOWARD TOMORROW PAC,STEVEN MELE,PO BOX 544,NaN,SAN ANTONIO,TX,78292,D,Q,UNK,M,NaN,NaN,NaN,"MELE, STEVEN",PO BOX 544,"PO BOX 544, SAN ANTONIO, TX 78292"
8535,C00583104,CORTEZ MASTO VICTORY FUND,STEVEN MELE,611 PENNSYLVANIA AVE SE,NaN,WASHINGTON,DC,20003,J,N,UNK,T,NaN,NaN,NaN,STEVEN MELE,611 PENNSYLVANIA AVE SE SUITE 143,"611 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003"
9460,C00606939,ROSEN FOR NEVADA,STEVEN MELE,PO BOX 27195,NaN,LAS VEGAS,NV,89126,P,S,DEM,Q,NaN,ROSEN VICTORY FUND,S8NV00156,"MELE, STEVEN",PO BOX 27195,"PO BOX 27195, LAS VEGAS, NV 89126"
10991,C00627232,IVOTE ACTION FUND,STEVEN MELE,722 12TH ST NW,3RD FLOOR,WASHINGTON,DC,20005,U,O,UNK,Q,NaN,NONE,NaN,"MELE, STEVEN",722 12TH ST NW,"722 12TH ST NW, WASHINGTON, DC 20005"
11170,C00629212,ALL FOR OUR COUNTRY LEADERSHIP PAC,STEVEN MELE,611 PENNSYLVANIA AVE SE,NaN,WASHINGTON,DC,20003,D,Q,UNK,M,NaN,NaN,NaN,STEVEN MELE,"611 PENNSYLVANIA AVE SE, #143","611 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003"

In [83]:
new = 'STEVEN MELE'
dones.append(new)

these = findall(['steve', ' mele'])

getall(these, new)

orig len: 22
new len: 26

In [84]:
findall(['su', 'jackson'])

['SUE JACKSON', 'SUSAN JACKSON']

In [85]:
new = 'SUSAN JACKSON'
dones.append(new)

these = findall(['su', 'jackson'])

getall(these, new)

orig len: 2
new len: 21

In [86]:
findall(' otte')

['BENJAMIN OTTENHOFF', 'TIMOTHY OTTEN']

In [87]:
new = 'BENJAMIN OTTENHOFF'
dones.append(new)

these = findall(' otte')

getall(these, new)

orig len: 55
new len: 56

In [88]:
findall(' mcmi')

['ANN MCMILLAN',
 'COLLIN MCMICHAEL',
 'GEETA MCMILLAN',
 'KURT MCMILLAN',
 'MARY MCMILLAN']

In [89]:
dones.extend(findall(' mcmi'))

In [90]:
findall(' lew')

['ANDY LEWIS JAMES',
 'CHERYL LEWIS',
 'CORDELIA LEWIS BURKS',
 'DEBORAH LEWIS',
 'DENISE LEWIS',
 'EMANUEL LEWIS',
 'JACK LEWIS CHARBONNEAU',
 'JEFF LEWIS',
 'JENNIFER LEWIS',
 'KEET LEWIS',
 'LARRY LEWIS',
 'LEROY LEWIS',
 'LINDSAY LEWIS',
 'MARC LEWKOWITZ',
 'MARK LEWIS',
 'MARY PARKER LEWIS',
 'MICHAEL LEWIS',
 'NANCY LEWIS',
 'NATHAN LEWIS WURTZEL',
 'PAUL LEWIS',
 'ROSS BAZELON LEWIN',
 "SABRINA Y'VES LEWIS-JONES",
 'SANDRA LEWIS',
 'SCOTT LEWIS',
 'WENDY LEWIS',
 'WILLIAM LEWIS FANATIA']

In [91]:
findall(['and', ' james'])

['ALEX-ST JAMES ANDREW RAILEY-CISCO',
 'ANDREW JAMES MCDOWELL',
 'ANDY LEWIS JAMES',
 'BRANDON MICHAEL JAMES',
 'CHANDLER JAMES HOUGHTLEN']

In [92]:
findall(['cord', 'burk'])

['CORDELIA LEWIS BURKS']

In [93]:
findall('charbon')

['JACK LEWIS CHARBONNEAU']

In [94]:
findall(['nat', 'wurtz'])

['NATHAN LEWIS WURTZEL']

In [95]:
findall(' alston')

['LINDA ALSTON']

In [96]:
cm[cm['tres_nm'] == 'WENDY LEWIS']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
3934,C00450411,MOMENTUM PAC,WENDY LEWIS,1200 SMITH,SUITE 1600,HOUSTON,TX,77002,U,N,UNK,A,NaN,NaN,NaN,WENDY LEWIS,1200 SMITH,"1200 SMITH, HOUSTON, TX 77002"

In [97]:
cm[cm['tres_nm'] == 'WENDY LEWIS ARMSTRONG']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [98]:
new = 'WENDY LEWIS'
dones.append(new)

these = findall('wendy lewis')

getall(these, new)

orig len: 1
new len: 1

In [99]:
dones.extend(findall(' lew'))

In [100]:
findall(' lawl')

['CHRISTOPHER LAWLOR', 'KELLY LAWLER', 'SEWARD LAWLOR']

In [101]:
dones.extend(findall(' lawl'))

In [102]:
findall(' crum')

['GARY CRUMMITT', 'JANE CRUMPLER', 'JOHN CRUMP']

In [103]:
dones.extend(findall(' crum'))

In [104]:
findall(' slater')

['JEN SLATER', 'TODD SLATER']

In [105]:
dones.extend(findall(' slater'))

In [106]:
findall(' mccaul')

['ALICIA MCCAULEY', 'MICHAEL MCCAULEY', 'MIKE MCCAULEY']

In [107]:
dones.extend(findall(' mccaul'))

In [108]:
findall(' montg')

['CHRISTOPHER MONTGOMERY WOODFIN',
 'DAVA MONTGOMERY',
 'DIANE MONTGOMERY',
 'JAY MONTGOMERY',
 'LUKE MONTGOMERY',
 'MEGAN MONTGOMERY',
 'RUSSELL MONTGOMERY',
 'THOMAS MONTGOMERY']

In [109]:
dones.extend(findall(' montg'))

In [110]:
findall(' nis')

['MELISSA NISSEN']

In [111]:
dones.extend(findall(' nis'))

In [112]:
findall(' matthews')

['LAURA MATTHEWS', 'PAUL MATTHEWS']

In [113]:
dones.extend(findall(' matthews'))

In [114]:
findall(' goul')

['ANN MARIE GOULD', 'DAVID GOULD', 'VAN CHARLES GOULD']

In [115]:
cm[cm['tres_nm'].apply(lambda x: ('ADAM' in x) & ('GOULD' in x))]

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [116]:
new = 'ADAM KOHL GOULD'
dones.append(new)

these = findall(['adam', 'gould'])

getall(these, new)

orig len: 0
new len: 0

In [117]:
dones.extend(findall(' goul'))

In [118]:
findall(' gan')

['CHARLES GANTT',
 'HARVEY GANTT',
 'MARIA VICTORIA GANACIAS BORJA',
 'MARY RANDOLPH GANNON',
 'PETER GANGI',
 'RON GANT']

In [119]:
findall('borja')

['MARIA VICTORIA GANACIAS BORJA']

In [120]:
findall(['mary', 'randolph'])

['MARY RANDOLPH GANNON']

In [121]:
dones.extend(findall(' gan'))

In [122]:
findall(' carli')

['HELEN CARLIN', 'JAMES CARLISLE', 'MICHAEL CARLIN', 'ROBERT CARLIN']

In [123]:
dones.extend(findall(' carli'))

In [124]:
findall(' kra')

['ALLEN KRAMER',
 'BETH KRATOCHVIL',
 'BLAKE ALAN KRAPF',
 'CATHERINE KRANTZ',
 'DAVID KRALLE',
 'DAVID KRAMER',
 'DON KRAUS',
 'JOHN KRALL',
 'PATRICK KRASON',
 'SHAWN KRAUSE',
 'STEVEN KRAVITZ',
 'TOM KRAUSE']

In [125]:
cm[cm['tres_nm'] == 'THOMAS KRAUS']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [126]:
cm[cm['tres_nm'] == 'TOM KRAUSE']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
15667,C00680504,BROADCOM INC. POLITICAL ACTION COMMITTEE (BROA...,TOM KRAUSE,1320 RIDDER PARK DR,NaN,SAN JOSE,CA,95131,U,Q,UNK,M,C,NaN,NaN,"KRAUSE, TOM",1320 RIDDER PARK DR.,"1320 RIDDER PARK DR, SAN JOSE, CA 95131"

In [127]:
dones.extend(findall(' kra'))

In [128]:
findall(' koch')

['KEVIN KOCH',
 'LINDA KOCH',
 'NICHOLAS KOCH',
 'THEODORE KOCH',
 'TIMOTHY KOCH',
 'TOM KOCHAN']

In [129]:
dones.extend(findall(' koch'))

In [130]:
findall(' win')

['ALAN WINDGASSEN',
 'ALISON WINGATE',
 'ANDREW WINTERING',
 'ARTHUR WINSTEAD',
 'BRIGEN WINTERS',
 'DEAN WINE',
 'ELIZABETH WINN BJORK',
 'HICKS WINTERS',
 'JOHN WINKLER',
 'KAREN WINGARD',
 'MICHAEL WINTERHALTER',
 'PATRICIA WINTER',
 'ROBERT LEROY WINTER',
 'ROBERT VAN WINTON',
 'STEVE WIND',
 'THOMAS WINTER',
 'VICKIE WINPISINGER']

In [131]:
dones.extend(findall(' win'))

In [132]:
findall(' rit')

['ANDREW RITTENBERG',
 'ERIN RITTER',
 'JOEL RITER',
 'MAX WILSON RITTER',
 'TOM RITTER']

In [133]:
dones.extend(findall(' rit'))

In [134]:
findall(' tat')

['ADAM TATUN',
 'ALIX TATE',
 'BRIAN TATUM',
 'DARRYL TATTRIE',
 'ELIZABETH TATE',
 'JOHN TATE',
 'MARTHA SHAW TATE',
 'SAMBA TATA',
 'SRINIVASA TATINENI',
 'STANLEY TATE']

In [135]:
cm[cm['tres_nm'].apply(lambda x: x in ['BRIAN TATUM', 'BRYAN TATUM'])]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
3203,C00415026,AMERICAN FUELS AND PETROCHEMICAL MANUFACTURERS...,BRIAN TATUM,1800 M ST NW,SUITE 900 NORTH,WASHINGTON,DC,20036,B,Q,UNK,M,T,AMERICAN FUELS AND PETROCHEMICAL MANUFACTURERS...,NaN,"TATUM, BRIAN",1800 M STREET NW,"1800 M ST NW, WASHINGTON, DC 20036"

In [136]:
dones.extend(findall(' tat'))

In [137]:
findall('ralls')

['STEVE RALLS', 'STEVEN RALLS']

In [138]:
cm[cm['tres_nm'] == 'STEVEN RALLS']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
2845,C00395467,JEFF FORTENBERRY FOR UNITED STATES CONGRESS,STEVEN RALLS,PO BOX 30265,NaN,LINCOLN,NE,68503,P,H,REP,Q,NaN,NONE,H4NE01064,"RALLS, STEVEN",PO BOX 30265,"PO BOX 30265, LINCOLN, NE 68503"

In [139]:
cm[cm['tres_nm'] == 'STEVE RALLS'].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
3389,C00426494,FOR OUR REPUBLIC'S TRADITIONS FUND AKA FORT FUND,STEVE RALLS,PO BOX 30883,NaN,LINCOLN,NE,68503,D,N,UNK,M,NaN,JEFF FORTENBERRY,NaN,"RALLS, STEVE MR.",PO BOX 30883,"PO BOX 30883, LINCOLN, NE 68503"
3416,C00427781,ONLINE LENDERS ALLIANCE POLITICAL ACTION COMMI...,STEVE RALLS,PO BOX 15480,SE STATION,WASHINGTON,DC,20003,U,Q,UNK,M,M,ONLINE LENDERS ALLIANCE,NaN,"RALLS, STEVE",PO BOX 15480,"PO BOX 15480, WASHINGTON, DC 20003"
5012,C00489336,WILD AND WONDERFUL PAC,STEVE RALLS,332 W LEE HWY,# 303,WARRENTON,VA,20186,D,Q,UNK,M,NaN,NaN,NaN,"RALLS, STEVE",332 W LEE HWY,"332 W LEE HWY, WARRENTON, VA 20186"
5345,C00498345,MULLIN FOR CONGRESS,STEVE RALLS,PO BOX 3681,NaN,MUSKOGEE,OK,74402,P,H,REP,Q,NaN,MULLIN VICTORY FUND,H2OK02083,"RALLS, STEVE",PO BOX 3681,"PO BOX 3681, MUSKOGEE, OK 74402"
5508,C00504365,FUNDING REPUBLICANS SUPPORTING OPPORTUNITY AND...,STEVE RALLS,332 W LEE HWY,# 303,WARRENTON,VA,20186,D,N,UNK,T,NaN,NaN,NaN,STEVE RALLS,332 W LEE HWY,"332 W LEE HWY, WARRENTON, VA 20186"

In [140]:
new = 'STEVE RALLS'
dones.append(new)

these = findall('ralls')

getall(these, new)

orig len: 22
new len: 23

In [141]:
findall(' has')

['BECKY HASSLEN',
 'CHRISSIE HASTIE',
 'GARY HASTY',
 'JOSEPH HASTO',
 'KHAWAR HASSAN',
 'NEIL HASSETT']

In [142]:
dones.extend(findall(' has'))

In [143]:
findall(' buch')

['EMILY BUCHANAN',
 'KATHERINE BUCHANAN',
 'KIMBERLY BUCHAN',
 'MARY ANNE BUCHANAN',
 'SHAWN BUCHTEL',
 'TIM BUCHE']

In [144]:
dones.extend(findall(' buch'))

In [145]:
findall(' bac')

['ANDREW BACON',
 'BENJAMIN BACKER',
 'CATHARYNE BACH',
 'DAN BACHUS',
 'DAN BACKER',
 'DANIEL BACINE',
 'JA BACHMAN',
 'JOEL BACON',
 'WILLIAM BACHMAN']

In [146]:
dones.extend(findall(' bac'))

In [147]:
findall(' brog')

['KEVIN BROGHAMER', 'LEE ANNE BROGOWSKI', 'MICHAEL BROGAN', 'RICHARD BROGAN']

In [148]:
dones.extend(findall(' brog'))

In [149]:
findall(' gia')

['ANDREW GIANNONE',
 'FRANCIS GIARDIELLO',
 'HOLLY GIARRAPUTO',
 'JOEL GIANNELLI',
 'SAVERIO GIAMBALVO',
 'SUSAN GIANNETTI LONGACRE']

In [150]:
findall('longacre')

['SUSAN GIANNETTI LONGACRE']

In [151]:
dones.extend(findall(' gia'))

In [152]:
findall(' deane')

['SHAWNDA DEANE']

In [153]:
dones.extend(findall(' deane'))

In [154]:
findall(' hag')

['DEBORAH RUTH HAGAR',
 'HILLARY HAGERTY',
 'JANICE GWYN HAGERMAN',
 'JOHN HAGY',
 'LORA HAGGARD',
 'PAUL HAGY',
 'RICHARD HAGEN',
 'SARAH HAGER',
 'TIMOTHY HAGAN']

In [155]:
dones.extend(findall(' hag'))

In [156]:
findall(' anger')

['LINDSAY ANGERHOLZER']

In [157]:
dones.extend(findall(' anger'))

In [158]:
findall(' lowe')

['AARON LOWE',
 'GRETCHEN LOWE',
 'JENNIFER LOWE',
 'KEITH LOWEY',
 'LUCAS LOWELL EASLEY',
 'ROSS LOWE',
 'TRAVIS LOWE']

In [159]:
dones.extend(findall(' lowe'))

In [160]:
findall(' bau')

['BRIAN BAUER',
 'CARL BAUMAN',
 'DAVID BAUER',
 'DAWN BAUMAN',
 'GARY BAUER',
 'LINDA BAUER DARR',
 'NATALIE BAUR',
 'ORPHEAO BAUM',
 'PAULA BAUER',
 'TED BAUER']

In [161]:
findall(['ju', 'mart'])

[]

In [162]:
dones.extend(findall(' bau'))

In [163]:
findall(' evans')

['BRENT EVANS',
 'BRIAN EVANS',
 'DEBI EVANS',
 'DIANE EVANS',
 'DOUG EVANS',
 'GEORGE EVANS',
 'HEATHER EVANS',
 'JAMES EVANS',
 'JON EVANS',
 'LYLE EVANS',
 'MELISSA ANNE EVANS',
 'NICHOLAS EVANS',
 'WALTER EVANS']

In [164]:
findall(' doyle')

['JOHN DOYLE', 'MATTHEW DOYLE', 'PETER DOYLE', 'TIM DOYLE']

In [165]:
dones.extend(findall(' doyle'))

In [166]:
dones.extend(findall(' evans'))

In [167]:
findall(' mason')

['DAVE MASON',
 'DAVID MASON',
 'DIRK MASON CANTRELL',
 'DYANA MASON',
 'JACQUELINE MASON',
 'MARCUS MASON',
 'MICHAEL MASON',
 'STACY MASON']

In [168]:
cm[cm['tres_nm'] == 'DAVE MASON'].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
3021,C00406850,BLUE CROSS BLUE SHIELD OF SOUTH CAROLINA FEDER...,DAVE MASON,INTERSTATE 20 AT ALPINE RD,NaN,COLUMBIA,SC,29214,B,Q,UNK,Q,C,NaN,NaN,"MASON, DAVE MR.",INTERSTATE 20 AT ALPINE ROAD,"INTERSTATE 20 AT ALPINE RD, COLUMBIA, SC 29214"

In [169]:
cm[(cm['tres_nm'] == 'DAVID MASON') & (cm['cmte_st'] == 'SC')].head()

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [170]:
findall('cantrell')

['DIRK MASON CANTRELL']

In [171]:
cm[cm['tres_nm'] == 'MICHAEL THOMAS MASON'].head()

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [172]:
cm[(cm['tres_nm'] == 'MICHAEL MASON') & (cm['cmte_st'] == 'TX')].head()

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
1574,C00268904,TRINITY INDUSTRIES EMPLOYEE POLITICAL ACTION C...,MICHAEL MASON,2525 N STEMMONS FREEWAY,NaN,DALLAS,TX,75207,B,Q,UNK,M,C,TRINITY INDUSTRIES INC.,NaN,"MASON, MICHAEL J.",2525 N. STEMMONS FREEWAY,"2525 N STEMMONS FREEWAY, DALLAS, TX 75207"

In [173]:
new = 'MICHAEL MASON'
dones.append(new)

these = findall(['michael', 'mason'])

getall(these, new)

orig len: 1
new len: 1

In [174]:
findall(' hale')

['CHRISTINA HALEY',
 'DAN HALEY',
 'DONALD BRETT HALE',
 'JAMES HALE',
 'NANCY HALEY',
 'RANDY HALE',
 'TONY HALE',
 'YVONNE HALEJKO']

In [175]:
dones.extend(findall(' mason'))

In [176]:
findall(' lloyd')

['JOHN LLOYD', 'JUSTIN LLOYD MCNEEL', 'PHILIP LLOYD', 'WILLIS LLOYD']

In [177]:
findall(' mcneel')

['JUSTIN LLOYD MCNEEL']

In [178]:
dones.extend(findall(' lloyd'))

In [179]:
findall(' johnson')

['ANDREW JOHNSON',
 'AQUASIA JOHNSON',
 'ARLEY JOHNSON',
 'ARNOLD JOHNSON',
 'BETTY JOHNSON',
 'BRAD JOHNSON',
 'BRIAN JOHNSON',
 'BURT JOHNSON',
 'CATHERINE JOHNSON',
 'CHARLES JOHNSON',
 'CHELSEA JOHNSON',
 'CHRIS JOHNSON',
 'CLAY JOHNSON',
 'CLIFFORD JOHNSON',
 'CONSTANCE JOHNSON',
 'CORY JOHNSON',
 'DAVID JOHNSON',
 'DUANE JOSEPH JOHNSON',
 'EDDIE JOHNSON',
 'EMMA JOHNSON',
 'ERIC JOHNSON',
 'ERIK ARLEN JOHNSON',
 'GEORGE JOHNSON',
 'GREGORY JOHNSON',
 'JAMES JOHNSON',
 'JUDITH JOHNSON',
 'JULIE JOHNSON',
 'KENNETH JOHNSON',
 'LINELL JOHNSON',
 'LORRETTA JOHNSON',
 'LOUIS JOHNSON',
 'MARK JOHNSON',
 'MATTHEW JOHNSON',
 'MELODIE JOHNSON',
 'MICHAEL JOHNSON',
 'OTIS LEE JOHNSON',
 'PRINCESS JOHNSON',
 'ROBERT JOHNSON',
 'SARAH JOHNSON',
 'STANLEY JOHNSON',
 'STEPHEN JOHNSON',
 'SUSAN JOHNSON',
 'THOMAS JOHNSON',
 'THOMAS WAYNE JOHNSON',
 'VERDELL JOHNSON',
 'WILLIAM JOHNSON']

In [180]:
cm[cm['tres_nm'] == 'ARLEN JOHNSON']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [181]:
cm[cm['tres_nm'] == 'ERIK ARLEN JOHNSON']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
16221,C00686238,RESISTERY PAC,ERIK ARLEN JOHNSON,275 LAKE DR,NaN,KENSINGTON,CA,94708,U,O,UNK,Q,NaN,NaN,NaN,ERIK ARLEN JOHNSON,275 LAKE DRIVE,"275 LAKE DR, KENSINGTON, CA 94708"

In [182]:
cm[cm['tres_nm'] == 'CHRIS JOHNSON']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
6169,C00528166,NATIONAL ASSOCIATION FOR FIXED ANNUITIES POLIT...,CHRIS JOHNSON,1155 F ST NW,SUITE 1050,WASHINGTON,DC,20004,U,Q,UNK,Q,T,NaN,NaN,"JOHNSON, CHRIS",1155 F ST NW,"1155 F ST NW, WASHINGTON, DC 20004"

In [183]:
cm[cm['tres_nm'] == 'CHRISTOPHER LEE JOHNSON']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [184]:
cm[cm['tres_nm'] == 'JIM JOHNSON']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [185]:
cm[cm['tres_nm'] == 'JAMES JOHNSON']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
1378,C00236034,WERNER ENTERPRISES INC POLITICAL ACTION COMMITTEE,JAMES JOHNSON,14507 FRONTIER RD,NaN,OMAHA,NE,68138,U,Q,UNK,Q,C,WERNER ENTERPRISES INC,NaN,"JOHNSON, JAMES L.",14507 FRONTIER ROAD,"14507 FRONTIER RD, OMAHA, NE 68138"
3162,C00412569,DENTON COUNTY REPUBLICAN VICTORY FUND,JAMES JOHNSON,2921 COUNTRY CLUB RD,NaN,DENTON,TX,76202,U,X,REP,M,M,REPUBLICAN PARTY OF TEXAS,NaN,"JOHNSON, JAMES S.",2921 COUNTRY CLUB RD #102,"2921 COUNTRY CLUB RD, DENTON, TX 76202"

In [186]:
cm[cm['tres_nm'] == 'LORETTA JOHNSON']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [187]:
cm[cm['tres_nm'] == 'LORRETTA JOHNSON']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
216,C00028860,"AMERICAN FEDERATION OF TEACHERS, AFL-CIO COMMI...",LORRETTA JOHNSON,555 NEW JERSEY AVE NW,NaN,WASHINGTON,DC,20001,B,Q,UNK,M,L,"AMERICAN FEDERATION OF TEACHERS, AFL-CIO",NaN,"JOHNSON, LORRETTA","555 NEW JERSEY AVENUE, NW","555 NEW JERSEY AVE NW, WASHINGTON, DC 20001"
17352,C70002472,"AMERICAN FEDERATION OF TEACHERS, AFL-CIO",LORRETTA JOHNSON,555 NEW JERSEY AVE NW,NaN,WASHINGTON,DC,20001,U,C,UNK,Q,L,NaN,NaN,"JOHNSON, LORRETTA","555 NEW JERSEY AVENUE, N.W.","555 NEW JERSEY AVE NW, WASHINGTON, DC 20001"

In [188]:
new = 'LORRETTA JOHNSON'
dones.append(new)

these = findall(['lor', 'etta', 'johnson'])

getall(these, new)

orig len: 2
new len: 2

In [189]:
findall(['mi', 'gibson'])

['MICHAEL GIBSON']

In [190]:
dones.extend(findall(' johnson'))

In [191]:
findall(' goldstein')

[]

In [192]:
dones.extend(findall(' goldstein'))

In [193]:
findall(' marks')

['BRUCE MARKS',
 'ELENA MARKS',
 'JEFFREY MARKS',
 'MICHELLE MARKS-OSBORNE',
 'NANCY MARKS',
 'STEPHEN MARKS']

In [194]:
dones.extend(findall(' marks'))

In [195]:
findall(' grav')

['RONALD GRAVINO', 'SCOTT GRAVES', 'SHARRON GRAVES']

In [196]:
dones.extend(findall(' grav'))

In [197]:
findall(' eich')

['ALYSSA EICHMAN', 'FRED EICHEL', 'RICHARD EICHMAN']

In [198]:
dones.extend(findall(' eich'))

In [199]:
findall(' fou')

['BRIAN FOUCART', 'KEITH FOURNIER', 'ROGER FOUNTAIN']

In [200]:
dones.extend(findall(' fou'))

In [201]:
findall(' martin')

['ANDY MARTIN',
 'ANTONIO MARTINEZ',
 'CARL MARTIN NELSON',
 'CASSANDRA MARTINEZ',
 'CHARLES MARTIN',
 'CHRIS MARTIN',
 'CLIFFORD MARTIN',
 'DAVID MARTIN',
 'ED MARTIN',
 'EDWARD MARTIN',
 'ERNESTO MARTINEZ',
 'FRANCES MARTIN',
 'GAYLE MARTIN',
 'GEMMA MARTIN',
 'GREGORY MARTIN WADE',
 'JANE MARTIN',
 'JANICE MARTIN',
 'JEAN MARTINEZ',
 'JENA TONICE MARTIN',
 'JENNIFER MARTIN',
 'JOHN MARTIN',
 'JONATHAN MARTIN',
 'JOSE DANIEL MARTINES',
 'JOSEPH MARTIN',
 'KEVIN MARTIN',
 'LARISSA MARTINEZ',
 'LILIANA MARTINEZ',
 'LISA MARTINEZ',
 'LOUIE CRUZ MARTINEZ',
 'MARIA MARTINEZ',
 'MARIO MARTINEZ',
 'NOVEL MARTIN',
 'PAUL MARTINO',
 'PAULETTE MARIE MARTIN',
 'ROBERT MARTINEZ',
 'ROQUE MARTINEZ',
 'SANDRA MARTINEZ',
 'SARAH MARTIN',
 'STEVEN MARTIN',
 'SUSAN MARTIN',
 'TERESA MARTINEZ',
 'XAVIER MARTINEZ']

In [202]:
findall(' salazar')

[]

In [203]:
findall('salzburg')

['MICHAEL JOSEPH SALZBURG-FELTS']

In [204]:
cm[cm['tres_nm'] == 'STEVE MARTIN']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [205]:
cm[(cm['tres_nm'] == 'STEVEN MARTIN') & (cm['cmte_st'] == 'NC')]

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [206]:
dones.extend(findall(' martin'))

In [207]:
findall(' davidson')

['CARY DAVIDSON', 'DWIGHT DAVIDSON', 'REBECCA DAVIDSON', 'ROBERT DAVIDSON']

In [208]:
findall(['paul', 'reynolds'])

['PAUL REYNOLDS']

In [209]:
cm[cm['tres_nm'] == 'PAUL REYNOLDS']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
12660,C00649459,DIANE FOR COLORADO CD3,PAUL REYNOLDS,PO BOX 771606,NaN,STEAMBOAT SPRINGS,CO,80477,P,H,DEM,Q,NaN,DIANE MITSCH BUSH VICTORY FUND,H8CO03192,"REYNOLDS, PAUL D. MR.",PO BOX 771606,"PO BOX 771606, STEAMBOAT SPRINGS, CO 80477"
16364,C00687715,DIANE MITSCH BUSH VICTORY FUND,PAUL REYNOLDS,PO BOX 771606,NaN,STEAMBOAT SPRINGS,DC,80477,J,N,UNK,Q,NaN,NONE,NaN,"REYNOLDS, PAUL D. MR.",PO BOX 771606,"PO BOX 771606, STEAMBOAT SPRINGS, DC 80477"

In [210]:
cm[cm['tres_nm'] == 'PAUL DAVIDSON REYNOLDS']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [211]:
new = 'PAUL DAVIDSON REYNOLDS'
dones.append(new)

these = findall(['paul', 'reynolds'])

getall(these, new)

orig len: 0
new len: 2

In [212]:
dones.extend(findall(' davidson'))

In [213]:
findall(' bren')

['ANNE BRENSLEY',
 'CHRISTOPHER BRENNAN',
 'GREGORY BRENNICK',
 'LAUREL BRENNAN',
 'MEGAN BRENGARTH',
 'OZY ROSE BRENNAN',
 'TOM BRENEMAN',
 'TUCKER BRENNAN']

In [214]:
findall(' mantan')

[]

In [215]:
dones.extend(findall(' bren'))

In [216]:
findall(' mont')

['CHRISTOPHER MONTGOMERY WOODFIN',
 'DACEY MONTOYA',
 'DARRIN MONTEIRO',
 'DAVA MONTGOMERY',
 'DIANE MONTGOMERY',
 'JAY MONTGOMERY',
 'LUKE MONTGOMERY',
 'MEGAN MONTGOMERY',
 'MICHAEL MONT',
 'PATRICIA MONTAGUE',
 'RUSSELL MONTGOMERY',
 'THOMAS MONTGOMERY']

In [217]:
dones.extend(findall(' mont'))

In [218]:
findall(' hank')

['BRENDA HANKINS']

In [219]:
dones.extend(findall(' hank'))

In [220]:
findall(' lesh')

['GREGORY LESHOCK', 'MEREDITH LESHER', 'WARREN LESHNER']

In [221]:
dones.extend(findall(' lesh'))

In [222]:
findall(' bre')

['ANNE BRENSLEY',
 'BAILEY BRESSLER',
 'BEN BREWSTER',
 'BENJAMIN BREUER',
 'CATHERINE BRESLER',
 'CHARLES BREIT',
 'CHRISTOPHER BRENNAN',
 'CHRISTOPHER SCOTT BREWER',
 'DONALD BRETT HALE',
 'GREGORY BRENNICK',
 'HANNELORE BREITMEYER-JONES',
 'JAMES TROY BREWER',
 'JONATHAN BRETT RINGHAM',
 'LAUREL BRENNAN',
 'MARK BREBBERMAN',
 'MEGAN BRENGARTH',
 'MICHAEL BREATHES',
 'NICOLE BREWIN',
 'OZY ROSE BRENNAN',
 'PATRICIA BREED',
 'PAUL BREAZEALE',
 'TOM BRENEMAN',
 'TROY BREWER',
 'TUCKER BRENNAN',
 'VICTOR BREED',
 'WADE BREWER']

In [223]:
cm[cm['tres_nm'] == 'JAMES BREWER']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [224]:
cm[cm['tres_nm'] == 'JAMES TROY BREWER']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
11743,C00635219,DAVID PAC DELIVERING AMERICAN VALUES IN DC,JAMES TROY BREWER,95 WHITE BRIDGE RD,NaN,NASHVILLE,TN,37205,D,N,UNK,Q,NaN,DAVID KUSTOFF,NaN,JAMES TROY BREWER,95 WHITE BRIDGE RD SUITE 207,"95 WHITE BRIDGE RD, NASHVILLE, TN 37205"
15870,C00682633,TENNESSEANS FOR A STRONG AMERICA PAC,JAMES TROY BREWER,95 WHITE BRIDGE RD,SUITE 207,NASHVILLE,TN,37205,U,O,UNK,Q,NaN,NONE,NaN,"BREWER, JAMES TROY",95 WHITE BRIDGE RD,"95 WHITE BRIDGE RD, NASHVILLE, TN 37205"

In [225]:
new = 'JAMES BREWER'
dones.append(new)

these = findall(['james', 'brewer'])

getall(these, new)

orig len: 0
new len: 2

In [226]:
findall(' ringham')

['JONATHAN BRETT RINGHAM']

In [227]:
dones.extend(findall(' bre'))

In [228]:
findall(' sel')

['CRYSTAL SELLERS',
 'GREGORY SELTZER',
 'JANET SELWAY',
 'JOHN SELPH',
 'JUDITH SELZER',
 'KATHY SELVAGGIO',
 'LAURA SELKEN',
 'LAURIE SELF',
 'LINDA SELL',
 'MONIKA SELMONT',
 'PAUL SELTMAN',
 'STEVE SELTZER']

In [229]:
findall(['ja', 'peters'])

[]

In [230]:
findall(['sar', 'scot'])

['SARAH HARPER SCOTT']

In [231]:
dones.extend(findall(' sel'))

In [232]:
findall(' owen')

['DAVID OWEN',
 'ETHAN OWENS',
 'GAIL DENISE OWENS',
 'JOHN OWENS',
 'LINDA OWENS',
 'OSCAR OWENS',
 'ROBERT OWENS',
 'RODNEY OWEN MOSIER',
 'SELENA OWENS',
 'STACY OWENS',
 'THADDEUS OWENS',
 'WENDI OWEN',
 'WENDY ANNOR OWENS']

In [233]:
findall(' mosier')

['HELEN MOSIER', 'JONATHAN MOSIER', 'RODNEY OWEN MOSIER']

In [234]:
dones.extend(findall(' owen'))

In [235]:
findall(' vo')

['CHRISTOPHER VOROS',
 'DATHAN VOELTER',
 'FRANCIS VOIGT',
 'HARRISON WAGNER VON DWINGELO',
 'JEN GILBERT VOSS',
 'MARK VOGEL',
 'MARTIN VOGT',
 'PATRICK VOSS',
 'PAUL VOGEL',
 'RICHARD VOLIVA',
 'ROBERT VOLTMANN',
 'ROGER VON TING',
 'TARYN VOGEL']

In [236]:
findall(' luza')

[]

In [237]:
dones.extend(findall(' vo'))

In [238]:
findall(' bol')

['APRIL BOLING',
 'CHRISTINE BOLDT',
 'DANIEL BOLLNER',
 'DIANE BOLAK',
 'DONALD PATRICK BOLENA',
 'ELDAR BOLSAKOV',
 'JEFFERY BOLTON',
 'JERRY BOLES',
 'JESSE BOLIN',
 'JOHN BOLING',
 'KIMBERLY BOLIN',
 'MICHAEL BOLAND',
 'MICHAEL BOLLENTIN',
 'MICHAEL BOLTON',
 'MIKE BOLAND',
 'NATHAN BOLT',
 'PRENTISS BOLIN',
 'REGINALD BOLDING',
 'TOM BOLOVINOS',
 'VINCENT BOLLON']

In [239]:
dones.extend(findall(' bol'))

In [240]:
findall(' hub')

['AARON HUBBARD',
 'BEN HUBBY',
 'CHARLES HUBERT HAUSER',
 'EDWARD HUBBARD',
 'FREDDIE HUBBARD',
 'HARRY HUBBARD',
 'JACK HUBBARD',
 'JIM HUBBARD',
 'SCOTT HUBAY',
 'TSHOMBE HUBBARD']

In [241]:
findall(' hauser')

['CHARLES HUBERT HAUSER']

In [242]:
dones.extend(findall(' hub'))

In [243]:
findall(' oz')

['NINA OZLU TUNCELI', 'WILLIAM OZANUS']

In [244]:
findall(' tunc')

['NINA OZLU TUNCELI']

In [245]:
dones.extend(findall(' oz'))

In [246]:
findall(' groe')

['ERIC GROEN', 'REBECCA GROEN']

In [247]:
dones.extend(findall(' groe'))

In [248]:
findall(' sola')

['DEREK SOLAR', 'KRISTIN SOLANDER']

In [249]:
findall(['ed', 'patterson'])

[]

In [250]:
dones.extend(findall(' sola'))

In [251]:
findall(' rupp')

['BEN RUPP', 'DAVID RUPPENICKER', 'JEFFREY RUPPERT', 'LORI RUPPEN']

In [252]:
dones.extend(findall(' rupp'))

In [253]:
findall(' schi')

['ADAM VICTOR SCHILLER',
 'AMY SCHILLING',
 'ANTHONY SCHIWEIER',
 'ERIC SCHIPPERS',
 'JAMES SCHISSER',
 'JOHN SCHILLING',
 'JOSEPH SCHINTZ',
 'KEVIN SCHIEFFER',
 'LOUIS SCHIAZZA',
 'MARY SCHILLING',
 'SARAH SCHIMDT']

In [254]:
dones.extend(findall(' schi'))

In [255]:
findall(' guin')

[]

In [256]:
dones.extend(findall(' guin'))

In [257]:
findall(' stone')

['ANN STONE',
 'ERIC STONEHAM',
 'LISA STONE',
 "O'LENE STONE",
 'ROBIN STONE',
 'RUTH ROCHELLE STONER',
 'SAMUEL STONE',
 'SHARON STONES',
 'SHERRI STONE']

In [258]:
dones.extend(findall(' stone'))

In [259]:
findall(' cros')

['CALEB CROSBY',
 'COLLEEN CROSSEY',
 'GRADY CROSBY',
 'KAREN CROSS',
 'MARK CROSS']

In [260]:
dones.extend(findall(' cros'))

In [261]:
findall(' gla')

['ALAN GLAZIER',
 'EUSTACE GLASGOW',
 'EZRA GLASER',
 'JOHN GLANCEY',
 'MITCH GLAZIER',
 'WILLIAM GLASS']

In [262]:
findall('hemmig')

[]

In [263]:
dones.extend(findall(' gla'))

In [264]:
findall(' ragan')

['ASHLEY RAGAN', 'JACKI RAGAN', 'JENNIFER RAGAN', 'VIRGINIA RAGAN']

In [265]:
dones.extend(findall(' ragan'))

In [266]:
findall(' mau')

['DAVID MAURO',
 'GEORGE MAURER',
 'STACEY MAUD',
 'TERRY MAUPIN',
 'WENDY MAUSOLF']

In [267]:
findall('littlejohn')

[]

In [268]:
findall('buchser')

[]

In [269]:
dones.extend(findall(' mau'))

In [270]:
findall(' snyd')

['CRAIG SNYDER', 'FRANK SNYDER', 'JASON SNYDER', 'RICHARD SNYDER']

In [271]:
dones.extend(findall(' snyd'))

In [272]:
findall(' pur')

['BYRON PURCELL',
 'CRAIG PURSER',
 'KENNETH PURNELL YANCY',
 'MICHAEL PURZYCKI',
 'PAULA PURDY',
 'SALVATORE PURPURA',
 'SANJAY PURI',
 'STARR PURDUE']

In [273]:
findall(' balc')

[]

In [274]:
dones.extend(findall(' pur'))

In [275]:
findall(' lei')

['BRYAN LEIB',
 'CODY PAUL LEISTIKOW',
 'CYNTHIA LEIGH APPLEBAUM',
 'ERIC LEIGH KELLER',
 'GARY LEIGH',
 'GLEN LEIBOWITZ',
 'JANE LEIDERMAN',
 'JUSTIN LEIGH FARBER',
 'MIGUEL LEIJA',
 'SUSAN LEIVAS-STURNER']

In [276]:
findall('bronson')

[]

In [277]:
findall('kasz')

[]

In [278]:
findall(['cynth', 'apple'])

['CYNTHIA LEIGH APPLEBAUM']

In [279]:
findall('fowler')

['PAUL FOWLER', 'RICHARD ANTHONY FOWLER', 'SCOTT FOWLER', 'SEAN FOWLER']

In [280]:
findall('keller')

['AARON KELLER',
 'CRAIG KELLER',
 'ERIC KELLER',
 'ERIC LEIGH KELLER',
 'JAMES KELLER',
 'LYNNE KELLER']

In [281]:
cm[cm['tres_nm'] == 'ERIC KELLER']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
16029,C00684282,EDEMOCRATS PAC LLC,ERIC KELLER,70 LINDEN AVE,P O BOX 2134,HADDONFIELD,NJ,08033,U,N,UNK,Q,NaN,NONE,NaN,"KELLER, ERIC MR",70 LINDEN AVENUE,"70 LINDEN AVE, HADDONFIELD, NJ 08033"

In [282]:
cm[cm['tres_nm'] == 'ERIC LEIGH KELLER']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
14311,C00666537,PRESS FREEDOM POLITICAL ACTION COMMITTEE,ERIC LEIGH KELLER,902 TURKEY RUN RD,NaN,MCLEAN,VA,22101,U,N,UNK,Q,NaN,NONE,NaN,"KELLER, ERIC LEIGH MR.",902 TURKEY RUN ROAD,"902 TURKEY RUN RD, MCLEAN, VA 22101"

In [283]:
findall(' hubbard')

['AARON HUBBARD',
 'EDWARD HUBBARD',
 'FREDDIE HUBBARD',
 'HARRY HUBBARD',
 'JACK HUBBARD',
 'JIM HUBBARD',
 'TSHOMBE HUBBARD']

In [284]:
dones.extend(findall(' lei'))

In [285]:
findall(' tea')

['DONALD TEAL', 'GARY TEAL', 'MATT TEAGARDEN', 'RICHARD TEAMAN']

In [286]:
dones.extend(findall(' tea'))

In [287]:
findall(' rut')

['DEBORAH RUTH HAGAR',
 'JANNA RUTLAND',
 'JEFFREY RUTAN',
 'JOHN RUTKAUSKAS',
 'LUCY RUTISHAUSER',
 'REID RUTHERFORD',
 'SUSAN RUTT']

In [288]:
findall('bellar')

[]

In [289]:
findall(' mayo')

['HEATH MAYO']

In [290]:
dones.extend(findall(' mayo'))

In [291]:
dones.extend(findall(' rut'))

In [292]:
findall(' elli')

['ALLEN ELLISON',
 'AMY ELLIS',
 'GREG ELLIOTT',
 'HEIDI ELLIS ROBEY',
 'JEROME ELLIOTT TRES TRUSTEE FIELDS',
 'JOE ELLISON',
 'JOHN CLELLAND ELLIS',
 'LISA ELLIS',
 'MICHAEL ELLIOTT',
 'SCOTT ELLINGTON',
 'THERESA ELLINGTON',
 'TWANA ELLIOTT']

In [293]:
findall(' robey')

['HEIDI ELLIS ROBEY']

In [294]:
findall(' dahl')

['LISA DAHLING', 'THOMAS DAHLEN']

In [295]:
dones.extend(findall(' elli'))

In [296]:
findall(' kee')

['BRONWYN KEENAN',
 'DARRYL KEENAN SEGARS',
 'DAVID KEEN',
 'HELENE KEELEY',
 'JOHN KEELING',
 'LYNETTE KEETON',
 'MICHAEL KEELING',
 'THORNTON KEEL']

In [297]:
findall(' segars')

['DARRYL KEENAN SEGARS']

In [298]:
dones.extend(findall(' kee'))

In [299]:
findall(' jan')

['AUSTIN BENNET TR JANSSEN',
 'BEVE JANE THAKHAMHOR',
 'DEBORAH JANSEN',
 'DNP APRN JANICE JONES',
 'ELAINE JANUS',
 'GORAN JANKOVIC',
 'JOHN JANKOWSKI',
 'LATREASHA JANET GIVENS',
 'MICHELLE JANEEN WHITE',
 'TIMOTHY JANISSE']

In [300]:
findall(' janssen')

['AUSTIN BENNET TR JANSSEN']

In [301]:
findall(' thakh')

['BEVE JANE THAKHAMHOR']

In [302]:
findall('osgerby')

[]

In [303]:
findall('wharton')

['CYNTHIA WHARTON', 'KOTA WHARTON']

In [304]:
findall(' tanis')

[]

In [305]:
dones.extend(findall(' jan'))

In [306]:
findall(' dupr')

['ABBY DUPREE']

In [307]:
dones.extend(findall(' dupr'))

In [308]:
findall(' schwartz')

['ANDREW SCHWARTZ',
 'ARTHUR SCHWARTZ',
 'JAMES SCHWARTZ',
 'JENNIFER SCHWARTZ',
 'KARL SCHWARTZ',
 'LAURA SCHWARTZ',
 'MELODIE SCHWARTZ',
 'STEVEN SCHWARTZ']

In [309]:
cm[cm['tres_nm'] == 'LAURA SCHWARTZ']

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
8348,C00580415,FASO FOR CONGRESS,LAURA SCHWARTZ,PO BOX 448,NaN,KINDERHOOK,NY,12106,P,H,REP,Q,NaN,FRESHMAN AGRICULTURAL REPUBLICAN MEMBERS TRUST...,H6NY19169,"SCHWARTZ, LAURA A. MS.",PO BOX 448,"PO BOX 448, KINDERHOOK, NY 12106"
9348,C00602755,LANGE FOR CONGRESS,LAURA SCHWARTZ,PO BOX 481,NaN,SOUTH SALEM,NY,10590,P,H,REP,Q,NaN,NONE,NaN,"SCHWARTZ, LAURA A.",PO BOX 481,"PO BOX 481, SOUTH SALEM, NY 10590"
10580,C00622100,FASO VICTORY COMMITTEE,LAURA SCHWARTZ,PO BOX 98,NaN,SOUTH SALEM,NY,10590,J,N,UNK,T,NaN,NaN,NaN,"SCHWARTZ, LAURA",PO BOX 98,"PO BOX 98, SOUTH SALEM, NY 10590"
11309,C00630681,EMPIRE STATE PAC,LAURA SCHWARTZ,PO BOX 98,NaN,SOUTH SALEM,NY,10590,D,N,UNK,Q,NaN,NaN,NaN,"SCHWARTZ, LAURA A.",PO BOX 98,"PO BOX 98, SOUTH SALEM, NY 10590"
11556,C00633263,JOHN FASO VICTORY COMMITTEE,LAURA SCHWARTZ,PO BOX 98,NaN,SOUTH SALEM,NY,10590,J,N,UNK,Q,NaN,NONE,NaN,"SCHWARTZ, LAURA",PO BOX 98,"PO BOX 98, SOUTH SALEM, NY 10590"
14735,C00670885,NEW YORK MAJORITY VICTORY,LAURA SCHWARTZ,PO BOX 98,NaN,SOUTH SALEM,NY,10590,J,H,UNK,T,NaN,NaN,NaN,"SCHWARTZ, LAURA",PO BOX 98,"PO BOX 98, SOUTH SALEM, NY 10590"
15542,C00679225,KEEP THE HOUSE,LAURA SCHWARTZ,PO BOX 98,NaN,SOUTH SALEM,NY,10590,J,N,UNK,T,NaN,NaN,NaN,LAURA SCHWARTZ,P.O. BOX 98,"PO BOX 98, SOUTH SALEM, NY 10590"

In [310]:
cm[cm['tres_nm'] == 'LAURA ANN SCHWARTZ']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [311]:
dones.extend(findall(' schwartz'))

In [312]:
findall(' kau')

['AMIT KAUL',
 'EMILY KAUFMAN',
 'JASON KAUNE',
 'KARL KAUFMANN',
 'PHIL KAUFMAN',
 'ROBERT KAUFMANN',
 'SCOTT KAUFMAN',
 'STEPHEN KAUFMAN']

In [313]:
cm[cm['tres_nm'] == 'RON KAUFMAN']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [314]:
cm[cm['tres_nm'] == 'RONALD KAUFMAN']

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [315]:
new = 'RONALD KAUFMAN'
dones.append(new)

these = findall(['ron', ' kaufman'])

getall(these, new)

orig len: 0
new len: 0

In [316]:
dones.extend(findall(' kau'))

In [317]:
findall(' riesc')

['JOSE RIESCO']

In [318]:
dones.extend(findall(' riesc'))

In [319]:
findall(' cop')

['ARTHUR COPLESTON',
 'BILLY COPELAND',
 'ELIZABETH COPPINGER',
 'MICHAEL COPELEY',
 'RITA COPELAND',
 'VONA COPP']

In [320]:
dones.extend(findall(' cop'))

In [321]:
findall(' bal')

['AJ BALUKOFF',
 'BRIANA BALESKIE',
 'JAMES BALL',
 'JOHN BALLARD',
 'JONATHAN BALDWIN',
 'JONATHAN BALL',
 'JOSHUA BALLARD',
 'KAREN BALLARD',
 'KEITH BALKCOM',
 'KRYSTAL BALL',
 'LAURA BALDI',
 'MATANGI BALA',
 'MATTHEW BALAZIK',
 'MICHAEL BALL',
 'PAUL BALASSA',
 'ROBERT BALGENORTH',
 'SUSAN BALKENBUSH',
 'TRACEY BALL']

In [322]:
dones.extend(findall(' bal'))

In [323]:
findall(' tall')

['VINCENT TALLMAN']

In [324]:
dones.extend(findall(' tall'))

In [325]:
findall(' juk')

['JOEL JUKUS']

In [326]:
dones.extend(findall(' juk'))

In [327]:
findall(' milln')

[]

In [328]:
dones.extend(findall(' milln'))

In [329]:
findall(' goode')

['KIMBERLY GOODEN', 'MICHAEL GOODE', 'WARREN GOODE']

In [330]:
dones.extend(findall(' goode'))

In [331]:
findall(' kun')

['ADEN KUN',
 'CRAIG KUNKLE',
 'DAVE KUNES',
 'HOORIA KUNDI',
 'JOHN KUNITZ',
 'JOHN WILLIAM KUNITZ',
 'LORNA KUNEY',
 'TEKIN KUNT']

In [332]:
cm[cm['tres_nm'].apply(lambda x: ('KUNITZ' in x) & ('JOHN' in x))]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
10896,C00626093,THIRD CONGRESSIONAL DISTRICT REPUBLICAN PARTY ...,JOHN KUNITZ,PO 390722,NaN,EDINA,MN,55439,U,X,REP,Q,NaN,NONE,NaN,"KUNITZ, JOHN W MR.",PO 390722,"PO 390722, EDINA, MN 55439"
15499,C00678789,CONSERVATIVES FOR AMERICA,JOHN WILLIAM KUNITZ,6441 BRETTON WAY,NaN,CHANHASSEN,MN,55317,U,X,REP,Q,NaN,NONE,NaN,"KUNITZ, JOHN WILLIAM MR",6441 BRETTON WAY,"6441 BRETTON WAY, CHANHASSEN, MN 55317"

In [333]:
new = 'JOHN WILLIAM KUNITZ'
dones.append(new)

these = findall(['kunitz', 'john'])

getall(these, new)

orig len: 1
new len: 2

In [334]:
dones.extend(findall(' kun'))

In [335]:
findall('lefko')

[]

In [336]:
cm[cm['tres_nm'].apply(lambda x: 'LEFKOWITZ' in x)]

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [337]:
new = 'JON LEFKOWITZ'
dones.append(new)

these = findall('lefkowitz')

getall(these, new)

orig len: 0
new len: 0

In [338]:
findall(' sif')

['TIM SIFERT', 'TIMOTHY SIFERT']

In [339]:
dones.extend(findall(' sif'))

In [340]:
findall(' vand')

['CRAIG VANDERVEER',
 'DAWNE VANDIVER',
 'DICK VANDER WOUDE',
 'DIRK VANDONGEN',
 'ELIZABETH ANN VANDERWAY',
 'MIKE VANDERWEY',
 'NIGEL VANDERFORD',
 'RAY VANDRIESSCHE',
 'SHAWN VANDIVER',
 'WILLIAM VANDERBROOK']

In [341]:
dones.extend(findall(' vand'))

In [342]:
findall(' changkyu')

[]

In [343]:
new = 'JASON CHANGKYU KIM'
dones.append(new)

these = findall(' changkyu')

getall(these, new)

orig len: 0
new len: 0

In [344]:
findall(['ash', 'newman'])

['ASHLEY NEWMAN']

In [345]:
dones.extend(findall(['ash', 'newman']))

In [346]:
findall(' rogers')

['BRETT ROGERS',
 'CHERI ROGERS',
 'CINNAMON ROGERS',
 'DENNIS ROGERS',
 'EMORY ROGERS',
 'GEORGE ROGERS',
 'GLEN ROGERS',
 'GRACE ROGERS',
 'KEVIN ROGERS',
 'MARCIA MATHISON ROGERS',
 'MICHAEL ROGERS',
 'STEVEN ROGERS']

In [347]:
dones.extend(findall(' rogers'))

In [348]:
findall(' kennedy')

['CASTLEN KENNEDY',
 'GORDON KENNEDY',
 'JEANNE KENNEDY',
 'JOHN FITZGERALD KENNEDY LANKSTER',
 'KATHERINE KENNEDY',
 'KATIE KENNEDY',
 'KEVIN KENNEDY',
 'MAURA KENNEDY',
 'MICHAEL KENNEDY',
 'RICHARD KENNEDY',
 'ROBERT KENNEDY',
 'SEAN KENNEDY',
 'WARD KENNEDY']

In [349]:
cm[cm['tres_nm'].apply(lambda x: x in ['CHRIS KENNEDY', 'CHRISTOPHER KENNEDY'])]

Empty DataFrame
Columns: [cmte_id, cmte_nm, tres_nm, cmte_st1, cmte_st2, cmte_city, cmte_st, cmte_zip, cmte_dsgn, cmte_tp, cmte_pty_affiliation, cmte_filing_freq, org_tp, connected_org_nm, cand_id, orig_tres_nm, orig_cmte_st1, address]
Index: []

In [350]:
cm[cm['tres_nm'].apply(lambda x: x in ['KATIE KENNEDY', 'KATHERINE KENNEDY'])]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
6627,C00546325,TAKING AN INDEPENDENT PERSPECTIVE TOGETHER FOR...,KATHERINE KENNEDY,2318 CURTIS ST,NaN,DENVER,CO,80205,D,N,UNK,Q,NaN,NaN,NaN,KATHERINE KENNEDY,2318 CURTIS STREET,"2318 CURTIS ST, DENVER, CO 80205"
7169,C00558759,PDC ENERGY INC PAC,KATHERINE KENNEDY,1775 SHERMAN ST,NaN,DENVER,CO,80203,U,Q,UNK,Q,C,NaN,NaN,"KENNEDY, KATHERINE",1775 SHERMAN STREET SUITE 3000,"1775 SHERMAN ST, DENVER, CO 80203"
7399,C00564435,PRINCIPLED CONSERVATIVES OF COLORADO,KATIE KENNEDY,600 17TH ST,NaN,DENVER,CO,80202,U,O,UNK,Q,NaN,NaN,NaN,KATIE KENNEDY,600 17TH STREET SUITE 2800 SOUTH,"600 17TH ST, DENVER, CO 80202"
8382,C00580894,VAIL RESORTS EMPLOYEE POLITICAL ACTION COMMITTEE,KATIE KENNEDY,390 INTERLOCKEN CRESCENT,NaN,BROOMFIELD,CO,80021,U,Q,UNK,Q,C,NaN,NaN,"KENNEDY, KATIE",390 INTERLOCKEN CRESCENT,"390 INTERLOCKEN CRESCENT, BROOMFIELD, CO 80021"
14698,C00670505,COMMITTEE FOR BARRINGTON,KATIE KENNEDY,745 S MILLER ST,NaN,LAKEWOOD,CO,80226,P,H,REP,Q,NaN,NONE,H8CO07094,"KENNEDY, KATIE",745 S. MILLER STREET,"745 S MILLER ST, LAKEWOOD, CO 80226"
15648,C00680306,BARRIS FOR CONGRESS,KATIE KENNEDY,24853 CHRIS DR,NaN,EVERGREEN,CO,80439,P,H,LIB,Q,NaN,NONE,H8CO02269,"KENNEDY, KATIE",24853 CHRIS DRIVE,"24853 CHRIS DR, EVERGREEN, CO 80439"
15864,C00682559,PROTECTING OUR CONSTITUTION,KATIE KENNEDY,5910 S UNIVERSITY BLVD C18 NO 254,NaN,GREENWOOD VILLAGE,CO,80121,U,O,UNK,Q,NaN,NONE,NaN,"KENNEDY, KATIE",5910 S. UNIVERSITY BLVD C18 NO 254,"5910 S UNIVERSITY BLVD C18 NO 254, GREENWOOD V..."

In [351]:
new = 'KATHERINE KENNEDY'
dones.append(new)

these = findall(['kat', 'kennedy'])

getall(these, new)

orig len: 2
new len: 7

In [352]:
cm[cm['tres_nm'].apply(lambda x: x in [
    'MICHAEL KENNEDY', 
    'MICHAEL WARREN KENNEDY', 
])]

,cmte_id,cmte_nm,tres_nm,cmte_st1,cmte_st2,cmte_city,cmte_st,cmte_zip,cmte_dsgn,cmte_tp,cmte_pty_affiliation,cmte_filing_freq,org_tp,connected_org_nm,cand_id,orig_tres_nm,orig_cmte_st1,address
4648,C00477299,"VMWARE, INC. POLITICAL ACTION COMMITTEE (VMWAR...",MICHAEL KENNEDY,3401 HILLVIEW AVE,NaN,PALO ALTO,CA,94304,U,Q,UNK,M,C,NaN,NaN,"KENNEDY, MICHAEL",3401 HILLVIEW AVE,"3401 HILLVIEW AVE, PALO ALTO, CA 94304"

In [353]:
dones.extend(findall(' kennedy'))

In [354]:
findall(['mel', 'allen'])

['MELISSA ALLEN']

In [355]:
findall(' himmel')

['MARC HIMMELSTEIN']

In [356]:
dones.extend(findall(' himmel'))
dones.extend(findall(['mel', 'allen']))

In [357]:
findall(' reis')

['ALAN REISCHE', 'ALEXANDER REISH', 'DANIEL REISTETER', 'MICHELE REISNER']

In [358]:
dones.extend(findall(' reis'))

In [359]:
findall(' doz')

['JAMES DOZIER', 'JOSEPH DOZIER', 'JULIE DOZIER']

In [360]:
dones.extend(findall(' doz'))

In [361]:
findall(' roz')

['ADAM ROZANSKY', 'COSTANTINO ROZZO', 'YURY ROZEL']

In [362]:
dones.extend(findall(' roz'))

In [363]:
findall(' patt')

['ALYX PATTISON',
 'ANDREW PATTERSON',
 'CHRIS PATTON',
 'JAMES PATTON',
 'MELVIN PATTERSON',
 'ROBERT PATTISON',
 'STEPHEN PATTERSON',
 'THERESA PATTARA',
 'TOM PATTERSON']

In [364]:
dones.extend(findall(' patt'))

The work is never done...

In [365]:
# checks which have already been deduped and does not display those
mask = [False if cm.loc[i, 'tres_nm'] in dones else True for i in list(cm.index)]
cm.loc[mask, 'tres_nm'].value_counts()[cm.loc[mask, 'tres_nm'].value_counts() > 1][:20]

SCOTT MACKENZIE        13
BAILEY MORGAN          12
DIANA SAQUELLA         12
KATE LIND              10
SLOANE SKINNER         10
ALEXANDER HORNADAY     10
EZEKIEL FREDERICK       9
CHRISTINA SIROIS        9
THOMAS HILTACHK         8
THOMAS MAXWELL          8
RUSSELL MILLER          8
TRAVIS KABRICK          8
DANIEL SENA             7
CARY PETERSON           7
GIANNI DONATES          7
PAUL TARNAWSKI          7
GREGORY SANBORN         6
MARIA WOJCIECHOWSKI     6
MEGAN MIELNIK           6
RYAN PHILLIPS           6
Name: tres_nm, dtype: int64

In [366]:
dupename = list(cm['cmte_nm'].value_counts()[cm['cmte_nm'].value_counts() > 2].index)

for dupe in dupename:
    lil_cm = cm.loc[cm['cmte_nm'] == dupe, [
#         'cmte_id',
        'tres_nm',
        'address',
    ]].sort_values(['address'])
    print(dupe)
    print(lil_cm)
    print('\n')

(cmte_nm missing)
                     tres_nm                             address
17010  (no treasurer listed)  PO BOX 33524, WASHINGTON, DC 20033
8006   (no treasurer listed)                   nan, nan, nan nan
10164  (no treasurer listed)                   nan, nan, nan nan
10419  (no treasurer listed)                   nan, nan, nan nan
10519  (no treasurer listed)                   nan, nan, nan nan
12322  (no treasurer listed)                   nan, nan, nan nan
13088  (no treasurer listed)                   nan, nan, nan nan
13089  (no treasurer listed)                   nan, nan, nan nan
13396  (no treasurer listed)                   nan, nan, nan nan


COLLINS FOR CONGRESS
                   tres_nm                                 address
5967       CYNTHIA GIFFORD  176 SYCAMORE LANE, WAKEFIELD, RI 02879
9766    CATHERINE ANN PAGE  3045 DARIEN PARK DR, ROSWELL, GA 30076
5443  CARROLL BRIAN DANIEL      PO BOX 1295, GAINESVILLE, GA 30503
5932       JOCELYN JAKUBUS          PO BOX 386, CLARENCE, NY 14031


CLEAN WATER ACTION PROJECT
                tres_nm                                address
17297    SOPHIE AN AOKI       11 S 12TH ST, RICHMOND, VA 23219
17337  SANDRA LEDBETTER  1320 18TH ST NW, WASHINGTON, DC 20003
17296  SANDRA LEDBETTER        6 SLOANE ST, S ORANGE, NJ 07079
17294   SOPHIE ANN AOKI      P O BOX 3361, IOWA CITY, IA 52244


AMERICANS FOR PROSPERITY
                     tres_nm                                    address
18508  (no treasurer listed)  1310 N COURTHOUSE RD, ARLINGTON, VA 22201
16997  (no treasurer listed)      2111 WILSON BLVD, ARLINGTON, VA 22201
17086  (no treasurer listed)      2111 WILSON BLVD, ARLINGTON, VA 22201


NATIONAL ASSOCIATION OF HOME BUILDERS
                     tres_nm                                address
17028  (no treasurer listed)  1201 15TH ST NW, WASHINGTON, DC 20005
18804  (no treasurer listed)  1201 15TH ST NW, WASHINGTON, DC 20005
17369           JERRY MALLOY  15TH & M STS NW, WASHINGTON, DC 20005


NATIONAL COMMITTEE TO PRESERVE SOCIAL SECURITY AND MEDICARE
                     tres_nm                             address
18524  (no treasurer listed)    10 G ST NE, WASHINGTON, DC 20002
17642          CHRISTINE KIM    10 G ST NE, WASHINGTON, DC 20004
17360    JEFFREY GALGINAITIS  2000 K ST NW, WASHINGTON, DC 20006


SUSAN B ANTHONY LIST INC
                     tres_nm                                   address
17557           ROBERT KANIA        1707 L ST NW, WASHINGTON, DC 20036
18327  (no treasurer listed)  2800 SHIRLINGTON RD, ARLINGTON, VA 22206
16984  (no treasurer listed)        A707 L ST NW, WASHINGTON, DC 20036


NATIONAL EDUCATION ASSOCIATION
                     tres_nm                                     address
16976  (no treasurer listed)       1201 16TH ST NW, WASHINGTON, DC 20036
17326         KENNETH MELLEY       1201 16TH ST NW, WASHINGTON, DC 20036
17201            PAULA PURDY  1201 SIXTEENTH ST NW, WASHINGTON, DC 20036


AMERICAN CONSERVATIVE UNION
                     tres_nm                               address
17085  (no treasurer listed)    1331 H ST NW, WASHINGTON, DC 20005
18503  (no treasurer listed)    1331 H ST NW, WASHINGTON, DC 20005
719          MELODIE JOHNSON  201 N UNION ST, ALEXANDRIA, VA 22314


LATINOS FOR REFORM
                     tres_nm                              address
5064         ROBERT DEPOSADA  205 N BERRY LANE, MADISON, VA 22727
18415  (no treasurer listed)   205 N BERY LANE, MADISON, VA 22727
17031  (no treasurer listed)   PO BOX 26366, ALEXANDRIA, VA 22313


NEVADA STATE EDUCATION ASSOCIATION
                     tres_nm                                 address
17338      DICK VANDER WOUDE      151 EAST PARK ST, CARSON, NV 89701
17676       SYLVIA CLAIBORNE  3511 E HARMON AVE, LAS VEGAS, NV 89121
18426  (no treasurer listed)  3511 E HARMON AVE, LAS VEGAS, NV 89121


US CHAMBER OF COMMERCE
                     tres_nm                             address
17002  (no treasurer listed)  1615 H ST NW, WASHINGTON, DC 20062
17529        WILLIAMS MILLER  1615 H ST NW, WASHINGTON, DC 20062
18494  (no treasurer listed)  1615 H ST NW, WASHINGTON, DC 20062


SIERRA CLUB
                     tres_nm                                          address
17244            DAVID THACK               2101 WEBSTER ST, OAKLAND, CA 94612
16988  (no treasurer listed)  85 SECOND ST 2ND FLOOR, SAN FRANCISCO, CA 94105
18376  (no treasurer listed)  85 SECOND ST 2ND FLOOR, SAN FRANCISCO, CA 94105

In [367]:
# show all cmte_nm & tres_nm for committees sharing a street address
multiadd = list(cm['address'].value_counts()[cm['address'].value_counts() > 10].index)

for add in multiadd:
    lil_cm = cm.loc[cm['address'] == add, ['tres_nm', 'cmte_nm']]\
    .sort_values(['tres_nm', 'cmte_nm'], ascending = [True, True]).reset_index(drop = True)
    print(add)
    print(lil_cm.to_csv(None))
    print('\n')

228 S WASHINGTON ST, ALEXANDRIA, VA 22314
,tres_nm,cmte_nm
0,DAVID SATTERFIELD,AMERICANS FOR LAW ENFORCEMENT PAC
1,DAVID SATTERFIELD,ARKANSAS HORIZON
2,DAVID SATTERFIELD,BIGGS FOR CONGRESS
3,DAVID SATTERFIELD,BUILDING INNOVATIVE GOOD GOVERNMENT SOLUTIONS PAC
4,DAVID SATTERFIELD,CAROLINA PATRIOT ALLIANCE
5,DAVID SATTERFIELD,COMMITTEE TO PROTECT AMERICA'S ALLIES
6,DAVID SATTERFIELD,CONNECTICUT FIRST
7,DAVID SATTERFIELD,CONSERVATIVE RESULTS
8,DAVID SATTERFIELD,CONSTITUTIONAL CONSERVATIVES
9,DAVID SATTERFIELD,EXCELLENCE IN GOVERNMENT POLITICAL ACTION COMMITTEE
10,DAVID SATTERFIELD,FREE AT LAST PAC
11,DAVID SATTERFIELD,FREEDOM FUND FOR AMERICA'S FUTURE INC
12,DAVID SATTERFIELD,GRAIN AND FEED PAC
13,DAVID SATTERFIELD,GRASSROOTS AWARENESS PAC
14,DAVID SATTERFIELD,HOOSIER HORIZON
15,DAVID SATTERFIELD,IN09 VICTORY FUND
16,DAVID SATTERFIELD,JOHN CATS PAC
17,DAVID SATTERFIELD,JOHN CATS POLITICAL ACTION COMMITTEE
18,DAVID SATTERFIELD,KEYSTONE PRIORITIES
19,DAVID SATTERFIELD,MACK PAC
20,DAVID SATTERFIELD,NATIONAL HORIZON
21,DAVID SATTERFIELD,NEW ENGLAND HOUSE VICTORY FUND
22,DAVID SATTERFIELD,PATRIOT PROSPERITY POLITICAL ACTION COMMITTEE
23,DAVID SATTERFIELD,POLICE ACTION FUND
24,DAVID SATTERFIELD,REDEMPTION PAC
25,DAVID SATTERFIELD,RJC VICTORY FUND
26,DAVID SATTERFIELD,SAFEGUARDING AMERICAN LIBERTIES MORALS & OPPORTUNITIES NOW (SALMON) PAC
27,DAVID SATTERFIELD,SAVE THE SENATE
28,DAVID SATTERFIELD,STARS AND STRIPES FOREVER PAC
29,DAVID SATTERFIELD,STATE 48 PAC
30,DAVID SATTERFIELD,STRONGER NY PAC
31,DAVID SATTERFIELD,SUN PAC USA
32,DAVID SATTERFIELD,SUNSHINE SOLUTIONS
33,DAVID SATTERFIELD,TERM LIMITS NOW POLITICAL ACTION COMMITTEE (TLN PAC)
34,DAVID SATTERFIELD,THE AMERICAN CENTURY PAC
35,DAVID SATTERFIELD,WINNING WOMEN
36,FRANCIS KIRLEY,NEXION HEALTH FUND FOR QUALITY LONG TERM CARE INC
37,GREG LAUGHLIN,FRIENDS OF TEXAS PAC
38,JOHN DWYER,USAGAINSTALZHEIMER'S PAC
39,KEITH DAVIS,2018 SENATORS CLASSIC COMMITTEE
40,KEITH DAVIS,ACCOUNTABILITY PAC
41,KEITH DAVIS,ARRINGTON VICTORY COMMITTEE
42,KEITH DAVIS,AYOTTE MAJORITY COMMITTEE
43,KEITH DAVIS,BUCSHON VICTORY COMMITTEE
44,KEITH DAVIS,BULLDOG PAC
45,KEITH DAVIS,CUT THE BULL PAC
46,KEITH DAVIS,FISCHER VICTORY FUND
47,KEITH DAVIS,FISCHER VICTORY FUND
48,KEITH DAVIS,FOUNDERS COMMITTEE; THE
49,KEITH DAVIS,FRIENDS OF HANDEL
50,KEITH DAVIS,FRIENDS OF LEAH VUKMIR
51,KEITH DAVIS,GA-06 NOMINEE VICTORY FUND
52,KEITH DAVIS,HAWLEY VICTORY COMMITTEE
53,KEITH DAVIS,HELLER VICTORY COMMITTEE
54,KEITH DAVIS,HOUSE MAJORITY TRUST
55,KEITH DAVIS,IMS HEALTH PAC
56,KEITH DAVIS,ISAKSON VICTORY COMMITTEE
57,KEITH DAVIS,ISAKSON VICTORY COMMITTEE
58,KEITH DAVIS,KEEP THE SENATE RED 2016
59,KEITH DAVIS,KEEP THE SENATE RED 2018
60,KEITH DAVIS,KENNEDY VICTORY COMMITTEE
61,KEITH DAVIS,KEYSTONE-BUCKEYE FUND
62,KEITH DAVIS,MICHIGAN SENATE NOMINEE FUND
63,KEITH DAVIS,MILLER VICTORY FUND
64,KEITH DAVIS,MONDAY MEETING PAC
65,KEITH DAVIS,MORRISEY-MILLER VICTORY FUND
66,KEITH DAVIS,NCF-DAKOTA 2017 COMMITTEE
67,KEITH DAVIS,NCF-DAKOTA 2018 COMMITTEE
68,KEITH DAVIS,NRSC TARGETED STATE VICTORY COMMITTEE
69,KEITH DAVIS,NRSC/NRCC VICTORY COMMITTEE
70,KEITH DAVIS,TENN POLITICAL ACTION COMMITTEE INC (TENN PAC)
71,KEITH DAVIS,TRUST PAC TEAM REPUBLICANS FOR UTILIZING SENSIBLE TACTICS
72,KEITH DAVIS,UPTON VICTORY COMMITTEE
73,KEITH DAVIS,UPTON VICTORY COMMITTEE
74,KEITH DAVIS,VUKMIR VICTORY FUND
75,KEITH DAVIS,WICKER VICTORY COMMITTEE
76,KEITH DAVIS,WIN IN 2018
77,KEITH DAVIS,WIN MICHIGAN FUND
78,KEITH DAVIS,WIN WISCONSIN FUND
79,LARRY STEINBERG,BLUEGRASS COMMITTEE
80,LISA LISKER,AMERICANS UNITED FOR FREEDOM
81,LISA LISKER,ARIZONA GRASSROOTS ACTION PAC
82,LISA LISKER,BACON VICTORY FUND
83,LISA LISKER,BOLD ACTIVE CONSERVATIVES OF NEBRASKA PAC-BACON PAC
84,LISA LISKER,BRIDGING THE GAP
85,LISA LISKER,BUCKEYE JOINT FUNDRAISING COMMITTEE
86,LISA LISKER,BUILDING OUR BASE - BOB PAC
87,LISA LISKER,BUILDING RENEWAL IN AMERICA NOW PAC
88,LISA LISKER,CITIZENS FOR PROSPERITY IN AMERICA TODAY PAC
89,LISA LISKER,CONCERNED AMERICANS FOR FREEDOM & OPPORTUNITY PAC (CAFO PAC)
90,LISA LISKER,CRAPO VICTORY COMMITTEE
91,LISA LISKER,"CREATING OPPORTUNITIES, MARKETS AND ENTHUSIASM IN RURAL KENTUCKY PAC"
92,LISA LISKER,FREEDOM AND SECURITY PAC
93,LISA LISKER,FREEDOM PROJECT; THE
94,LISA LISKER,FRIENDS OF WINNING WOMEN 2016
95,LISA LISKER,FRIENDS OF WINNING WOMEN 2018
96,LISA LISKER,GARDNER VICTORY COMMITTEE
97,LISA LISKER,GOP MAJORITY VICTORY FUND
98,LISA LISKER,GOP WINNING WOMEN
99,LISA LISKER,GRAHAM MAJORITY FUND
100,LISA LISKER,GROWING REPUBLICAN ACHIEVEMENTS AND PROMOTING EXCELLENCE-GRAPE JFC
101,LISA LISKER,HONOR AND PRINCIPLES PAC
102,LISA LISKER,HOUSE CONSERVATIVES FUND
103,LISA LISKER,IOWA CONGRESSIONAL MAJORITY FUND; THE
104,LISA LISKER,JAMES-RUBIO VICTORY COMMITTEE
105,LISA LISKER,"JOBS, ENERGY AND OUR FOUNDING FATHERS PAC-JEFF PAC"
106,LISA LISKER,KATKO FOR CONGRESS
107,LISA LISKER,KATKO VICTORY FUND
108,LISA LISKER,KELLY REED VICTORY COMMITTEE
109,LISA LISKER,KELLY TIBERI JFC
110,LISA LISKER,LEAD THE FIGHT PAC
111,LISA LISKER,LEAD THE FIGHT PAC
112,LISA LISKER,MARKETPLACE IDEAS AND CONSERVATIVE KNOWLEDGE PAC-MICK PAC
113,LISA LISKER,MCCONNELL VICTORY COMMITTEE
114,LISA LISKER,MCHENRY-CURBELO LEADERSHIP FUND
115,LISA LISKER,MILLER SPANO WEBBER VICTORY
116,LISA LISKER,MORAN RUBIO VICTORY COMMITTEE
117,LISA LISKER,MORE CONSERVATIVES PAC (MCPAC)
118,LISA LISKER,NEBRASKA SANDHILLS PAC
119,LISA LISKER,NEW PIONEERS PAC
120,LISA LISKER,NY GOP VICTORY COMMITTEE
121,LISA LISKER,NY GOP VICTORY COMMITTEE 2018
122,LISA LISKER,PATRIOT DAY I 2015
123,LISA LISKER,PATRIOT DAY III 2015
124,LISA LISKER,PAULSEN VICTORY FUND
125,LISA LISKER,RECLAIM AMERICA PAC
126,LISA LISKER,RED WHITE LOU FUND
127,LISA LISKER,RENACCI SENATE VICTORY COMMITTEE
128,LISA LISKER,REPUBLICANS IN CONGRESS EMPOWERING AMERICA
129,LISA LISKER,RIVALRY JOINT COMMITTEE; THE
130,LISA LISKER,ROAD TO FREEDOM POLITICAL ACTION COMMITTEE
131,LISA LISKER,SALT CITY PAC
132,LISA LISKER,SC 01 VICTORY 2020
133,LISA LISKER,SERVICE HONOR COUNTRY ACTION FUND
134,LISA LISKER,SUPPORT TO ENSURE VICTORY EVERYWHERE PAC-STEVE PAC
135,LISA LISKER,TEAM DUNCAN
136,LISA LISKER,TEAM MCHENRY
137,LISA LISKER,TENACIOUS PAC
138,LISA LISKER,TENNEY NY VICTORY FUND
139,LISA LISKER,TENNEY VICTORY FUND
140,LISA LISKER,TEXAS SENATE VICTORY COMMITTEE
141,LISA LISKER,TILLIS-NRSC COMMITTEE
142,LISA LISKER,TOGETHER FOR OUR MAJORITY POLITICAL ACTION COMMITTEE (TOMPAC)
143,LISA LISKER,WALDEN VICTORY FUND
144,LISA LISKER,WEST VIRGINIA VICTORY FUND
145,LISA LISKER,WINNING WOMEN 2018
146,LISA LISKER,WINNING WOMEN FOR THE US SENATE
147,LISA LISKER,WINNING WOMEN GOP ATLANTA
148,LISA LISKER,WINNING WOMEN GOP AZ
149,LISA LISKER,WINNING WOMEN GOP CALIFORNIA
150,LISA LISKER,WINNING WOMEN RESTORING AMERICA
151,LISA LISKER,WINNING WOMEN VICTORY 2018
152,LISA LISKER,WINNING WOMEN VICTORY COMMITTEE
153,LISA LISKER,YOUNG OPTIMISTIC USEFUL REPUBLICANS JFC
154,LISA LISKER,ZINKE DAINES VICTORY ACCOUNT
155,TAYLOR MOOSE,PRESCRIPTIONS FOR A STRONGER AMERICA



918 PENNSYLVANIA AVE SE, WASHINGTON, DC 20003
,tres_nm,cmte_nm
0,AARON WATSON,BONNIE WATSON COLEMAN FOR CONGRESS
1,AMY ECKERT,BWC - BECAUSE WOMEN CAN PAC
2,ELLEN TAUSCHER,FEINSTEIN FOR SENATE 2024
3,ELLEN TAUSCHER,FUND FOR THE MAJORITY PAC
4,HALLE MAYES,GENERATION GO
5,JUDITH ZAMORE,2018 SENATE IMPACT
6,JUDITH ZAMORE,2020 COMMITTEE
7,JUDITH ZAMORE,AFTAB SWING LEFT FUND 2018
8,JUDITH ZAMORE,AMERICA WORKS FEDERAL PAC
9,JUDITH ZAMORE,AMERICA WORKS STATE & LOCAL PAC
10,JUDITH ZAMORE,ARIZONA NEVADA VICTORY FUND
11,JUDITH ZAMORE,AVIATORS FOR ACTION VICTORY FUND
12,JUDITH ZAMORE,BATTLEGROUND VICTORY FUND 2018
13,JUDITH ZAMORE,BAY STATE FOR A MAJORITY
14,JUDITH ZAMORE,BETSY DIRKSEN LONDRIGAN VICTORY FUND
15,JUDITH ZAMORE,BLUE IL 18
16,JUDITH ZAMORE,BLUE SENATE 2018
17,JUDITH ZAMORE,BROWN WARREN VICTORY FUND
18,JUDITH ZAMORE,CASEY WILD 2018
19,JUDITH ZAMORE,COMMON SENSE 2018
20,JUDITH ZAMORE,CONNECTICUT VICTORY 2018
21,JUDITH ZAMORE,DEMOCRATIC VICTORY 2018
22,JUDITH ZAMORE,DEMOCRATS UNITED 2018
23,JUDITH ZAMORE,DURBIN LONDRIGAN VICTORY FUND
24,JUDITH ZAMORE,ELECT DEMOCRATIC WOMEN
25,JUDITH ZAMORE,FLORIDA MISSOURI VICTORY FUND
26,JUDITH ZAMORE,FOX VALLEY VICTORY FUND
27,JUDITH ZAMORE,GREEN SENATE IMPACT 2018
28,JUDITH ZAMORE,GREEN SENATE IMPACT 2018
29,JUDITH ZAMORE,HAALAND TORRES SMALL VICTORY FUND
30,JUDITH ZAMORE,HAWAII PAC
31,JUDITH ZAMORE,HEIDI JOE VICTORY FUND
32,JUDITH ZAMORE,HEIDI TINA VICTORY FUND
33,JUDITH ZAMORE,HEIDI VICTORY FUND
34,JUDITH ZAMORE,HEINRICH CARPER VICTORY FUND
35,JUDITH ZAMORE,HEINRICH NELSON VICTORY FUND
36,JUDITH ZAMORE,HEINRICH TESTER VICTORY FUND
37,JUDITH ZAMORE,HOULAHAN VICTORY FUND
38,JUDITH ZAMORE,HOUSE VICTORY PROJECT
39,JUDITH ZAMORE,ILLINOIS DEMOCRATS 2018
40,JUDITH ZAMORE,IN MO MT WV VICTORY FUND
41,JUDITH ZAMORE,JERSEY HOUSE BLUES
42,JUDITH ZAMORE,JUSTICE 2018
43,JUDITH ZAMORE,KAREN BASS FOR CONGRESS
44,JUDITH ZAMORE,MA FOR A MAJORITY
45,JUDITH ZAMORE,MA HOUSE VICTORY FUND
46,JUDITH ZAMORE,MASSACHUSETTS WISCONSIN VICTORY FUND 2018
47,JUDITH ZAMORE,MCCASKILL SINEMA VICTORY FUND
48,JUDITH ZAMORE,MICHIGAN OHIO VICTORY FUND
49,JUDITH ZAMORE,MICHIGAN WISCONSIN VICTORY FUND
50,JUDITH ZAMORE,MIDWEST WOMEN VICTORY FUND
51,JUDITH ZAMORE,MINNESOTA MASSACHUSETTS VICTORY FUND
52,JUDITH ZAMORE,MINNESOTA MONTANA VICTORY FUND
53,JUDITH ZAMORE,MISSOURI OHIO VICTORY FUND
54,JUDITH ZAMORE,MISSOURI-MONTANA FUND
55,JUDITH ZAMORE,MN OH PA VICTORY FUND
56,JUDITH ZAMORE,MONTANA CONNECTICUT VICTORY
57,JUDITH ZAMORE,MONTANA NORTH DAKOTA VICTORY FUND
58,JUDITH ZAMORE,MONTANA PENNSYLVANIA VICTORY FUND
59,JUDITH ZAMORE,NEW HAMPSHIRE PENNSYLVANIA VICTORY FUND
60,JUDITH ZAMORE,NORTH JERSEY BLUE MAJORITY
61,JUDITH ZAMORE,OHIO GRASSROOTS VICTORY FUND
62,JUDITH ZAMORE,OHIO PENNSYLVANIA VICTORY FUND
63,JUDITH ZAMORE,OHIO RHODE ISLAND VICTORY FUND
64,JUDITH ZAMORE,OHIO VIRGINIA VICTORY FUND 2018
65,JUDITH ZAMORE,PROTECT OUR SENATORS FUND
66,JUDITH ZAMORE,PURPOSE PAC
67,JUDITH ZAMORE,RED RIVER VALLEY VICTORY FUND
68,JUDITH ZAMORE,RHODE ISLAND MINNESOTA VICTORY FUND
69,JUDITH ZAMORE,RHODE ISLAND PENNSYLVANIA VICTORY FUND
70,JUDITH ZAMORE,SECURE THE HEARTLAND FUND
71,JUDITH ZAMORE,SECURITY 44
72,JUDITH ZAMORE,SENATE 2018 IMPACT
73,JUDITH ZAMORE,SENATE IMPACT 2018
74,JUDITH ZAMORE,SENATE IMPACT 2018
75,JUDITH ZAMORE,SENATE IMPACT IN & WI
76,JUDITH ZAMORE,SENATE IMPACT MT & AZ
77,JUDITH ZAMORE,SENATE IMPACT WI & ND 2018
78,JUDITH ZAMORE,SENATE IMPACT WV & MT
79,JUDITH ZAMORE,SENATE IMPACT: FL & NV
80,JUDITH ZAMORE,SENATE IMPACT: IN & MT
81,JUDITH ZAMORE,SENATE IMPACT: IN & MT 2018
82,JUDITH ZAMORE,SENATE IMPACT: MN & NV
83,JUDITH ZAMORE,SENATE IMPACT: MO & IN
84,JUDITH ZAMORE,SENATE IMPACT: MO & WI
85,JUDITH ZAMORE,SENATE IMPACT: MO & WV
86,JUDITH ZAMORE,SENATE IMPACT: ND & WV
87,JUDITH ZAMORE,SENATE IMPACT: TN & NV
88,JUDITH ZAMORE,SENATE IMPACT: WI & ND
89,JUDITH ZAMORE,SENATE VICTORY 2018
90,JUDITH ZAMORE,SINEMA KENNEDY VICTORY FUND
91,JUDITH ZAMORE,STABENOW WARREN VICTORY FUND
92,JUDITH ZAMORE,STEVENS VICTORY FUND
93,JUDITH ZAMORE,SWING LEFT NY VICTORY FUND
94,JUDITH ZAMORE,TAKE BACK THE HOUSE COMMITTEE
95,JUDITH ZAMORE,TEAM NEW HAMPSHIRE
96,JUDITH ZAMORE,TEXANS FOR A PROGRESSIVE SENATE
97,JUDITH ZAMORE,THE COLORADO WAY
98,JUDITH ZAMORE,UPPER MIDWEST WOMEN VICTORY FUND
99,JUDITH ZAMORE,VOTEVETS BLUE MOMENTUM WOMEN'S FUND
100,JUDITH ZAMORE,VOTEVETS VICTORY FUND
101,JUDITH ZAMORE,WISCONSIN MINNESOTA VICTORY FUND
102,JUDITH ZAMORE,WISCONSIN VIRGINIA VICTORY FUND
103,JUDITH ZAMORE,WOMEN MAKING HISTORY 2016
104,KAREN MASCOTT,EDUCATE AND INNOVATE PAC
105,KRISTIN SOLANDER,HEINRICH & HIRONO FOR SENATE VICTORY
106,KRISTIN SOLANDER,HIRONO-LIEU-MENG VICTORY FUND
107,KRISTIN SOLANDER,SERVE NY
108,MEGAN MIELNIK,1106 FUND
109,MEGAN MIELNIK,CHCL FUND
110,MELISSA NISSEN,MERKLEY VICTORY FUND 2020
111,MICHAEL SCHRUM,AMERICAN POSSIBILITIES PAC



824 S MILLEDGE AVE, ATHENS, GA 30605
,tres_nm,cmte_nm
0,GREG MOSING,2020PAC
1,MEGAN BROWN,INDEPENDENT LEADERSHIP PAC
2,MEGAN BROWN,VALOR FUND
3,MICHAEL GOODE,INDEPENDENT LEADERSHIP FUND
4,MICHAEL GOODE,VALOR PAC
5,PAUL KILGORE,2018 TILLIS SENATE CANDIDATE FUND
6,PAUL KILGORE,ABRAHAM LINCOLN PAC
7,PAUL KILGORE,AMERICA IS WORTH IT
8,PAUL KILGORE,AMERICA'S FUTURE
9,PAUL KILGORE,AMERICANS FOR BBQ 2017
10,PAUL KILGORE,AMERICANS FOR BBQ 2018
11,PAUL KILGORE,AUSTIN SCOTT VICTORY FUND
12,PAUL KILGORE,BCY COMMITTEE
13,PAUL KILGORE,BELIEVE AGAIN PAC
14,PAUL KILGORE,BILL PAC
15,PAUL KILGORE,BOST VICTORY FUND
16,PAUL KILGORE,BUDDY PAC
17,PAUL KILGORE,BUILDING OPPORTUNITIES FOR A STRONGER TOMORROW B.O.S.T. PAC
18,PAUL KILGORE,CHESAPEAKE PAC
19,PAUL KILGORE,COASTAL COMMITTEE 2017
20,PAUL KILGORE,COFFMAN VICTORY FUND 2018
21,PAUL KILGORE,COLLINS LEADERSHIP FUND
22,PAUL KILGORE,CONSERVATIVE LEADERSHIP NOW PAC
23,PAUL KILGORE,CONSERVATIVE WARCHEST PAC
24,PAUL KILGORE,CURBELO VICTORY COMMITTEE
25,PAUL KILGORE,CURBELO/COSTELLO LEADERSHIP COMMITTEE
26,PAUL KILGORE,DBM PAC
27,PAUL KILGORE,DUFFY EMMER JOINT FUNDRAISING COMMITTEE
28,PAUL KILGORE,EMMER VICTORY COMMITTEE
29,PAUL KILGORE,EXCELSIOR PAC
30,PAUL KILGORE,FEDERALIST FREEDOM FUND
31,PAUL KILGORE,FIRST IN FREEDOM PAC
32,PAUL KILGORE,FLORIDA GEORGIA FUND
33,PAUL KILGORE,FREEDOM PAC
34,PAUL KILGORE,FREEDOM'S DEFENSE FUND
35,PAUL KILGORE,FREEDOMWORKS 2017 COMMITTEE
36,PAUL KILGORE,GEORGIA LIFE ALLIANCE ACTION FUND
37,PAUL KILGORE,GEORGIA PAC
38,PAUL KILGORE,GO PAC GO
39,PAUL KILGORE,GOLDEN ISLE COMMITTEE 2017
40,PAUL KILGORE,GROWING OUR SENATE MAJORITY
41,PAUL KILGORE,GT FORCE
42,PAUL KILGORE,HICE FREEDOM FUND
43,PAUL KILGORE,HUDSON FREEDOM FUND
44,PAUL KILGORE,IDEAL IMMIGRATION PAC
45,PAUL KILGORE,INHOFE VICTORY COMMITTEE
46,PAUL KILGORE,INVEST IN THE FUTURE COMMITTEE
47,PAUL KILGORE,JAM PAC
48,PAUL KILGORE,JOHNSON LEADS COMMITTEE
49,PAUL KILGORE,KARIN HOUSLEY VICTORY FUND
50,PAUL KILGORE,KINZINGER-YOPAC VICTORY FUND
51,PAUL KILGORE,LINCOLN PAC
52,PAUL KILGORE,MAST VICTORY COMMITTEE 2018
53,PAUL KILGORE,MCSALLY ARIZONA VICTORY FUND
54,PAUL KILGORE,MCSALLY SCHWEIKERT VICTORY COMMITTEE
55,PAUL KILGORE,MCSALLY SENATE VICTORY FUND
56,PAUL KILGORE,MCSALLY VOTER INTEGRITY FUND
57,PAUL KILGORE,MI VICTORY 2018
58,PAUL KILGORE,MIAMI MIRACLE PAC
59,PAUL KILGORE,MIKE MILLER VICTORY FUND
60,PAUL KILGORE,MILLENNIAL GOP VICTORY COMMITTEE 2017
61,PAUL KILGORE,MISSOURI FOR GOP SENATE MAJORITY
62,PAUL KILGORE,NEW SOLUTIONS VICTORY COMMITTEE
63,PAUL KILGORE,NORTH CAROLINA FREEDOM FUND 2017
64,PAUL KILGORE,PEACH PAC
65,PAUL KILGORE,PEAKS VICTORY COMMITTEE 2018
66,PAUL KILGORE,PONDEROSA PAC
67,PAUL KILGORE,PRESERVE THE SENATE MAJORITY 2018
68,PAUL KILGORE,PROTECT THE SENATE MAJORITY COMMITTEE
69,PAUL KILGORE,PSC REDPAC
70,PAUL KILGORE,RE-JOYCE PAC
71,PAUL KILGORE,REAGAN HERITAGE PAC
72,PAUL KILGORE,REBUILDING AMERICAS TRUST PAC
73,PAUL KILGORE,REED VICTORY COMMITTEE
74,PAUL KILGORE,SECURING THE SENATE MAJORITY COMMITTEE
75,PAUL KILGORE,SHUSTER VICTORY FUND
76,PAUL KILGORE,SMITH VICTORY
77,PAUL KILGORE,SMUCKER VICTORY COMMITTEE
78,PAUL KILGORE,STAND PAC
79,PAUL KILGORE,STAR PAC
80,PAUL KILGORE,STRONG AMERICA FUND
81,PAUL KILGORE,TEAM GRAVES
82,PAUL KILGORE,TEAM LAHOOD
83,PAUL KILGORE,TEAM ROBY VICTORY FUND
84,PAUL KILGORE,TEAM TELLURIDE 2017
85,PAUL KILGORE,TEAM TELLURIDE 2019
86,PAUL KILGORE,TEAM WOODALL
87,PAUL KILGORE,THE BHY COMMITTEE
88,PAUL KILGORE,THE HAWKEYE FUND
89,PAUL KILGORE,THE MCSALLY VICTORY FUND
90,PAUL KILGORE,THUNDERBOLT PAC
91,PAUL KILGORE,TOM ROONEY VICTORY COMMITTEE
92,PAUL KILGORE,TURNER VICTORY FUND
93,PAUL KILGORE,VETERANS VICTORY FUND
94,PAUL KILGORE,WELLS PAC
95,PAUL KILGORE,WHAT A COUNTRY! PAC
96,PAUL KILGORE,WIN ARIZONA FUND
97,PAUL KILGORE,WOMEN LEADERSHIP COMMITTEE
98,PAUL KILGORE,YOHO VICTORY FUND
99,PAUL KILGORE,YOPAC-WHAT A COUNTRY! VICTORY FUND
100,PAUL KILGORE,ZELDIN-LOVE VICTORY FUND 2018



PO BOX 26141, ALEXANDRIA, VA 22313
,tres_nm,cmte_nm
0,(no treasurer listed),STAND UP REPUBLIC INC
1,(no treasurer listed),THE SWAMP ACCOUNTABILITY PROJECT
2,BRENDA HANKINS,BALDERSON VICTORY COMMITTEE
3,BRENDA HANKINS,MARQUEZ PETERSON VICTORY FUND
4,BRENDA HANKINS,PERRY SMUCKER VICTORY FUND
5,BRENDA HANKINS,SACCONE VICTORY FUND
6,CHRISTOPHER MARSTON,#FIXIT ACTION FUND
7,CHRISTOPHER MARSTON,115TH FRESHMEN VICTORY
8,CHRISTOPHER MARSTON,8TH DISTRICT REPUBLICAN COMMITTEE (VA)
9,CHRISTOPHER MARSTON,AMERICA'S FIRST PAC
10,CHRISTOPHER MARSTON,AMERICAN CATALOG MAILERS ASSOCIATION PAC (ACMA PAC)
11,CHRISTOPHER MARSTON,AMERICAN ENCORE ACTION
12,CHRISTOPHER MARSTON,AMERICAN POTENTIAL FUND
13,CHRISTOPHER MARSTON,AMERICAN POTENTIAL PAC
14,CHRISTOPHER MARSTON,AMERICAN UPRISING PAC
15,CHRISTOPHER MARSTON,AMERICAN VALUES PAC INC.
16,CHRISTOPHER MARSTON,AMIE HOEBER VICTORY FUND
17,CHRISTOPHER MARSTON,ARIZONA MATTERS
18,CHRISTOPHER MARSTON,BADLANDS PAC
19,CHRISTOPHER MARSTON,BLOCKIMPEACHMENT.ORG
20,CHRISTOPHER MARSTON,BLUM VICTORY FUND
21,CHRISTOPHER MARSTON,BRAT VICTORY FUND
22,CHRISTOPHER MARSTON,BUCK LEADERSHIP FUND
23,CHRISTOPHER MARSTON,BUCKEYE BATTLE PAC
24,CHRISTOPHER MARSTON,BUDD HARRIS VICTORY FUND
25,CHRISTOPHER MARSTON,COALITION FOR A SAFE AMERICA
26,CHRISTOPHER MARSTON,CONSERVATIVE ALLIANCE PAC
27,CHRISTOPHER MARSTON,"CONSERVATIVE, AUTHENTIC, RESPONSIVE LEADERSHIP FOR YOU AND FOR AMERICA"
28,CHRISTOPHER MARSTON,CONSERVATIVES FOR EFFECTIVE GOVERNMENT
29,CHRISTOPHER MARSTON,COURAGE MAINE
30,CHRISTOPHER MARSTON,CRAMER VICTORY FUND
31,CHRISTOPHER MARSTON,CRAMER VICTORY FUND
32,CHRISTOPHER MARSTON,CRAMER-HAWLEY VICTORY FUND
33,CHRISTOPHER MARSTON,DEFEND FREEDOM
34,CHRISTOPHER MARSTON,DEFENDING DEMOCRACY TOGETHER ACTION FUND
35,CHRISTOPHER MARSTON,FIGHTING FOR OHIO FUND
36,CHRISTOPHER MARSTON,FORPAC INC
37,CHRISTOPHER MARSTON,FREEDOMWORKS VICTORY 2018
38,CHRISTOPHER MARSTON,FRIENDS OF STEVE NEGRON
39,CHRISTOPHER MARSTON,GARRETT VICTORY FUND
40,CHRISTOPHER MARSTON,GFORCE
41,CHRISTOPHER MARSTON,GIANFORTE DAINES VICTORY COMMITTEE
42,CHRISTOPHER MARSTON,GIANFORTE VICTORY FUND
43,CHRISTOPHER MARSTON,GO SOUTH JERSEY
44,CHRISTOPHER MARSTON,GROWTH AND OPPORTUNITY FUND
45,CHRISTOPHER MARSTON,HUNTER VICTORY FUND
46,CHRISTOPHER MARSTON,INSPIRE PAC
47,CHRISTOPHER MARSTON,JSW STEEL USA PAC (JSW USA PAC)
48,CHRISTOPHER MARSTON,JUMP INTO ACTION FOR CONSERVATIVES TO KEEP OUR IDEAS ELEVATED PAC
49,CHRISTOPHER MARSTON,KANSAS LEADERSHIP PAC
50,CHRISTOPHER MARSTON,LONE STAR LIBERTY
51,CHRISTOPHER MARSTON,MANY INDIVIDUAL CONSERVATIVES HELPING ELECT LEADERS EVERYWHERE (MICHELEPAC)
52,CHRISTOPHER MARSTON,MARINO VICTORY FUND
53,CHRISTOPHER MARSTON,MARLIN PAC
54,CHRISTOPHER MARSTON,MENTAL HEALTH AWARENESS
55,CHRISTOPHER MARSTON,MICHIGAN VICTORY FUND 2018
56,CHRISTOPHER MARSTON,MILLENNIAL ADVOCACY COUNCIL PAC (MAC PAC)
57,CHRISTOPHER MARSTON,MINNESOTA VICTORY FUND
58,CHRISTOPHER MARSTON,MOUNTAIN CITY PAC
59,CHRISTOPHER MARSTON,MOVING AMERICA'S REPUBLICANS INTO NUMBER ONE PAC
60,CHRISTOPHER MARSTON,NEIGHBORHOOD ALLIANCE PAC
61,CHRISTOPHER MARSTON,NEW DAWN PAC
62,CHRISTOPHER MARSTON,NEXTGEN GOP
63,CHRISTOPHER MARSTON,ONE VOTE
64,CHRISTOPHER MARSTON,PA IN 18
65,CHRISTOPHER MARSTON,PEACE THROUGH STRENGTH PAC
66,CHRISTOPHER MARSTON,PRAYERIE PAC
67,CHRISTOPHER MARSTON,PRESERVE AMERICA'S FUTURE
68,CHRISTOPHER MARSTON,PROTECTUS
69,CHRISTOPHER MARSTON,RAISE THE WALL
70,CHRISTOPHER MARSTON,RED MAJORITY PAC
71,CHRISTOPHER MARSTON,RED WHITE AND BLUE FUND
72,CHRISTOPHER MARSTON,RIGGLEMAN VICTORY FUND
73,CHRISTOPHER MARSTON,RISING TIDE
74,CHRISTOPHER MARSTON,SOCIAL SECURITY REFORM NOW
75,CHRISTOPHER MARSTON,STEWART VICTORY FUND
76,CHRISTOPHER MARSTON,SUBURBAN VIRGINIA REPUBLICAN COALITION (SUV GOP)
77,CHRISTOPHER MARSTON,TEAM CRAMER ND
78,CHRISTOPHER MARSTON,TEAM MARSHALL
79,CHRISTOPHER MARSTON,TEAM MARTY
80,CHRISTOPHER MARSTON,THUNDER AND LIGHTNING FUND
81,CHRISTOPHER MARSTON,TROOIEN FOR US SENATE
82,CHRISTOPHER MARSTON,US NEWS NETWORK
83,CHRISTOPHER MARSTON,VFA PAC
84,CHRISTOPHER MARSTON,VRF
85,CHRISTOPHER MARSTON,WALORSKI VICTORY FUND
86,CHRISTOPHER MARSTON,WAR VETERANS FUND
87,CHRISTOPHER MARSTON,WE STAND FOR BETTER
88,CHRISTOPHER MARSTON,WHITE COAT WASTE PAC
89,CHRISTOPHER MARSTON,WIN IN MONTANA
90,CHRISTOPHER MARSTON,WITTMAN VICTORY COMMITTEE

910 17TH ST NW, WASHINGTON, DC 20006
,tres_nm,cmte_nm
0,BRIAN FOUCART,3 AMERICAN QUESTIONS PAC
1,BRIAN FOUCART,CASTEN VICTORY FUND
2,BRIAN FOUCART,JR VICTORY FUND
3,BRIAN FOUCART,NATIONAL DEMOCRATIC TRAINING COMMITTEE PAC
4,BRIAN FOUCART,SADDLE PAC
5,BRIAN FOUCART,STANTON VICTORY FUND 2018
6,CORDELIA LEWIS BURKS,DONNELLY FOR INDIANA
7,GREG LEVENSON,TURQUOISE PAC
8,INGRID DURAN,LATINO LEADERS FOR EQUALITY GROWTH OPPORTUNITY PROGRESSIVE ACTION & CHANGE (LLEGO-PAC)
9,JANICA KYRIACOPOULOS,ALLRED DELGADO VICTORY FUND
10,JANICA KYRIACOPOULOS,ALLRED HAYES VICTORY FUND
11,JANICA KYRIACOPOULOS,ASPIRE PAC
12,JANICA KYRIACOPOULOS,BUSTOS JEFFRIES VICTORY FUND
13,JANICA KYRIACOPOULOS,CO-6 VICTORY FUND
14,JANICA KYRIACOPOULOS,COURAGE TO LEAD FUND
15,JANICA KYRIACOPOULOS,DAVIDS ROSE VICTORY FUND
16,JANICA KYRIACOPOULOS,DELGADO VICTORY FUND
17,JANICA KYRIACOPOULOS,DONNELLY KAINE VICTORY FUND
18,JANICA KYRIACOPOULOS,DONNELLY VICTORY FUND
19,JANICA KYRIACOPOULOS,HEINRICH VICTORY FUND
20,JANICA KYRIACOPOULOS,JJS VICTORY FUND
21,JANICA KYRIACOPOULOS,"LEADERSHIP, OPPORTUNITY, INNOVATION SERVICE PAC - LOIS PAC"
22,JANICA KYRIACOPOULOS,LIEU-MENG VICTORY FUND
23,JANICA KYRIACOPOULOS,LUJAN/LOBO VICTORY FUND
24,JANICA KYRIACOPOULOS,NEW YORK RED TO BLUE FUND
25,JANICA KYRIACOPOULOS,REPAIR THE WORLD PAC
26,JANICA KYRIACOPOULOS,ROSE VICTORY FUND
27,JANICA KYRIACOPOULOS,SLOTKIN VICTORY FUND
28,JANICA KYRIACOPOULOS,STAND FOR NEW YORK
29,JEFFREY WEINSTOCK,TED DEUTCH FOR CONGRESS COMMITTEE
30,JEFFREY WEINSTOCK,TOGETHER ENCOURAGING DEMOCRACY - T.E.D. PAC
31,MARCIA DICKSTEIN SUDOLSKY,TRI-STATE MAXED-OUT WOMEN
32,NICHOLAS FEMIA,SUPPORTING HOUSE PROBLEM SOLVERS - SHP PAC
33,RICK GALENA,ARTICLE 1 POLITICAL ACTION COMMITTEE
34,SAMMY KYE,AT THE TABLE!



5429 MADISON AVE, SACRAMENTO, CA 95841
,tres_nm,cmte_nm
0,(no treasurer listed),COMMUNITIES FOR A NEW CALIFORNIA C4
1,(no treasurer listed),COMMUNITIES FOR A NEW CALIFORNIA-FRESNO-TULARE COMMITTEE
2,(no treasurer listed),SANDRE SWANSON FOR ASSEMBLY 2010
3,(no treasurer listed),SHARON QUIRK-SILVA FOR ASSEMBLY 2016
4,ABEL LEMAS,STANISLAUS COUNTY DEMOCRATIC CENTRAL COMMITTEE - FEDERAL
5,BRUCE EDWIN DANDY,ALLIANCE FOR WATER RESOURCES FOR VENTURA COUNTY POLITICAL ACTION COMMITTEE (AWRPAC)
6,DENISE LEWIS,AMADOR COUNTY DEMOCRATIC CENTRAL COMMITTEE
7,DENISE LEWIS,AMMAR CAMPA FOR CONGRESS
8,DENISE LEWIS,BUTTE COUNTY DEMOCRATIC CENTRAL COMMITTEE
9,DENISE LEWIS,CALAVERAS COUNTY DEMOCRATIC CENTRAL COMMITTEE
10,DENISE LEWIS,CALIFORNIA MODERATE VOICES
11,DENISE LEWIS,CALIFORNIANS FOR A DEMOCRATIC CONGRESS
12,DENISE LEWIS,CAPA21- FEDERAL
13,DENISE LEWIS,DAVIS DEMOCRATIC CLUB
14,DENISE LEWIS,DEMOCRATIC ACTION CLUB OF CHICO
15,DENISE LEWIS,DEMOCRATIC CLUB OF SOUTHWEST RIVERSIDE COUNTY
16,DENISE LEWIS,EL DORADO COUNTY DEMOCRATIC CENTRAL COMMITTEE
17,DENISE LEWIS,HARRY S. TRUMAN CLUB- FEDERAL
18,DENISE LEWIS,MIKE THOMPSON FOR CONGRESS
19,DENISE LEWIS,OHLONE AREA UNITED DEMOCRATIC CAMPAIGN
20,DENISE LEWIS,PLACER COUNTY DEMOCRATIC CENTRAL COMMITTEE
21,DENISE LEWIS,REDWOOD COAST DEMOCRATS
22,DENISE LEWIS,RIVERSIDE COUNTY DEMOCRATIC CENTRAL COMMITTEE
23,DENISE LEWIS,SIERRA FORWARD
24,DENISE LEWIS,YOLO COUNTY DEMOCRATIC CENTRAL COMMITTEE - FEDERAL ACCOUNT
25,KIM RICHARD,NAPA COUNTY DEMOCRATIC CENTRAL COMMITTEE
26,LARRY LEONARD,SONOMA COUNTY DEMOCRATIC CENTRAL COMMITTEE
27,LUCILLE BOSS RAMIREZ,SANTA BARBARA COUNTY DEMOCRATIC CENTRAL COMMITTEE FEDERAL PAC
28,RITA COPELAND,EL DORADO COUNTY DEMOCRATIC CAMPAIGN COALITION
29,RITA COPELAND,FUND FOR PROGRESS PAC
30,RITA COPELAND,REFORM THE DNC
31,SUSAN PRICE,TEHAMA COUNTY DEMOCRATIC CENTRAL COMMITTEE



PO BOX 75357, WASHINGTON, DC 20013
,tres_nm,cmte_nm
0,ALAN REISCHE,A NEW DIRECTION PAC
1,BRENDA MOORE,GIVING WILLINGLY EMPOWERING NATIONALLY (GWEN) PAC
2,DIANE EVANS,AMERICAN NETWORK OF COMMUNITY OPTIONS AND RESOURCES DISABILITY CHAMPIONS PAC
3,DIANE EVANS,BOLD DEMOCRATS
4,DIANE EVANS,BOLD DEMOCRATS I
5,DIANE EVANS,BOLD DEMOCRATS II
6,DIANE EVANS,BOLD FRONTLINE DEMOCRATS
7,DIANE EVANS,BRYCE CAMPA-NAJJAR VICTORY FUND
8,DIANE EVANS,CHC BOLD PAC
9,DIANE EVANS,CONGRESSIONAL PROGRESSIVE CAUCUS PAC
10,DIANE EVANS,FINANCIAL PLANNING ASSOCIATION POLITICAL ACTION COMMITTEE
11,DIANE EVANS,I GOT YOUR BACK PAC
12,DIANE EVANS,MAGGIE HASSAN GVP
13,DIANE EVANS,MAGGIE HASSAN VICTORY FUND
14,DIANE EVANS,NEW ECONOMY PAC
15,DIANE EVANS,PETERS VICTORY FUND
16,DIANE EVANS,PROSPERITY WITH ACCOUNTABILITY
17,DIANE EVANS,WI BRYCE VICTORY FUND
18,DON ERNST,MISSION PAC
19,EARL JENKINS,CONGRESSIONAL BLACK CAUCUS PAC
20,JOSEPH ONEK,FAIR JUDICIARY POLITICAL ACTION COMMITTEE
21,MAHMOUD BARAZI,FREE SYRIA PAC
22,NICHOLAS LEONARDI,COMMITTEE FOR MARYLAND'S PROGRESS
23,PHIL FOGG,AMERICAN HEALTH CARE ASSOCIATION POLITICAL ACTION COMMITTEE
24,RAFAEL LANTIGUA,SERRANO FOR CONGRESS
25,RICK HEGDAHL,VOTEVETS



555 CAPITOL MALL, SACRAMENTO, CA 95814
,tres_nm,cmte_nm
0,(no treasurer listed),"ALAMEDANS UNITED SUPPORTING VELLA AND ASHCRAFT FOR CITY COUNCIL, ET AL"
1,(no treasurer listed),GOLDEN CALIFORNIA COMMITTEE SPONSORED BY THE SEIU CALIFORNIA STATE COUNCIL
2,(no treasurer listed),OPPORTUNITY PAC - A COALITION OF TEACHERS HEALTH CARE GIVERS FACULTY MEMBERS SCHOOL EMPLOYEES AND PUBLIC AND PR
3,(no treasurer listed),PLANNED PARENTHOOD ADVOCACY PROJECT LOS ANGELES COUNTY
4,(no treasurer listed),PLANNED PARENTHOOD AFFILIATES OF CALIF
5,ALISSA KO,"PROTECTING CHOICE IN CALIFORNIA, A PROJECT OF PLANNED PARENTHOOD AFFILIATES OF CALIFORNIA"
6,ART PULASKI,"COMMITTEE FOR WORKING FAMILIES, SPONSORED BY THE CALIFORNIA LABOR FEDERATION, AFL-CIO"
7,ART PULASKI,"MILLION MORE VOTERS, SPONSORED BY THE CALIFORNIA LABOR FEDERATION, AFL-CIO"
8,BENJAMIN CARDENAS,NAPOLITANO FOR CONGRESS
9,BILL MACKEY,GRANITE CONSTRUCTION INC. EMPLOYEE PAC - GRANITEPAC
10,BUD DOUGHERTY,CALIFORNIA SCHOOL EMPLOYEES ASSOCIATION
11,DAVE LOW,"PACE OF CALIFORNIA SCHOOL EMPLOYEES ASSOCIATION - LOCAL, STATE, FEDERAL CANDIDATES"
12,DAVID YOUNG,"WRITERS GUILD OF AMERICA WEST, INC. PAC (WGAW PAC)"
13,JOANNE PARISE,WE VOTE - NOSOTROS VOTAMOS - PPAMM COMMITTEE
14,LINDSEY HARMON,NEVADA ADVOCATES FOR PLANNED PARENTHOOD AFFILIATES PAC (NAPPA PAC)
15,MARK SHEAHAN,PROFESSIONAL ENGINEERS IN CALIFORNIA GOVERNMENT FEDERAL PAC (PECG FED-PAC)
16,MARY MCMILLAN,ANNA ESHOO FOR CONGRESS
17,MICHAEL LAYTON,SOUTHERN CALIFORNIA PIPE TRADES DISTRICT COUNCIL 16 FEDERAL PAC
18,MICHAEL REDARD,PLANNED PARENTHOOD ADVOCACY PROJECT LOS ANGELES COUNTY ACTION FUND
19,MIKE LEVIN,MIKE LEVIN FOR CONGRESS
20,MONA SONNENSHEIN,PLANNED PARENTHOOD ACTION FUND OF THE PACIFIC SOUTHWEST PAC
21,NABIL EL-GHOROURY,CALIFORNIA ASSOCIATION OF MARRIAGE & FAMILY THERAPISTS PAC
22,RANDY THORNHILL,SOUTHWEST REGIONAL COUNCIL OF CARPENTERS LEGISLATIVE IMPROVEMENT CMTE UNITED BROTHERHOOD OF CARPENTERS & JOINERS OF AMERICA
23,RIKO MENDEZ,SERVICE EMPLOYEES INTERNATIONAL UNION LOCAL 521 INDEPENDENT EXPENDITURE COMMITTEE
24,STEVE CROUCH,INTERNATIONAL UNION OF OPERATING ENGINEERS STATIONARY ENGINEERS LOCAL 39 FEDERAL PAC
25,VIMAL NANAVATI,CALIFORNIA MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE - FEDERAL



901 N WASHINGTON ST, ALEXANDRIA, VA 22314
,tres_nm,cmte_nm
0,ANTHONY HOLM,SPEAK OUT FOR AMERICA PAC
1,MARK BLOCK,RESTORING AMERICA'S TRADITIONS PAC (RATPAC)
2,THEODORE KOCH,ANN MARIE PAC
3,THEODORE KOCH,COLLINS VICTORY COMMITTEE
4,THEODORE KOCH,COMMON SENSE WOMEN
5,THEODORE KOCH,KELLY PAC
6,THEODORE KOCH,REPUBLICAN MAJORITY FUND
7,THEODORE KOCH,SANTORUM PATRIOT VOICES FUND
8,TIMOTHY KOCH,2018 REPUBLICAN CHALLENGERS FUND (2018 RCF)
9,TIMOTHY KOCH,2018 REPUBLICAN CHALLENGERS FUND II
10,TIMOTHY KOCH,BARRASSO FISCHER VICTORY FUND
11,TIMOTHY KOCH,BARRASSO HELLER VICTORY FUND
12,TIMOTHY KOCH,BARRASSO VICTORY COMMITTEE
13,TIMOTHY KOCH,BOOZMAN VICTORY 2016
14,TIMOTHY KOCH,COMMON VALUES PAC
15,TIMOTHY KOCH,DESANTIS VICTORY COMMITTEE
16,TIMOTHY KOCH,FIRST PRINCIPLES FUND
17,TIMOTHY KOCH,INHOFE MULLIN VICTORY FUND
18,TIMOTHY KOCH,INHOFE VICTORY COMMITTEE 2020
19,TIMOTHY KOCH,TRUE NORTH PAC
20,TIMOTHY KOCH,WINSOME LEADERS I
21,TIMOTHY KOCH,WINSOME LEADERS II
22,TIMOTHY KOCH,YODER KANSAS VICTORY FUND
23,TIMOTHY KOCH,YODER VICTORY FUND



499 SOUTH CAPITOL ST SW, WASHINGTON, DC 20003
,tres_nm,cmte_nm
0,JOHN CLYBURN,BUILDING RELATIONSHIPS IN DIVERSE GEOGRAPHIC ENVIRONMENTS PAC (BRIDGE PAC)
1,LINDSAY ANGERHOLZER,THE US CAMPAIGN FUND
2,PAUL KIRCHNER,AMERICAN PILOTS' ASSOCIATION POLITICAL ACTION COMMITTEE
3,RANDALL BROZ,EDPAC
4,RANDALL BROZ,WHO DAT PAC
5,THOMAS DATWYLER,ABOVE POLITICS
6,THOMAS DATWYLER,BISHOP HUIZENGA WALBERG VICTORY COMMITTEE
7,THOMAS DATWYLER,BUILDING NEW MEXICO
8,THOMAS DATWYLER,DAVIDSON VICTORY FUND
9,THOMAS DATWYLER,DRAIN THE SWAMP OHIO
10,THOMAS DATWYLER,FIGHTING FOR CALIFORNIA
11,THOMAS DATWYLER,FLIGHT PATH AMERICA PAC
12,THOMAS DATWYLER,GEM PAC
13,THOMAS DATWYLER,LEAD ENCOURAGE ELECT PAC
14,THOMAS DATWYLER,LIBERTY OHIO ACTION FUND
15,THOMAS DATWYLER,ON AZIMUTH PAC
16,THOMAS DATWYLER,POLIQUIN VICTORY FUND
17,THOMAS DATWYLER,PROTECTING ARIZONA
18,THOMAS DATWYLER,RED TIDE PAC
19,THOMAS DATWYLER,RODNEY DAVIS VICTORY FUND
20,THOMAS DATWYLER,RODNEY ILLINOIS VICTORY FUND
21,THOMAS DATWYLER,SAVE OUR FUTURE PAC
22,THOMAS DATWYLER,YUGE PAC
23,THOMAS DATWYLER,YUGE POLITICAL ACTION COMMITTEE



120 MARYLAND AVE NE, WASHINGTON, DC 20002
,tres_nm,cmte_nm
0,ALLISON WRIGHT,DSCC
1,LAURA MATTHEWS,CALIFORNIA SENATE VICTORY 2018
2,LAURA MATTHEWS,FLORIDA SENATE 2016
3,LAURA MATTHEWS,FLORIDA SENATE RECOUNT 2018
4,LAURA MATTHEWS,HOUSE SENATE VICTORY FUND
5,LAURA MATTHEWS,MASSACHUSETTS SENATE VICTORY 2018
6,LAURA MATTHEWS,MCCASKILL 2018 VICTORY
7,LAURA MATTHEWS,MCCASKILL SENATE VICTORY 2018
8,LAURA MATTHEWS,MICHIGAN SENATE VICTORY 2018
9,LAURA MATTHEWS,MINNESOTA SENATE VICTORY 2018
10,LAURA MATTHEWS,NEVADA LEGACY FUND
11,LAURA MATTHEWS,NEVADA SENATE VICTORY 2018
12,LAURA MATTHEWS,NEW MEXICO SENATE VICTORY 2018
13,LAURA MATTHEWS,OHIO 2018 VICTORY
14,LAURA MATTHEWS,OHIO SENATE VICTORY 2018
15,LAURA MATTHEWS,PENNSYLVANIA SENATE VICTORY 2018
16,LAURA MATTHEWS,RHODE ISLAND SENATE VICTORY 2018
17,LAURA MATTHEWS,SENATE IMPACT: FLORIDA
18,LAURA MATTHEWS,VIRGINIA SENATE VICTORY 2018
19,LAURA MATTHEWS,WISCONSIN SENATE VICTORY 2018
20,LAURA MATTHEWS,WOMEN ON THE ROAD 2018
21,LAURA MATTHEWS,WOMEN ON THE ROAD CALIFORNIA 2018
22,LAURA MATTHEWS,WOMEN ON THE ROAD SEATTLE 2018
23,YATES BAROODY,GRASSROOTS VICTORY FUND 2016



249 E OCEAN BLVD, LONG BEACH, CA 90802
,tres_nm,cmte_nm
0,ALICA GALLAGHER,TAKE A SEAT AMERICA
1,CAROL ROBB,SAN BERNARDINO COUNTY DEMOCRATIC CENTRAL COMMITTEE
2,DAVID GOULD,CALIFORNIA ARMENIAN AMERICAN DEMOCRATS
3,DAVID GOULD,CALIFORNIA YOUNG DEMOCRATS FED PAC
4,DAVID GOULD,CANADA CRESCENTA DEMOCRATIC CLUB
5,DAVID GOULD,CITIZENS FOR WATERS
6,DAVID GOULD,DEMOCRATIC CLUB OF THE PASADENA FOOTHILLS
7,DAVID GOULD,DEMOCRATIC PARTY OF ORANGE COUNTY FED PAC
8,DAVID GOULD,DEMOCRATIC PARTY OF THE SAN FERNANDO VALLEY
9,DAVID GOULD,DEMOCRATS FOR ISRAEL
10,DAVID GOULD,GLENDALE DEMOCRATIC CLUB
11,DAVID GOULD,GOLDEN STATE POLITICAL ACTION COMMITTEE
12,DAVID GOULD,MIND MATTERS FEDERAL PAC
13,DAVID GOULD,NEW VOTER PAC
14,DAVID GOULD,ORANGE COUNTY VICTORY FUND
15,DAVID GOULD,ORANGE COUNTY YOUNG DEMOCRATS FEDERAL
16,DAVID GOULD,PASADENA AREA UNITED DEMOCRATIC HEADQUARTERS
17,DAVID GOULD,PEOPLE HELPING PEOPLE
18,DAVID GOULD,STONEWALL DEMOCRATIC CLUB FED PAC
19,DAVID GOULD,WEST LOS ANGELES HEALTH PAC - FEDERAL
20,DAVID GOULD,WESTSIDE DEMOCRATIC HQ FEDERAL
21,SARAH RASCON,NORTHEAST DEMOCRATIC CLUB



PO BOX 2485, SPRINGFIELD, VA 22152
,tres_nm,cmte_nm
0,GAUTAM SAMADDER,ASSOCIATION OF PHYSICIANS OF INDIAN ORIGIN POLITICAL ACTION COMMITTEE
1,JOE GRANDY,HEALTHCARE FREEDOM FUND
2,ROBERT CARLIN,BRADY CURBELO TIBERI VICTORY 2017
3,ROBERT CARLIN,CATHY MCMORRIS RODGERS VICTORY FUND
4,ROBERT CARLIN,CAVPAC
5,ROBERT CARLIN,CMR POLITICAL ACTION COMMITTEE
6,ROBERT CARLIN,COME BACK POLITICAL ACTION COMMITTEE
7,ROBERT CARLIN,GIVING US SECURITY POLITICAL ACTION COMMITTEE (GUS PAC)
8,ROBERT CARLIN,HUIZENGA VICTORY FUND
9,ROBERT CARLIN,LEADERS ONLY UNITE POLITICAL ACTION COMMITTEE (AKA LOU PAC)
10,ROBERT CARLIN,"LIMITED GOVERNMENT, OPPORTUNITY AND VALUES PAC (LOV PAC)"
11,ROBERT CARLIN,LOVE VICTORY COMMITTEE
12,ROBERT CARLIN,MAKING AMERICA PROSPEROUS PAC
13,ROBERT CARLIN,MCMORRIS RODGERS AMERICAN DREAM PROJECT; THE
14,ROBERT CARLIN,RELIGHT AMERICA PAC
15,ROBERT CARLIN,ROLL ON COLUMBIA POLITICAL ACTION COMMITTEE
16,ROBERT CARLIN,ROTHFUS VICTORY COMMITTEE
17,ROBERT CARLIN,SPEAK UP AMERICA POLITICAL ACTION COMMITTEE
18,ROBERT CARLIN,THE EYE OF THE TIGER POLITICAL ACTION COMMITTEE
19,ROBERT CARLIN,TRUTH IS MARKETS WORK FUND A/K/A TIM W FUND
20,ROBERT CARLIN,UPPER HAND FUND



1001 PENNSYLVANIA AVE NW, WASHINGTON, DC 20004
,tres_nm,cmte_nm
0,(no treasurer listed),NATIONAL SECURITY AND OPPORTUNITY FUND
1,CARL BEARDEN,"MISSOURI FREEDOM BUILDERS, INC."
2,CHARLES GANTT,"MAVERICK ACTION, INC."
3,CHARLES GANTT,NATIONAL LEADERSHIP COUNCIL PAC
4,CHARLES SPIES,CONSERVATIVE LOUISIANA
5,CHARLES SPIES,"RESTORE OUR FUTURE, INC."
6,DEREK ROSS,CITIZENS FOR A STRONGER NEW JERSEY
7,GREG ELLIOTT,WEST VIRGINIA FREEDOM BUILDERS INC
8,JULIE DOZIER,TENTH AMENDMENT ACTION PROJECT
9,KEVIN RIORDAN,"ANTHEM, INC. POLITICAL ACTION COMMITTEE (ANTHEM PAC)"
10,SLOANE SKINNER,B-PAC
11,SLOANE SKINNER,CITIZENS FOR COMMON SENSE USA
12,SLOANE SKINNER,CONSERVATIVE UTAH
13,SLOANE SKINNER,CONSERVATIVES FOR PA
14,SLOANE SKINNER,"FREEDOM BUILDERS, INC"
15,SLOANE SKINNER,FREEDOM FUND INDEPENDENT COMMITTEE
16,SLOANE SKINNER,KEYSTONE COURAGE
17,SLOANE SKINNER,NEW YORK JOBS COUNCIL
18,SLOANE SKINNER,OHIO FREEDOM FUND
19,STACEY DION,"CIM (DELAWARE), INC PAC (AKA""CARLYLE PAC"



701 8TH ST NW, WASHINGTON, DC 20001
,tres_nm,cmte_nm
0,AMANDA HOYT,"CHENIERE ENERGY, INC. PAC"
1,BENJAMIN BUTTERFIELD,GROWTH ENERGY PAC
2,CARLA CAMACHO,ERISA INDUSTRY COMMITTEE POLITICAL ACTION COMMITTEE; THE (ERIC PAC)
3,CLAY PARKER DAVIS,HELP AMERICA'S LEADERS POLITICAL ACTION COMMITTEE (HALPAC)
4,ERIC SWANSON,"BATS GLOBAL MARKETS, INC POLITICAL ACTION COMMITTEE"
5,GREG POLK,"STANLEY BLACK & DECKER, INC. POLITICAL ACTION COMMITTEE"
6,KIMBERLY VANWYHE,DENALI LEADERSHIP PAC
7,LANCE KOLBET,FREEDOM FUND
8,MEREDITH LESHER,CENTER FOR SPORTFISHING POLICY POLITICAL ACTION COMMITTEE AKA CENTER PAC
9,MEREDITH LESHER,CONCHO RESOURCES INC PAC
10,MEREDITH LESHER,IDAHO CONSERVATIVE GROWTH FUND
11,MEREDITH LESHER,OUTPATIENT OPHTHALMIC SURGERY SOCIETY POLITICAL ACTION COMMITTEE
12,MEREDITH LESHER,RICH POLITICAL ACTION COMMITTEE
13,MEREDITH LESHER,TOM JAMES COMPANY POLITICAL ACTION COMMITTEE
14,MEREDITH LESHER,VALUE IN ELECTING WOMEN POLITICAL ACTION COMMITTEE
15,MEREDITH LESHER,"WILLIAMS AND JENSEN, PLLC POLITICAL ACTION COMMITTEE"
16,MEREDITH LESHER,ZOETIS GOOD GOVERNMENT FUND
17,SCOTT GRAVES,AMERICAN ASSOCIATION OF CROP INSURERS PAC
18,STUART SANDER,FUNDING DEVELOPING LEADERSHIP POLITICAL ACTION COMMITTEE AKA FDL PAC
19,WILLIAM HORAN,FEDERATION OF EXCHANGE ACCOMODATORS 1031 PAC



nan, nan, nan nan
,tres_nm,cmte_nm
0,(no treasurer listed),(cmte_nm missing)
1,(no treasurer listed),(cmte_nm missing)
2,(no treasurer listed),(cmte_nm missing)
3,(no treasurer listed),(cmte_nm missing)
4,(no treasurer listed),(cmte_nm missing)
5,(no treasurer listed),(cmte_nm missing)
6,(no treasurer listed),(cmte_nm missing)
7,(no treasurer listed),(cmte_nm missing)
8,(no treasurer listed),BLACK VOTERS MATTER FUND INC
9,(no treasurer listed),CARLA SPALDING FOR U.S. CONGRESS
10,(no treasurer listed),"DONOGHUE, MARGUERITE"
11,(no treasurer listed),"LASKER, MARY W"
12,(no treasurer listed),"LIDRON, PETER M"
13,(no treasurer listed),"LIERMAN, TERRY"
14,(no treasurer listed),NOWGOVOTE
15,(no treasurer listed),PETER C FOY
16,NANA TCHIENKOU,NANA FOR SENATE
17,PAIGE CASSIDY,AT&T CORP
18,RUBY GEORGE,DUVAL TEACHERS UNITED



PO BOX 83142, GAITHERSBURG, MD 20883
,tres_nm,cmte_nm
0,ALLEN RYAN,AMERICA 2.0 PAC
1,ERIC LEAVITT,SKIPAC
2,JOHN CAREY,GREAT AMERICAN FUND
3,KURT SCHRADER,BLUE DOG POLITICAL ACTION COMMITTEE
4,MARK LEVY,BRIDGE THE GAP PAC
5,MARLENE MOSS,GREATER OPPORTUNITIES FOR LEADERSHIP DEVELOPMENT (GOLD PAC)
6,MICHAEL FERRELL,LAB PAC
7,MOLLY ALLEN TUESCA,FUTURE FORUM PAC
8,RONALD JACOBS,VEN-PAC
9,TINA THOMAS,SAC PAC
10,VICKIE WINPISINGER,COMMITTEE FOR MIDWEST PRIORITIES
11,VICKIE WINPISINGER,DAWG PAC - DEMOCRATS AGAINST WASTE IN GOVERNMENT
12,VICKIE WINPISINGER,DEMOCRATS WIN SEATS (DWS PAC)
13,VICKIE WINPISINGER,DWS VICTORY FUND
14,VICKIE WINPISINGER,HARVEST PAC
15,VICKIE WINPISINGER,JOINING IDEAS TO MOTIVATE MOVEMENT FOR YOU (JIMMY PAC)
16,VICKIE WINPISINGER,PROGRESS PAC
17,VICKIE WINPISINGER,THE GPS VICTORY FUND
18,VICKIE WINPISINGER,TIM RYAN VICTORY FUND



PO BOX 97275, RALEIGH, NC 27624
,tres_nm,cmte_nm
0,(no treasurer listed),EASTERN CAROLINA CONSERVATIVE FUND
1,COLLIN MCMICHAEL,BUDD NORTH CAROLINA VICTORY FUND 2018
2,COLLIN MCMICHAEL,BUDD VICTORY
3,COLLIN MCMICHAEL,BURR NC VICTORY FUND
4,COLLIN MCMICHAEL,CONSERVATIVE ROUNDTABLE
5,COLLIN MCMICHAEL,GEORGE HOLDING VICTORY COMMITTEE 2018
6,COLLIN MCMICHAEL,HARRIS LEADERSHIP FUND
7,COLLIN MCMICHAEL,HOLD THE MAJORITY
8,COLLIN MCMICHAEL,HOLDING ROUZER MAJORITY COMMITTEE
9,COLLIN MCMICHAEL,NC LPAC VICTORY COMMITTEE
10,COLLIN MCMICHAEL,NUNES HOLDING MAJORITY COMMITTEE
11,COLLIN MCMICHAEL,OLD NORTH STATE PAC
12,COLLIN MCMICHAEL,THE HOLDING VICTORY FUND
13,COLLIN MCMICHAEL,TOGETHER HOLDING OUR MAJORITY PAC
14,COLLIN MCMICHAEL,WALKER FREEDOM FUND
15,COLLIN MCMICHAEL,YOUR VOICE COUNTS
16,DANIEL GURLEY,CITIZENS FOR RESPONSIBLE LEADERSHIP
17,PAUL NORCROSS,CITIZENS UNITED FOR EDUCATION



525 E SEASIDE WAY, LONG BEACH, CA 90802
,tres_nm,cmte_nm
0,GARY CRUMMITT,A PROGRESSIVE CALIFORNIA
1,GARY CRUMMITT,AJA BROWN FOR CONGRESS
2,GARY CRUMMITT,ANIMAL PAC
3,GARY CRUMMITT,BEACH CITIES DEMOCRATS - FEDERAL
4,GARY CRUMMITT,BRYAN WITT FOR CONGRESS
5,GARY CRUMMITT,CAIR-CA PAC
6,GARY CRUMMITT,DEMOC PAC
7,GARY CRUMMITT,DEMOCRACY AND PROGRESS
8,GARY CRUMMITT,GLOBAL TRADE AND COMMERCE FEDERAL PAC
9,GARY CRUMMITT,JOSHUA SCOTT FOR CONGRESS
10,GARY CRUMMITT,KOREAN AMERICAN DEMOCRATIC COMMITTEE
11,GARY CRUMMITT,LAMBDA DEMOCRATIC CLUB
12,GARY CRUMMITT,LOS ANGELES COUNTY ASIAN AMERICAN & PACIFIC ISLANDER DEMOCRATS -FEDERAL
13,GARY CRUMMITT,TURKISH COALITION CALIFORNIA PAC (TC-CAL PAC)
14,GARY CRUMMITT,WEST END DEMOCRATIC CLUB - FEDERAL
15,GARY CRUMMITT,WEST HOLLYWOOD/BEVERLY HILLS DEMOCRATIC HEADQUARTERS COMMITTEE
16,GARY CRUMMITT,WRIGHT FOR CONGESS
17,GARY CRUMMITT,YOUNG AWARE AMERICANS PAC



332 W LEE HWY, WARRENTON, VA 20186
,tres_nm,cmte_nm
0,CHARLIE GRIZZLE,BUILDING AMERICA'S REPUBLICAN REPRESENTATION PAC
1,JACQUELINE PONDER,"COLORADANS FOR FAMILY, MILITARY, AND NATION PAC"
2,STEVE RALLS,ANDY BARR VICTORY COMMITTEE
3,STEVE RALLS,BLUEGRASS VICTORY COMMITTEE
4,STEVE RALLS,BOOTS POLITICAL ACTION COMMITTEE
5,STEVE RALLS,CAPITO VICTORY COMMITTEE
6,STEVE RALLS,CHRIN WEBBER VICTORY COMMITTEE
7,STEVE RALLS,DEEDS NOT WORDS POLITICAL ACTION COMMITTEE
8,STEVE RALLS,FRIENDS OF ANDY BARR COMMITTEE
9,STEVE RALLS,FUNDING REPUBLICANS SUPPORTING OPPORTUNITY AND GROWTH - JUMP POLITICAL ACTION COMMITTEE
10,STEVE RALLS,MULLIN VICTORY FUND
11,STEVE RALLS,SASSE LEADERSHIP COMMITTEE
12,STEVE RALLS,SENSIBLE AMERICAN SOLUTIONS SUPPORTING EVERYONE PAC
13,STEVE RALLS,STAUBER VICTORY FUND
14,STEVE RALLS,STEVE RUSSELL VICTORY FUND
15,STEVE RALLS,WEBBER VICTORY COMMITTEE
16,STEVE RALLS,WILD AND WONDERFUL PAC



1390 CHAIN BRIDGE RD, MCLEAN, VA 22101
,tres_nm,cmte_nm
0,CABELL HOBBS,DALLAS ENTREPRENEURS - SESSIONS 2018 FUND
1,CABELL HOBBS,DEFENDING AMERICAN VALUES EVERYWHERE PAC (DAVE PAC)
2,CABELL HOBBS,GIANFORTE-ROSENDALE FUND
3,CABELL HOBBS,NEW OC FUTURE PAC
4,CABELL HOBBS,NOEM-RHODEN VICTORY COMMITTEE
5,CABELL HOBBS,RED SENTINEL
6,CABELL HOBBS,RED SENTINEL PAC
7,CABELL HOBBS,TRANSPARENCY IN GOVERNMENT PAC
8,CHRISTIAN RICKERS,AMERICAN UPRISING PAC
9,MELODIE JOHNSON,AMERICAN UPRISING 2020
10,MELODIE JOHNSON,EXCELSIORNY PAC
11,MELODIE JOHNSON,FREEDOMWORKS VICTORY COMMITTEE
12,MELODIE JOHNSON,IRON DOME ALLIANCE
13,WILLIAM OZANUS,C3 PAC
14,WILLIAM OZANUS,CIVIC
15,WILLIAM OZANUS,CONSERVATIVE VOICES PAC



C/O RED CURVE SOLUTIONS, BEVERLY, MA 01915
,tres_nm,cmte_nm
0,BRADLEY CRATE,BELIEVE IN AMERICA PAC

119 1ST AVE SOUTH, SEATTLE, WA 98104
,tres_nm,cmte_nm
0,JAY PETTERSON,CANTWELL MURPHY VICTORY FUND
1,JAY PETTERSON,CANTWELL VICTORY 2018
2,JAY PETTERSON,CANTWELL WARREN WASHINGTON VICTORY FUND
3,JAY PETTERSON,CANTWELL-HIRONO VICTORY FUND
4,JAY PETTERSON,CANTWELL-STABENOW VICTORY FUND
5,JAY PETTERSON,CANTWELL-WARREN VICTORY FUND
6,JAY PETTERSON,CANTWELL-WHITEHOUSE VICTORY FUND
7,JAY PETTERSON,FLIP WA BLUE 2018
8,JAY PETTERSON,NEW LEADERS PAC
9,JAY PETTERSON,O'ROURKE WASHINGTON DEMOCRATIC VICTORY FUND
10,JAY PETTERSON,PROGRESS FOR USA PAC
11,JAY PETTERSON,VOTER DEFENSE FUND
12,JAY PETTERSON,VOTER PROTECTION PROJECT
13,JAY PETTERSON,WE REPRESENT



2150 RIVER PLAZA DR, SACRAMENTO, CA 95833
,tres_nm,cmte_nm
0,(no treasurer listed),AMERICAN SIKHS FOR TRUTH
1,DAVID BAUER,AMERICAN FREE ENTERPRISE PAC
2,DAVID BAUER,AMERICANS FOR ACCOUNTABILITY IN LEADERSHIP
3,DAVID BAUER,"ATLAS PAC, FEDERAL"
4,DAVID BAUER,CALIFORNIA COAST CREDIT UNION FEDERAL PAC
5,DAVID BAUER,DENHAM FOR CONGRESS
6,DAVID BAUER,DENHAM VICTORY FUND
7,DAVID BAUER,DOUG LAMALFA COMMITTEE
8,DAVID BAUER,JEFF PAC
9,DAVID BAUER,MCCLINTOCK FOR CONGRESS
10,DAVID BAUER,NORCAL WATER JOBS LIBERTY PAC
11,DAVID BAUER,SACRAMENTO VALLEY LINCOLN CLUB FEDERAL
12,DAVID BAUER,SUPERIOR CALIFORNIA FEDERAL LEADERSHIP PAC
13,DAVID BAUER,TAKING OUR MAJORITY PAC (T.O.M.PAC)



PO BOX 75650, WASHINGTON, DC 20013
,tres_nm,cmte_nm
0,JOEL RITER,21ST CENTURY GRANITE LEADERSHIP
1,JOEL RITER,A BETTER GEORGIA PAC
2,JOEL RITER,AMERICAN FREEDOM BUILDERS ACTION NETWORK
3,JOEL RITER,AMERICAN VALUES FIRST
4,JOEL RITER,CITIZENS FOR A WORKING AMERICA PAC
5,JOEL RITER,CONCRETE AND PORTLAND CEMENT ACTION NETWORK
6,JOEL RITER,FOR A BETTER NEW MEXICO
7,JOEL RITER,HAYSGO PAC
8,JOEL RITER,MARYLAND USA
9,JOEL RITER,OHIO STRONG
10,JOEL RITER,PENNSYLVANIA FIRST
11,JOEL RITER,PENNSYLVANIANS FOR CONSERVATIVE POLICIES
12,JOEL RITER,SAFE STREETS SAFE COMMUNITIES
13,JOEL RITER,SECURING LOUISIANA'S FUTURE



2350 KERNER BLVD, SAN RAFAEL, CA 94901
,tres_nm,cmte_nm
0,(no treasurer listed),NEW MAJORITY CALIFORNIA
1,CHRISTOPHER SKINNELL,PERFORMANT FINANCIAL CORPORATION POLITICAL ACTION COMMITTEE
2,CHRISTOPHER SKINNELL,"PINNACLE ENTERTAINMENT, INC. PAC AKA PINNACLE ENTERTAINMENT PAC"
3,JASON KAUNE,BIOMARIN PHARMACEUTICAL INC. POLITICAL ACTION COMMITTEE AKA BIOMARIN PAC
4,JASON KAUNE,"GEP ADMINISTRATIVE SERVICES, INC. EMPLOYEE PAC"
5,JASON KAUNE,NEW MAJORITY FEDERAL PAC
6,JASON KAUNE,"PROFESSIONAL SERVICE INDUSTRIES, INC. POLITICAL ACTION COMMITTEE (PSI PAC)"
7,JASON KAUNE,"PROSPECT MEDICAL HOLDINGS, INC. POLITICAL ACTION COMMITTEE (PROSPECTPAC)"
8,MICHAEL COLUMBO,OUTFRONT MEDIA INC POLITICAL ACTION COMMITTEE (OFPAC)
9,STEVEN LUCAS,MGM RESORTS INTERNATIONAL  PAC
10,STEVEN LUCAS,SPOONER'S INDEPENDENT EXPENDITURES
11,STEVEN LUCAS,"SWITCH, INC. PAC"
12,VIGO NIELSEN,"FARMERS GROUP, INC., FARMERS INSURANCE EXCHANGE, FIRE INSURANCE EXCHANGE AND TRUCK INSURANCE EXCHANGE POLITICAL ACTION COMMITTEE AKA FARMERS INSURANCE PAC"
13,VIGO NIELSEN,"WOODWARD, INC. FOR EFFECTIVE GOVERNMENT"



101 CONSTITUTION AVE NW, WASHINGTON, DC 20001
,tres_nm,cmte_nm
0,(no treasurer listed),FUELS AMERICA
1,(no treasurer listed),UNITED BROTHERHOOD OF CARPENTERS AND JOINERS OF AMERICA
2,AMY HUNT,"THE GOLDMAN SACHS GROUP, INC. POLITICAL ACTION COMMITTEE"
3,DONALD WALKER,AMERICAN COUNCIL OF LIFE INSURERS POLITICAL ACTION COMMITTEE
4,ELIZABETH VARLEY,AMERIPRISE FINANCIAL INC. POLITICAL ACTION COMMITTEE (AMERIPRISEPAC)
5,JOSEPH FENGLER,HONEYWELL INTERNATIONAL POLITICAL ACTION COMMITTEE
6,LOREEN ZISKA,UNITED BROTHERHOOD OF CARPENTERS AND JOINERS
7,MARY BETH DONNELLY,NEWMONT MINING CORPORATION PAC
8,MICHELLE DIMAROB,"ALTRIA GROUP, INC. POLITICAL ACTION COMMITTEE (ALTRIAPAC)"
9,MICHELLE DIMAROB,STE. MICHELLE WINE ESTATES LTD. POLITICAL ACTION COMMITTEE
10,RICHARDSON NOLAN,"COALPAC, A POLITICAL ACTION COMMITTEE OF THE NATIONAL MINING ASSOCIATION"
11,RICHARDSON NOLAN,"MINEPAC, A POLITICAL ACTION COMMITTEE OF THE NATIONAL MINING ASSOCIATION"
12,SCOTT BROWN,EXELON CORPORATION POLITICAL ACTION COMMITTEE (EXELON PAC)



499 S CAPITOL ST SW, WASHINGTON, DC 20003
,tres_nm,cmte_nm
0,DAVID YOUNGBLOOD,PROTECTING OUR VOTE FEDERAL PAC
1,LINDSAY ANGERHOLZER,DEMOCRATS UNITED TO CHANGE AND HOPE PAC
2,LINDSAY ANGERHOLZER,EVERGREEN PAC
3,LINDSAY ANGERHOLZER,FRIENDS OF JOHN SARBANES
4,LINDSAY ANGERHOLZER,MAKING A REAL CHANGE - MARC PAC
5,LINDSAY ANGERHOLZER,TAKING THE HILL PAC
6,LINDSAY ANGERHOLZER,TOGETHER EVERYONE REALIZES REAL IMPACT AKA TERRI PAC
7,PLURIA WILLIAM MARSHALL,BOULE' 1904 PAC
8,RANDALL BROZ,FIERCE PAC
9,RANDALL BROZ,MILK RIVER PAC
10,ROD KASSIR,BRAVE PAC
11,THOMAS DATWYLER,CONSERVATIVE TRUST OF AMERICA
12,THOMAS DATWYLER,RESTORING OUR DEMOCRACY (ROD PAC)



124 WASHINGTON ST, FOXBORO, MA 02035
,tres_nm,cmte_nm
0,KEITH LOWEY,ARIZONA NEVADA NEW YORK VICTORY 2018
1,KEITH LOWEY,ELIZABETH WARREN ACTION FUND
2,KEITH LOWEY,GILLIBRAND MCCASKILL SENATE 2018
3,KEITH LOWEY,GILLIBRAND VICTORY FUND
4,KEITH LOWEY,HEIDI HEITKAMP OFF THE SIDELINES VICTORY
5,KEITH LOWEY,NY AND WI VICTORY FUND
6,KEITH LOWEY,PAC FOR A LEVEL PLAYING FIELD
7,KEITH LOWEY,PARITY PAC
8,KEITH LOWEY,PATRIOTIC ARTISTS AND CREATIVES PAC (AKA PAC SQUARED)
9,KEITH LOWEY,PERIMETER PAC
10,KEITH LOWEY,PORTER WARREN VICTORY FUND
11,KEITH LOWEY,RHODE ISLAND VICTORY FUND 2018
12,PAUL EGERMAN,"ELIZABETH WARREN PRESIDENTIAL EXPLORATORY COMMITTEE, INC."



1751 POTOMAC GREENS DR, ALEXANDRIA, VA 22314
,tres_nm,cmte_nm
0,DAVID TEMPLE,FRIENDS OF DON BEYER
1,KATHERINE BUCHANAN,BACKPAC
2,KATHERINE BUCHANAN,COMMON GROUND PAC
3,KATHERINE BUCHANAN,DEMOCRATS FOR OPPORTUNITY FUND
4,KATHERINE BUCHANAN,FORWARD TOGETHER PAC
5,KATHERINE BUCHANAN,JONES ACTION FUND
6,KATHERINE BUCHANAN,JONES VICTORY FUND
7,KATHERINE BUCHANAN,KAINE ACTION FUND
8,KATHERINE BUCHANAN,KAINE FOR COMMON GROUND
9,KATHERINE BUCHANAN,KAINE FOR VIRGINIA
10,KATHERINE BUCHANAN,KAINE VICTORY FUND
11,KATHERINE BUCHANAN,SAVE OUR SENATE 2
12,KATHERINE BUCHANAN,STRENGTHENING VIRGINIA'S WORKING FAMILIES PAC



815 16TH ST NW, WASHINGTON, DC 20006
,tres_nm,cmte_nm
0,(no treasurer listed),AFL-CIO COMMITTEE ON POLITICAL EDUCATION TREASURY ACCOUNT
1,(no treasurer listed),AFL-CIO COMMITTEE ON POLITICAL EDUCATION TREASURY FUND
2,(no treasurer listed),AMERICAN FEDERATION OF LABOR CONGRESS OF INDUSTRIAL ORGANIZATIONS AFL-CIO
3,(no treasurer listed),TRANSPORTATION TRADES DEPARTMENT AFL-CIO POLITICAL EDUCATION FUND
4,(no treasurer listed),WORKING AMERICA
5,BRENT BOOKER,NORTH AMERICA'S BUILDING TRADES UNIONS POLITICAL EDUCATIONAL FUND
6,CRYSTAL KING,WORKING AMERICA COALITION
7,ELIZABETH SHULER,AFL-CIO
8,ELIZABETH SHULER,AFL-CIO COPE POLITICAL CONTRIBUTIONS COMMITTEE
9,ELIZABETH SHULER,"AMERICAN FEDERATION OF STATE, COUNTY AND MUNICIPAL EMPLOYEES, AFL-CIO"
10,ELIZABETH SHULER,WORKERS' VOICE
11,GREG REGAN,TRANSPORTATION TRADES DEPARTMENT AFL-CIO POLITICAL ACTION COMMITTEE (TTD/PAC)
12,TIM GRAY,WORKING AMERICA



455 CAPITOL MALL, SACRAMENTO, CA 95814
,tres_nm,cmte_nm
0,(no treasurer listed),BUSINESS ED POLITICAL ACTION COMMITTEE
1,(no treasurer listed),ECONOMIC FREEDOM FUND
2,ASHLEE TITUS,AVERY DENNISON CORPORATION EMPLOYEE POLITICAL ACTION COMMITTEE (ADEPAC)
3,ASHLEE TITUS,STAND WITH AMERICA
4,BRIAN HILDRETH,LINCOLN CLUB OF NORTHERN CALIFORNIA FEDERAL PAC
5,CHARLES BELL,"CHILDREN'S HEALTH, LIFE AND DEVELOPMENT POLITICAL ACTION COMMITTEE (CHLD PAC)"
6,THOMAS HILTACHK,CALIFORNIANS FOR FISCAL RESPONSIBILITY
7,THOMAS HILTACHK,COMPUTING TECHNOLOGY INDUSTRY ASSOCIATION PAC (COMPTIA PAC)
8,THOMAS HILTACHK,"HEALTH NET, INCORPORATED POLITICAL ACTION COMMITTEE"
9,THOMAS HILTACHK,NATIONAL ALLIANCE FOR ENVIRONMENTAL REFORM POLITICAL ACTION COMMITTEE
10,THOMAS HILTACHK,SPIRIT OF DEMOCRACY AMERICA
11,THOMAS HILTACHK,STAND WITH AMERICA
12,THOMAS HILTACHK,VICTORY CALIFORNIA



430 SOUTH CAPITOL ST SE, WASHINGTON, DC 20003
,tres_nm,cmte_nm
0,DANIEL SENA,DCCC
1,DANIEL SENA,NEW JERSEY HOUSE VICTORY FUND
2,DANIEL SENA,VIRGINIA HOUSE VICTORY FUND
3,JOSEPH SMOLSKIS,DEMOCRATIC GRASSROOTS VICTORY FUND
4,JOSEPH SMOLSKIS,DEMOCRATIC HOPE FUND
5,MANISHA PATEL,DEMOCRATIC NATIONAL CONVENTION COMMITTEE 2016
6,TARYN VOGEL,BAER 2018 VICTORY FUND
7,TARYN VOGEL,MUCARSEL-POWELL 2018 VICTORY FUND
8,TARYN VOGEL,SHAPIRO 2018 VICTORY FUND
9,TARYN VOGEL,SODERBERG 2018 VICTORY FUND
10,WILLIAM DERROUGH,DEMOCRATIC NATIONAL COMMITTEE - TRAVEL OFFSET ACCOUNT
11,WILLIAM DERROUGH,DEMOCRATIC PROPERTIES CORPORATION-FEDERAL
12,WILLIAM DERROUGH,DNC SERVICES CORP./DEM. NAT'L COMMITTEE



138 CONANT ST, BEVERLY, MA 01915
,tres_nm,cmte_nm
0,BRADLEY CRATE,BADGER VICTORY FUND
1,BRADLEY CRATE,CLEVELAND COMMITTEE 2016
2,BRADLEY CRATE,JUST LEAD PAC
3,BRADLEY CRATE,LEWIS VICTORY FUND
4,BRADLEY CRATE,MIKE JOHNSON VICTORY
5,BRADLEY CRATE,RICK GREEN VICTORY COMMITTEE
6,BRADLEY CRATE,RON JOHNSON VICTORY
7,BRADLEY CRATE,TEDESCHI FOR CONGRESS
8,BRADLEY CRATE,VA DELEGATE TO CLEVELAND 2016 COMMITTEE #1
9,BRADLEY CRATE,VA DELEGATE TO CLEVELAND 2016 COMMITTEE #2
10,CHARLES GANTT,RESTORE AMERICAN LEADERSHIP
11,JAMES MALCZEWSKI,STRATEGY PAC



801 PENNSYLVANIA AVE NW, WASHINGTON, DC 20004
,tres_nm,cmte_nm
0,ALISSA LONG,ALLIANT ENERGY CORPORATION EMPLOYEE'S POLITICAL ACTION COMM
1,ANDREW WHITMAN,"VARIAN MEDICAL SYSTEMS, INC. PAC ('VARIAN PAC')"
2,BRETT LOPER,AMERICAN EXPRESS COMPANY POLITICAL ACTION COMMITTEE (AXPPAC)
3,BRIAN TOBIN,"NEXTERA ENERGY, INC. POLITICAL ACTION COMMITTEE"
4,CHRISTOPHER CERONE,"ZIMMER BIOMET HOLDINGS, INC. POLITICAL ACTION COMMITTEE (A.K.A. 'ZIMMER BIOMET PAC')"
5,ERIC BISHOP,FRESENIUS MEDICAL CARE NORTH AMERICA PAC
6,JEFFREY DEBOER,THE REAL ESTATE ROUNDTABLE POLITICAL ACTION COMMITTEE (REALPAC)
7,JOHN ORLANDO,CBS CORPORATION POLITICAL ACTION COMMITTEE
8,LAUREN MYRICK,NOMURA HOLDING AMERICA INC. POLITICAL ACTION COMMITTEE (NOMURAPAC)
9,ROBERT EKSTROM,PINNACLE WEST CAPITAL CORPORATION PAC
10,SHAWN O'NEAIL,NOVARTIS CORPORATION POLITICAL ACTION COMMITTEE

2776 S ARLINGTON MILL DR, ARLINGTON, VA 22206
,tres_nm,cmte_nm
0,SCOTT MACKENZIE,BLACK REPUBLICAN PAC
1,SCOTT MACKENZIE,CONSERVATIVE MAJORITY FUND
2,SCOTT MACKENZIE,CONSERVATIVE VICTORY FUND
3,SCOTT MACKENZIE,FOUNDED ON TRUTH
4,SCOTT MACKENZIE,HISPANICS FOR A CONSERVATIVE AMERICA
5,SCOTT MACKENZIE,MAN IN THE ARENA
6,SCOTT MACKENZIE,SAVE NEW YORK PAC
7,SCOTT MACKENZIE,STAND AMERICA PAC
8,SCOTT MACKENZIE,TEA PARTY MAJORITY FUND
9,SCOTT MACKENZIE,TEA PARTY VICTORY FUND
10,SCOTT MACKENZIE,THE CONSERVATIVE STRIKEFORCE



1787 TRIBUTE RD, SACRAMENTO, CA 95815
,tres_nm,cmte_nm
0,(no treasurer listed),SAFETY FOR ALL YES ON PROP. 63 NEWSOM BALLOT MEASURE COMMITTEE
1,JACK PHILLIPS,VENTURA COUNTY DEMOCRATIC CENTRAL COMMITTEE
2,SAL ROSSELLI,NATIONAL UNION OF HEALTHCARE WORKERS FEDERAL COMMITTEE ON POLITICAL EDUCATION
3,SHAWNDA DEANE,CA-BAM PAC
4,SHAWNDA DEANE,CALIFORNIA PROGRESS COALITION
5,SHAWNDA DEANE,CALIFORNIANS FOR OPPORTUNITY
6,SHAWNDA DEANE,EAST BAY YOUNG DEMOCRATS - FEDERAL
7,SHAWNDA DEANE,ELECTING WOMEN SILICON VALLEY FEDERAL PAC
8,SHAWNDA DEANE,FIGHT BACK CALIFORNIA
9,SHAWNDA DEANE,NEED TO IMPEACH
10,SHAWNDA DEANE,PROGRESSIVE WOMEN SILICON VALLEY FEDERAL PAC



1201 F ST NW, WASHINGTON, DC 20004
,tres_nm,cmte_nm
0,(no treasurer listed),NATIONAL FEDERATION OF INDEPENDENT BUSINESS
1,(no treasurer listed),REPUBLICAN STATE LEADERSHIP COMMITTEE
2,(no treasurer listed),REPUBLICAN STATE LEADERSHIP COMMITTEE - WASHINGTON PAC
3,CECILIA GUARIN,CREDIT SUISSE SECURITIES (USA) LLC POLITICAL ACTION COMMITTEE
4,GREGG SHEIOWITZ,"ZURICH HOLDING COMPANY OF AMERICA, INC. COMMITTEE FOR GOOD GOVERNMENT (Z-PAC)"
5,JEFF SMITH,NATIONAL FEDERATION OF INDEPENDENT BUSINESS FEDERAL POLITICAL ACTION COMMITTEE
6,KATHERINE WILLIAMS,FRAMATOME INC PAC
7,LISA VAN VARICK,NUCLEAR ENERGY INSTITUTE FEDERAL POLITICAL ACTION COMMITTEE
8,MICHAEL MALONEY,NATIONAL FEDERATION OF INDEPENDENT BUSINESS
9,MICHAEL MALONEY,NATIONAL FEDERATION OF INDEPENDENT BUSINESS
10,MICHAEL MCGARRY,CRUISE LINES INTERNATIONAL ASSOCIATION PAC (CLIA PAC)



515 S FIGUEROA ST, LOS ANGELES, CA 90071
,tres_nm,cmte_nm
0,CARY DAVIDSON,ASHTON WOODS CORP. HOMES PAC
1,CARY DAVIDSON,EDISON INTERNATIONAL PAC
2,CARY DAVIDSON,EQUALITY CALIFORNIA FEDERAL PAC
3,CARY DAVIDSON,KB HOME AMERICAN DREAM PAC
4,CARY DAVIDSON,NEIGHBORS FOR A BETTER CONGRESS
5,CARY DAVIDSON,SCHOOLSFIRST FEDERAL CREDIT UNION EMPLOYEES FEDERAL PAC
6,CARY DAVIDSON,SONY MUSIC ENTERTAINMENT PAC
7,CARY DAVIDSON,"STAMPS.COM, INC. PAC"
8,CARY DAVIDSON,UNIVISION COMMUNICATIONS INC. POLITICAL ACTION COMMITTEE
9,DANA REED,CALIFORNIA NATIONS INDIAN GAMING ASSOCIATION FEDERAL PAC (CNIGA FED PAC)
10,FLORA YIN,STRONG ECONOMY AND NATIONAL SECURITY PAC



PO BOX 10822, RALEIGH, NC 27605
,tres_nm,cmte_nm
0,CABELL HOBBS,AMERICAN HEROES PAC
1,CABELL HOBBS,AMERICANS AGAINST JUDICIAL ACTIVISM
2,CABELL HOBBS,BLACK AMERICANS FOR LIBERTY
3,CABELL HOBBS,FAMILY VALUES COALITION PAC
4,CABELL HOBBS,LEGALIZE FREEDOM PAC
5,ELIZABETH CURTIS,AMERICA FIRST COMMITTEE
6,ELIZABETH CURTIS,NORTH CAROLINA GUN RIGHTS PAC
7,ELIZABETH CURTIS,NORTH STATE LEADERSHIP COUNCIL
8,ELIZABETH CURTIS,PRINCIPLED LEADERSHIP PROJECT PAC
9,ELIZABETH CURTIS,PRO-LIFE NORTH CAROLINA PAC
10,ELIZABETH CURTIS,SECURE THE VOTE

### Other columns

In [368]:
cmtetp_dict = {
    'C' : 'cmte_CommunicationCost',
    'D' : 'cmte_DelegateCommittee',
    'E' : 'cmte_ElectioneeringComms',
    'H' : 'cmte_House',
    'I' : 'cmte_IndependentExpenditor',
    'S' : 'cmte_Senate',
    'N' : 'cmte_PACnonqual',
    'Q' : 'cmte_PACqual',
    'Y' : 'cmte_Partyqual',
    'O' : 'cmte_SuperPAC',
    'P' : 'cmte_Presidential',
    'U' : 'cmte_Singlecand',
    'V' : 'cmte_PACnoncontrib_nonqual',
    'W' : 'cmte_PACnoncontrib_qual',
    'X' : 'cmte_Partynonqual',
    np.nan : np.nan,
}

cm['cmte_tp'] = [cmtetp_dict[x] for x in cm['cmte_tp']]
cm['cmte_tp'].value_counts()

cmte_PACnonqual               3268
cmte_PACqual                  3220
cmte_SuperPAC                 2207
cmte_IndependentExpenditor    1326
cmte_House                    1274
cmte_CommunicationCost         526
cmte_Partynonqual              299
cmte_PACnoncontrib_nonqual     286
cmte_ElectioneeringComms       285
cmte_Partyqual                 267
cmte_Senate                    197
cmte_Singlecand                136
cmte_Presidential              129
cmte_PACnoncontrib_qual         55
cmte_DelegateCommittee           4
Name: cmte_tp, dtype: int64

In [369]:
cmtedsgn_dict = {
    'A' : 'Authorized by a candidate',
    'B' : 'Lobbyist/Registrant PAC',
    'D' : 'Leadership PAC',
    'J' : 'Joint fundraiser',
    'P' : 'Principal campaign committee',
    'U' : 'Unauthorized',
    np.nan : np.nan,
}

cm['cmte_dsgn'] = [cmtedsgn_dict[x] for x in cm['cmte_dsgn']]
cm['cmte_dsgn'].value_counts()

Unauthorized                    9194
Lobbyist/Registrant PAC         1378
Principal campaign committee    1338
Joint fundraiser                 872
Leadership PAC                   658
Authorized by a candidate         38
Name: cmte_dsgn, dtype: int64

In [370]:
pty_affil = [
    np.nan,
    '.',
    'UKN',
    '  0',
    'UN',
]

cm['cmte_pty_affiliation'] = ['UNK' if (x in pty_affil) else x for x in cm['cmte_pty_affiliation']]
cm['cmte_pty_affiliation'].value_counts()

UNK    11461
DEM      914
REP      722
LIB       76
IND       69
NNE       50
GRE       34
NAT       27
OTH       27
W         14
NPA       12
DFL       10
CON        7
REF        5
NON        5
IDP        5
AIP        5
SWP        3
SEP        3
CRV        2
AMP        2
FED        2
COM        2
PFP        2
NAP        2
PRO        2
GRN        2
CST        2
WOR        1
UUP        1
WRI        1
PPO        1
GWP        1
NLP        1
CIT        1
TEX        1
ALP        1
WFP        1
WHG        1
PAC        1
TN         1
IAP        1
ACE        1
ICD        1
WF         1
WAD        1
TX         1
TUP        1
FUX        1
REC        1
Name: cmte_pty_affiliation, dtype: int64

In [371]:
cm['cmte_filing_freq'].value_counts()

Q    6737
A    3245
M    1932
T    1575
Name: cmte_filing_freq, dtype: int64

In [372]:
orgtp_dict = {
    'C' : 'org_Corporation',
    'H' : 'org_HnotonFECsite',
    'I' : 'org_InotonFECsite',
    'L' : 'org_Labor organization',
    'M' : 'org_Membership organization',
    'T' : 'org_Trade association',
    'V' : 'org_Cooperative',
    'W' : 'org_Corporation without capital stock',
    np.nan : np.nan,
}

cm['org_tp'] = [orgtp_dict[x] for x in cm['org_tp']]
cm['org_tp'].value_counts()

org_Corporation                          1744
org_Trade association                     757
org_Membership organization               529
org_Labor organization                    401
org_Corporation without capital stock     104
org_Cooperative                            45
org_HnotonFECsite                           7
org_InotonFECsite                           4
Name: org_tp, dtype: int64

In [373]:
cm['connected_org_nm'].value_counts()[:10]

NONE                                                                  2596
DOLLARS FOR DEMOCRATS                                                   12
SERVE AMERICA VICTORY FUND                                              10
REPUBLICANS INSPIRING SUCCESS & EMPOWERMENT PROJECT (RISE PROJECT)       8
DIGIDEMS COMMITTEE                                                       8
REPUBLICAN PARTY OF TEXAS                                                7
REPUBLICAN PARTY OF VIRGINIA INC                                         6
DEMOCRATIC PARTY OF VIRGINIA                                             6
REPUBLICAN NATIONAL COMMITTEE                                            5
SMITH                                                                    5
Name: connected_org_nm, dtype: int64

In [374]:
cm.loc[cm['connected_org_nm'] == 'NONE', 'connected_org_nm'] = np.nan

In [375]:
cm['connected_org_nm'].value_counts()[:10]

DOLLARS FOR DEMOCRATS                                                 12
SERVE AMERICA VICTORY FUND                                            10
DIGIDEMS COMMITTEE                                                     8
REPUBLICANS INSPIRING SUCCESS & EMPOWERMENT PROJECT (RISE PROJECT)     8
REPUBLICAN PARTY OF TEXAS                                              7
REPUBLICAN PARTY OF VIRGINIA INC                                       6
DEMOCRATIC PARTY OF VIRGINIA                                           6
CALIFORNIA REPUBLICAN PARTY                                            5
SMITH                                                                  5
REPUBLICAN NATIONAL COMMITTEE                                          5
Name: connected_org_nm, dtype: int64

In [376]:
# sorry! these print ugly but it's to display them unabbreviated
treses = list(cm['tres_nm'].value_counts()[cm['tres_nm'].value_counts() > 10].index)

for tres in treses:
    if tres != '(no treasurer listed)':
        lil_cm = cm[cm['tres_nm'] == tres]
        lil_cm = lil_cm[[
            'cmte_id',
            'cand_id',
            'cmte_nm',

        ]].sort_values(['cand_id', 'cmte_nm']).reset_index(drop = True)
        pty = list(set(cm.loc[list(lil_cm.index), 'cmte_pty_affiliation']))
        ptys = sorted([x for x in pty if (type(x) != float)])
        print(''.join([tres, ', treasurer']))
        print(len(lil_cm), 'committees')
        print('parties:', str(ptys))
        print(lil_cm.to_csv(None))
        print('\n\n')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:961: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

PAUL KILGORE, treasurer
144 committees
parties: ['CRV', 'DEM', 'NAT', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00569079,H0GA07125,HICE FREEDOM FUND
1,C00544445,H0GA07125,JODY HICE FOR CONGRESS
2,C00544510,H0GA08099,AUSTIN SCOTT VICTORY FUND
3,C00462556,H0GA09030,GRAVES FOR CONGRESS
4,C00501866,H0GA09030,TEAM GRAVES
5,C00458877,H0IL11052,KINZINGER FOR CONGRESS
6,C00467522,H0IL14080,RANDY HULTGREN FOR CONGRESS
7,C00476820,H0OH06189,JOHNSON FOR CONGRESS
8,C00497115,H0PA04220,ROTHFUS FOR CONGRESS
9,C00504522,H2NC08185,HUDSON FOR CONGRESS
10,C00548818,H2NC08185,HUDSON FREEDOM FUND
11,C00551374,H4AL06098,GARY PALMER FOR CONGRESS
12,C00573378,H4CO04090,BUCK FOR COLORADO
13,C00546846,H4FL26038,CARLOS CURBELO CONGRESS
14,C00565374,H4FL26038,CURBELO VICTORY COMMITTEE
15,C00543967,H4GA01039,BUDDY CARTER FOR CONGRESS
16,C00545749,H4MN06087,EMMER FOR CONGRESS
17,C00573444,H4MN06087,EMMER VICTORY COMMITTEE
18,C00573436,H4MO08162,SMITH VICTORY
19,C00559393,H4WA04104,DAN NEWHOUSE FOR CONGRESS
20,C00632257,H6FL18097,MAST FOR CONGRESS
21,C00610212,H6WI08155,MIKE GALLAGHER FOR WISCONSIN
22,C00666396,H8FL06148,MICHAEL WALTZ FOR CONGRESS
23,C00648816,H8FL07062,MIKE MILLER FOR CONGRESS
24,C00435974,H8MD01094,ANDY HARRIS FOR CONGRESS
25,C00674259,H8PA13125,DR JOHN JOYCE FOR CONGRESS
26,C00666040,S8AZ00221,MCSALLY FOR SENATE INC
27,C00675223,,2018 TILLIS SENATE CANDIDATE FUND
28,C00631051,,ABRAHAM LINCOLN PAC
29,C00575076,,ADAM KINZINGER - FUTURE 1ST COMMITTEE
30,C00624775,,AMERICA IS WORTH IT
31,C00542589,,AMERICA'S FUTURE
32,C00633081,,AMERICANS FOR BBQ 2017
33,C00666792,,AMERICANS FOR BBQ 2018
34,C00658146,,BCY COMMITTEE
35,C00545079,,BELIEF IN LIFE AND LIBERTY POLITICAL ACTION COMMITTEE (BILL'S PAC)
36,C00559237,,BELIEVE AGAIN PAC
37,C00412288,,BILL PAC
38,C00681585,,BOST VICTORY FUND
39,C00597062,,BUDDY PAC
40,C00629832,,BUILDING OPPORTUNITIES FOR A STRONGER TOMORROW B.O.S.T. PAC
41,C00492819,,CHESAPEAKE PAC
42,C00653139,,COASTAL COMMITTEE 2017
43,C00676023,,COFFMAN VICTORY FUND 2018
44,C00631663,,COLLINS LEADERSHIP FUND
45,C00672592,,CONSERVATIVE LEADERSHIP NOW PAC
46,C00585893,,CONSERVATIVE PROMISES PAC
47,C00557595,,CONSERVATIVE WARCHEST PAC
48,C00631416,,CURBELO/COSTELLO LEADERSHIP COMMITTEE
49,C00581991,,DAVID YOUNG VICTORY FUND
50,C00540393,,DBM PAC
51,C00576181,,DOLD VICTORY COMMITTEE
52,C00605584,,DUFFY EMMER JOINT FUNDRAISING COMMITTEE
53,C00592089,,ELECTING MAJORITY MAKING EFFECTIVE REPUBLICANS
54,C00541078,,EXCELSIOR PAC
55,C00654319,,FEDERALIST FREEDOM FUND
56,C00540146,,FIRST IN FREEDOM PAC
57,C00479253,,FIRST TEAM PAC
58,C00659144,,FLORIDA GEORGIA FUND
59,C00482703,,FREEDOM PAC
60,C00401786,,FREEDOM'S DEFENSE FUND
61,C00650713,,FREEDOMWORKS 2017 COMMITTEE
62,C00638643,,GEORGIA LIFE ALLIANCE ACTION FUND
63,C00490235,,GEORGIA PAC
64,C00657262,,GO PAC GO
65,C00640847,,GOLDEN ISLE COMMITTEE 2017
66,C00448191,,GOP GENERATION Y FUND
67,C00580381,,GRANITE STATE SOLUTIONS
68,C00687517,,GROWING OUR SENATE MAJORITY
69,C00685784,,GT FORCE
70,C00653725,,HOOSIER VALUES
71,C00690131,,IDEAL IMMIGRATION PAC
72,C00654806,,INHOFE VICTORY COMMITTEE
73,C00676858,,INVEST IN THE FUTURE COMMITTEE
74,C00656777,,JAM PAC
75,C00522425,,JET PAC
76,C00685156,,JOHNSON LEADS COMMITTEE
77,C00684670,,KARIN HOUSLEY VICTORY FUND
78,C00631044,,KINZINGER-YOPAC VICTORY FUND
79,C00491241,,LINCOLN PAC
80,C00298000,,MADISON PROJECT INC.
81,C00570739,,MAKE DC LISTEN
82,C00583161,,MAST VICTORY COMMITTEE 2018
83,C00686543,,MCSALLY ARIZONA VICTORY FUND
84,C00690370,,MCSALLY SCHWEIKERT VICTORY COMMITTEE
85,C00678458,,MCSALLY SENATE VICTORY FUND
86,C00691295,,MCSALLY VOTER INTEGRITY FUND
87,C00684167,,MI VICTORY 2018
88,C00679415,,MIAMI MIRACLE PAC
89,C00688804,,MIKE MILLER VICTORY FUND
90,C00629956,,MILLENNIAL GOP VICTORY COMMITTEE 2017
91,C00685107,,MISSOURI FOR GOP SENATE MAJORITY
92,C00619585,,MOUNTAIN STATE VICTORY PAC
93,C00611400,,NEW ENERGY IN WASHINGTON HOUSE PAC NEW HOUSE PAC
94,C00658260,,NEW SOLUTIONS VICTORY COMMITTEE
95,C00631374,,NORTH CAROLINA FREEDOM FUND 2017
96,C00624627,,PALMER VICTORY COMMITTEE
97,C00569921,,PEACH PAC
98,C00663252,,PEAKS VICTORY COMMITTEE 2018
99,C00581892,,PONDEROSA PAC
100,C00682716,,PRESERVE THE SENATE MAJORITY 2018
101,C00377689,,PROSPERITY ACTION INC.
102,C00681601,,PROTECT THE SENATE MAJORITY COMMITTEE
103,C00693127,,PSC REDPAC
104,C00691501,,RE-JOYCE PAC
105,C00615351,,REAGAN HERITAGE PAC
106,C00569558,,REBUILDING AMERICAS TRUST PAC
107,C00635052,,REED VICTORY COMMITTEE
108,C00344648,,RELY ON YOUR BELIEFS FUND
109,C00637298,,RYAN-MCCARTHY VICTORY
110,C00570226,,SEAL PAC SUPPORTING ELECTING AMERICAN LEADERS PAC
111,C00679951,,"SECURING OHIO'S FUTURE ACTION FUND, INC."
112,C00687269,,SECURING THE SENATE MAJORITY COMMITTEE
113,C00524181,,SENATE CONSERVATIVES ACTION
114,C00448696,,SENATE CONSERVATIVES FUND
115,C00627208,,SHUSTER VICTORY FUND
116,C00625806,,SMUCKER VICTORY COMMITTEE
117,C00658484,,SMUCKER VICTORY COMMITTEE
118,C00568089,,STAND PAC
119,C00636837,,STAR PAC
120,C00686667,,STARS AND STRIPES AMERICA
121,C00625194,,STRONG AMERICA FUND
122,C00540898,,TEA PARTY PATRIOTS CITIZENS FUND
123,C00623959,,TEAM GALLAGHER
124,C00619486,,TEAM LAHOOD
125,C00651463,,TEAM ROBY VICTORY FUND
126,C00631747,,TEAM TELLURIDE 2017
127,C00692848,,TEAM TELLURIDE 2019
128,C00629014,,TEAM WOODALL
129,C00630277,,THE BHY COMMITTEE
130,C00673053,,THE HAWKEYE FUND
131,C00582734,,THE MCSALLY VICTORY FUND
132,C00574376,,THUNDERBOLT PAC
133,C00582148,,TOM ROONEY VICTORY COMMITTEE
134,C00611962,,TURNER VICTORY FUND
135,C00660167,,VETERANS VICTORY FUND
136,C00500793,,WELLS PAC
137,C00571646,,WHAT A COUNTRY! PAC
138,C00686964,,WIN ARIZONA FUND
139,C00684837,,WOMEN LEADERSHIP COMMITTEE
140,C00688622,,YOHO VICTORY FUND
141,C00666008,,YOPAC-WHAT A COUNTRY! VICTORY FUND
142,C00683987,,YOUNG VICTORY COMMITTEE
143,C00666081,,ZELDIN-LOVE VICTORY FUND 2018




CHRISTOPHER MARSTON, treasurer
122 committees
parties: ['CRV', 'DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00468579,H0IN02190,WALORSKI FOR CONGRESS INC
1,C00554261,H4VA10089,COMSTOCK FOR CONGRESS
2,C00576173,H6KS01179,KANSANS FOR MARSHALL
3,C00433524,H8CA52052,DUNCAN D. HUNTER FOR CONGRESS
4,C00657981,H8NH02275,FRIENDS OF STEVE NEGRON
5,C00658583,H8PA15245,MARTY FOR CONGRESS INC
6,C00441014,H8VA01147,ROB WITTMAN FOR CONGRESS
7,C00638148,S8MA00268,SHIVA 4 SENATE
8,C00676866,S8MN00636,TROOIEN FOR US SENATE
9,C00504704,S8ND00120,CRAMER FOR SENATE
10,C00686105,S8ND00120,TEAM CRAMER ND
11,C00684746,,#FIXIT ACTION FUND
12,C00659722,,115TH FRESHMEN VICTORY
13,C00043919,,8TH DISTRICT REPUBLICAN COMMITTEE (VA)
14,C00507384,,ALEXANDRIA REPUBLICAN CITY COMMITTEE
15,C00620641,,AMERICA REVIVED PAC
16,C00524314,,AMERICA'S FIRST PAC
17,C00567016,,AMERICAN ALLIANCE
18,C00671909,,AMERICAN CATALOG MAILERS ASSOCIATION PAC (ACMA PAC)
19,C00547265,,AMERICAN COMMITMENT ACTION FUND
20,C00575100,,AMERICAN ENCORE ACTION
21,C00449926,,AMERICAN FUTURE FUND POLITICAL ACTION
22,C00688788,,AMERICAN POTENTIAL FUND
23,C00685941,,AMERICAN POTENTIAL PAC
24,C00640078,,AMERICAN UPRISING PAC
25,C00623371,,AMERICAN VALUES PAC INC.
26,C00622407,,AMIE HOEBER VICTORY FUND
27,C00692947,,ARIZONA MATTERS
28,C00526350,,AUTISM SUPER PAC; THE
29,C00543207,,BADLANDS PAC
30,C00668822,,BERT FOR SENATE
31,C00567784,,BLACK AMERICANS FOR A BETTER FUTURE
32,C00634303,,BLOCKIMPEACHMENT.ORG
33,C00681833,,BLUM VICTORY FUND
34,C00667881,,BRAT VICTORY FUND
35,C00659193,,BUCK LEADERSHIP FUND
36,C00646463,,BUCKEYE BATTLE PAC
37,C00686147,,BUDD HARRIS VICTORY FUND
38,C00549865,,CHENEGA CORPORATION PAC (CHENEGA PAC)
39,C00675579,,COALITION FOR A SAFE AMERICA
40,C00633347,,COMSTOCK VICTORY FUND 2018
41,C00674432,,CONSERVATIVE ALLIANCE PAC
42,C00573154,,"CONSERVATIVE, AUTHENTIC, RESPONSIVE LEADERSHIP FOR YOU AND FOR AMERICA"
43,C00574749,,CONSERVATIVES FOR EFFECTIVE GOVERNMENT
44,C00688192,,COURAGE MAINE
45,C00565861,,CRAMER VICTORY FUND
46,C00662353,,CRAMER VICTORY FUND
47,C00685321,,CRAMER-HAWLEY VICTORY FUND
48,C00638932,,DEAL HER OUT PAC
49,C00663732,,DEFEND FREEDOM
50,C00665596,,DEFENDING DEMOCRACY TOGETHER ACTION FUND
51,C00574046,,EMPOWERING AMERICA
52,C00574038,,EMPOWERING AMERICA FUND
53,C00573014,,FIGHTING FOR OHIO FUND
54,C00634576,,FOR A BETTER AMERICA
55,C00690818,,FORPAC INC
56,C00499020,,FREEDOMWORKS FOR AMERICA
57,C00573550,,FREEDOMWORKS PAC
58,C00673962,,FREEDOMWORKS VICTORY 2018
59,C00622589,,GARRETT VICTORY FUND
60,C00612283,,GEORGIANS FIRST FUND
61,C00640888,,GFORCE
62,C00678524,,GIANFORTE DAINES VICTORY COMMITTEE
63,C00635235,,GIANFORTE VICTORY FUND
64,C00679670,,GO SOUTH JERSEY
65,C00679555,,GROWTH AND OPPORTUNITY FUND
66,C00568840,,GROWTH POLITICAL ACTION COMMITTEE ('GROWTH PAC')
67,C00608158,,HUNTER VICTORY FUND
68,C00674150,,INSPIRE PAC
69,C00669283,,JSW STEEL USA PAC (JSW USA PAC)
70,C00582726,,JUMP INTO ACTION FOR CONSERVATIVES TO KEEP OUR IDEAS ELEVATED PAC
71,C00632323,,KANSAS LEADERSHIP PAC
72,C00514653,,LIBERTY FOR ALL ACTION FUND
73,C00629931,,LONE STAR LIBERTY
74,C00486738,,MANY INDIVIDUAL CONSERVATIVES HELPING ELECT LEADERS EVERYWHERE (MICHELEPAC)
75,C00602870,,MARINO VICTORY FUND
76,C00492868,,MARLIN PAC
77,C00683490,,MENTAL HEALTH AWARENESS
78,C00667956,,MICHIGAN VICTORY FUND 2018
79,C00660290,,MILLENNIAL ADVOCACY COUNCIL PAC (MAC PAC)
80,C00680207,,MINNESOTA VICTORY FUND
81,C00665521,,MOUNTAIN CITY PAC
82,C00593475,,MOVING AMERICA'S REPUBLICANS INTO NUMBER ONE PAC
83,C00587717,,NATIONAL CONSERVATIVE COMMITTEE
84,C00592196,,NEIGHBORHOOD ALLIANCE PAC
85,C00679878,,NEPHRON PHARMACEUTICALS CORPORATION POLITICAL ACTION COMMITTEE (NEPHRON PAC)
86,C00571604,,NEW AMERICAN COALITION
87,C00622860,,NEW DAWN PAC
88,C00564773,,NEXTGEN GOP
89,C00585554,,NOVA POLITICAL ACTION COMMITTEE
90,C00647206,,ONE GENERATION
91,C00574277,,ONE VOTE
92,C00654707,,OUR FOUNDING PRINCIPLES
93,C00669374,,PA IN 18
94,C00525824,,PEACE THROUGH STRENGTH PAC
95,C00691915,,PRAYERIE PAC
96,C00523456,,PRESERVE AMERICA'S FUTURE
97,C00609917,,"PROTECT LOUISIANA, INC."
98,C00592030,,PROTECTUS
99,C00635532,,RAISE THE WALL
100,C00684688,,RED MAJORITY PAC
101,C00503417,,RED WHITE AND BLUE FUND
102,C00680496,,RIGGLEMAN VICTORY FUND
103,C00630459,,RISING TIDE
104,C00109991,,SMALL BUSINESS INVESTOR ALLIANCE PAC
105,C00683482,,SOCIAL SECURITY REFORM NOW
106,C00566372,,STATE CONSERVATIVE REFORM ACTION PAC (SCRAP)
107,C00683839,,STEWART VICTORY FUND
108,C00676247,,SUBURBAN VIRGINIA REPUBLICAN COALITION (SUV GOP)
109,C00632950,,TEAM MARSHALL
110,C00681684,,TEAM MARTY
111,C00687301,,THUNDER AND LIGHTNING FUND
112,C00619478,,US NEWS NETWORK
113,C00540724,,VFA PAC
114,C00684787,,VRF
115,C00630764,,WALORSKI VICTORY FUND
116,C00675637,,WAR VETERANS FUND
117,C00666511,,WE STAND FOR BETTER
118,C00632760,,WHITE COAT WASTE PAC
119,C00638858,,WIN IN MONTANA
120,C00678854,,WITTMAN VICTORY COMMITTEE
121,C00651034,,WORLD MUHAJIR CONGRESS PAC




JUDITH ZAMORE, treasurer
109 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00476523,H0CA33117,KAREN BASS FOR CONGRESS
1,C00656686,H8NJ07223,TOM MALINOWSKI FOR CONGRESS
2,C00631705,S0CA00199,SENATE VICTORY 2018
3,C00631960,S0NY00410,BLUE SENATE 2018
4,C00667501,S0WV00090,SENATE 2018 IMPACT
5,C00676817,S0WV00090,SENATE IMPACT WV & MT
6,C00682591,S0WV00090,SENATE IMPACT: MO & WV
7,C00636811,S0WV00090,SENATE IMPACT: ND & WV
8,C00667493,S2CT00132,MONTANA CONNECTICUT VICTORY
9,C00634360,S2CT00132,SENATE IMPACT 2018
10,C00633925,S2HI00106,JUSTICE 2018
11,C00660639,S2IN00091,2018 SENATE IMPACT
12,C00673293,S2IN00091,HEIDI JOE VICTORY FUND
13,C00657569,S2IN00091,SENATE IMPACT IN & WI
14,C00679340,S2IN00091,SENATE IMPACT: IN & MT 2018
15,C00635300,S2IN00091,SENATE IMPACT: MO & IN
16,C00655688,S2MA00170,BROWN WARREN VICTORY FUND
17,C00633073,S2MA00170,MASSACHUSETTS WISCONSIN VICTORY FUND 2018
18,C00637173,S2MA00170,STABENOW WARREN VICTORY FUND
19,C00677450,S2ND00099,HEIDI TINA VICTORY FUND
20,C00638296,S2ND00099,MONTANA NORTH DAKOTA VICTORY FUND
21,C00655662,S2ND00099,SECURE THE HEARTLAND FUND
22,C00662916,S2ND00099,SENATE IMPACT WI & ND 2018
23,C00633578,S2ND00099,SENATE IMPACT: WI & ND
24,C00673061,S2NM00088,HEINRICH CARPER VICTORY FUND
25,C00668814,S2NM00088,HEINRICH NELSON VICTORY FUND
26,C00648089,S2VA00142,OHIO VIRGINIA VICTORY FUND 2018
27,C00662114,S2VA00142,SENATE IMPACT 2018
28,C00648071,S2VA00142,WISCONSIN VIRGINIA VICTORY FUND
29,C00637165,S2WI00219,GREEN SENATE IMPACT 2018
30,C00636803,S2WI00219,MICHIGAN WISCONSIN VICTORY FUND
31,C00680066,S2WI00219,MIDWEST WOMEN VICTORY FUND
32,C00674192,S2WI00219,SENATE IMPACT: MO & WI
33,C00630467,S2WI00219,TEXANS FOR A PROGRESSIVE SENATE
34,C00634352,S2WI00219,UPPER MIDWEST WOMEN VICTORY FUND
35,C00672527,S2WI00219,WISCONSIN MINNESOTA VICTORY FUND
36,C00653485,S6MN00267,MN OH PA VICTORY FUND
37,C00630806,S6MN00267,RHODE ISLAND MINNESOTA VICTORY FUND
38,C00655670,S6MO00305,COMMON SENSE 2018
39,C00663153,S6MO00305,FLORIDA MISSOURI VICTORY FUND
40,C00630616,S6MO00305,MISSOURI-MONTANA FUND
41,C00660357,S6MT00162,HEINRICH TESTER VICTORY FUND
42,C00666032,S6MT00162,SENATE IMPACT MT & AZ
43,C00555342,S6OH00163,CANARY FUND
44,C00264697,S6OH00163,FRIENDS OF SHERROD BROWN
45,C00678094,S6OH00163,MICHIGAN OHIO VICTORY FUND
46,C00578609,S6OH00163,OHIO GRASSROOTS VICTORY FUND
47,C00544296,S6OH00163,OHIO PENNSYLVANIA VICTORY FUND
48,C00661314,S8AZ00197,ARIZONA NEVADA VICTORY FUND
49,C00677468,S8AZ00197,GREEN SENATE IMPACT 2018
50,C00665265,S8FL00166,SENATE IMPACT: FL & NV
51,C00681460,S8MN00578,SENATE IMPACT: MN & NV
52,C00672519,S8NV00156,SENATE IMPACT: TN & NV
53,C00638197,,2020 COMMITTEE
54,C00681916,,AFTAB SWING LEFT FUND 2018
55,C00331694,,AMERICA WORKS FEDERAL PAC
56,C00690073,,AMERICA WORKS STATE & LOCAL PAC
57,C00684613,,AVIATORS FOR ACTION VICTORY FUND
58,C00688002,,BATTLEGROUND VICTORY FUND 2018
59,C00678607,,BAY STATE FOR A MAJORITY
60,C00574384,,BENNET COLORADO VICTORY
61,C00687129,,BETSY DIRKSEN LONDRIGAN VICTORY FUND
62,C00493700,,BLUE HEN FEDERAL PAC
63,C00676445,,BLUE HEN STATE & LOCAL PAC
64,C00679357,,BLUE IL 18
65,C00686634,,CASEY WILD 2018
66,C00636449,,CONNECTICUT VICTORY 2018
67,C00684423,,DEMOCRATIC VICTORY 2018
68,C00684076,,DEMOCRATS UNITED 2018
69,C00684894,,DURBIN LONDRIGAN VICTORY FUND
70,C00636100,,DURBIN VICTORY FUND
71,C00685297,,ELECT DEMOCRATIC WOMEN
72,C00688168,,FOX VALLEY VICTORY FUND
73,C00682294,,HAALAND TORRES SMALL VICTORY FUND
74,C00567693,,HAWAII PAC
75,C00629253,,HEIDI VICTORY FUND
76,C00666321,,HOULAHAN VICTORY FUND
77,C00675488,,HOUSE VICTORY PROJECT
78,C00683920,,ILLINOIS DEMOCRATS 2018
79,C00667485,,IN MO MT WV VICTORY FUND
80,C00687335,,JERSEY HOUSE BLUES
81,C00673731,,MA FOR A MAJORITY
82,C00685438,,MA HOUSE VICTORY FUND
83,C00683995,,MCCASKILL SINEMA VICTORY FUND
84,C00656801,,MINNESOTA MASSACHUSETTS VICTORY FUND
85,C00646711,,MINNESOTA MONTANA VICTORY FUND
86,C00656322,,MISSOURI OHIO VICTORY FUND
87,C00677203,,MONTANA PENNSYLVANIA VICTORY FUND
88,C00403592,,NARRAGANSETT BAY PAC
89,C00624619,,NEW HAMPSHIRE PENNSYLVANIA VICTORY FUND
90,C00689299,,NORTH JERSEY BLUE MAJORITY
91,C00492983,,NUTMEG PAC
92,C00631135,,OHIO PENNSYLVANIA VICTORY FUND
93,C00603415,,OHIO RHODE ISLAND VICTORY FUND
94,C00676387,,PROTECT OUR SENATORS FUND
95,C00497131,,PURPOSE PAC
96,C00640672,,RED RIVER VALLEY VICTORY FUND
97,C00631143,,RHODE ISLAND PENNSYLVANIA VICTORY FUND
98,C00677104,,SECURITY 44
99,C00640649,,SENATE IMPACT: IN & MT
100,C00667634,,SINEMA KENNEDY VICTORY FUND
101,C00686071,,STEVENS VICTORY FUND
102,C00683409,,SWING LEFT NY VICTORY FUND
103,C00674606,,TAKE BACK THE HOUSE COMMITTEE
104,C00641217,,TEAM NEW HAMPSHIRE
105,C00634006,,THE COLORADO WAY
106,C00683516,,VOTEVETS BLUE MOMENTUM WOMEN'S FUND
107,C00665646,,VOTEVETS VICTORY FUND
108,C00626911,,WOMEN MAKING HISTORY 2016




LISA LISKER, treasurer
88 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00589945,H0MI02094,RIVALRY JOINT COMMITTEE; THE
1,C00573477,H0TX23086,PATRIOT DAY I 2015
2,C00506048,H2SC07066,TOM RICE FOR CONGRESS
3,C00584730,H4MI08135,PATRIOT DAY III 2015
4,C00393629,H4NC10047,MCHENRY FOR CONGRESS
5,C00632828,H4NY22051,CLAUDIA TENNEY FOR CONGRESS
6,C00556365,H4NY24073,KATKO FOR CONGRESS
7,C00588764,H6KY01110,COMER FOR CONGRESS
8,C00542787,H6OR02116,WALDEN VICTORY FUND
9,C00668491,H8SC04250,WILLIAM TIMMONS FOR CONGRESS
10,C00670109,S2NE00094,WINNING WOMEN FOR THE US SENATE
11,C00669093,S8NY00215,CHELE FARLEY FOR SENATE INC
12,C00684233,S8OH00102,RENACCI SENATE VICTORY COMMITTEE
13,C00682252,S8PA00320,RED WHITE LOU FUND
14,C00568717,,AMERICAN UNITY FUND INC FEDERAL COMMITTEE
15,C00673327,,AMERICANS UNITED FOR FREEDOM
16,C00558445,,ARIZONA GRASSROOTS ACTION PAC
17,C00654426,,BACON VICTORY FUND
18,C00647420,,BOLD ACTIVE CONSERVATIVES OF NEBRASKA PAC-BACON PAC
19,C00568709,,BRIDGING THE GAP
20,C00059733,,BROWN-FORMAN CORPORATION NON-PARTISAN COMMITTEE FOR RESPONSIBLE GOVERNMENT
21,C00628271,,BUCKEYE JOINT FUNDRAISING COMMITTEE
22,C00510248,,BUILDING OUR BASE - BOB PAC
23,C00589994,,BUILDING RENEWAL IN AMERICA NOW PAC
24,C00491654,,CITIZENS FOR PROSPERITY IN AMERICA TODAY PAC
25,C00481176,,CONCERNED AMERICANS FOR FREEDOM & OPPORTUNITY PAC (CAFO PAC)
26,C00660571,,CONSERVATIVE WESTERN PRIORITIES
27,C00649574,,CRAPO VICTORY COMMITTEE
28,C00650853,,"CREATING OPPORTUNITIES, MARKETS AND ENTHUSIASM IN RURAL KENTUCKY PAC"
29,C00437061,,FREEDOM AND SECURITY PAC
30,C00305805,,FREEDOM PROJECT; THE
31,C00625004,,FRIENDS OF WINNING WOMEN 2016
32,C00670661,,FRIENDS OF WINNING WOMEN 2018
33,C00633271,,GARDNER VICTORY COMMITTEE
34,C00687749,,GOP MAJORITY VICTORY FUND
35,C00673319,,GOP WINNING WOMEN
36,C00690891,,GRAHAM MAJORITY FUND
37,C00633313,,GROWING REPUBLICAN ACHIEVEMENTS AND PROMOTING EXCELLENCE-GRAPE JFC
38,C00674291,,HONOR AND PRINCIPLES PAC
39,C00326439,,HOUSE CONSERVATIVES FUND
40,C00503300,,IOWA CONGRESSIONAL MAJORITY FUND; THE
41,C00685305,,JAMES-RUBIO VICTORY COMMITTEE
42,C00516724,,"JOBS, ENERGY AND OUR FOUNDING FATHERS PAC-JEFF PAC"
43,C00678243,,KATKO VICTORY FUND
44,C00682062,,KELLY REED VICTORY COMMITTEE
45,C00622514,,KELLY TIBERI JFC
46,C00662676,,LEAD THE FIGHT PAC
47,C00682476,,LEAD THE FIGHT PAC
48,C00502591,,MARKETPLACE IDEAS AND CONSERVATIVE KNOWLEDGE PAC-MICK PAC
49,C00638007,,MCCONNELL VICTORY COMMITTEE
50,C00657957,,MCHENRY-CURBELO LEADERSHIP FUND
51,C00686865,,METOO OHIO
52,C00689810,,MILLER SPANO WEBBER VICTORY
53,C00692681,,MORAN RUBIO VICTORY COMMITTEE
54,C00540187,,MORE CONSERVATIVES PAC (MCPAC)
55,C00540054,,NEBRASKA SANDHILLS PAC
56,C00459123,,NEW PIONEERS PAC
57,C00613760,,NY GOP VICTORY COMMITTEE
58,C00659086,,NY GOP VICTORY COMMITTEE 2018
59,C00687863,,PAULSEN VICTORY FUND
60,C00525543,,PROJECT WEST POLITICAL ACTION COMMITTEE
61,C00500025,,RECLAIM AMERICA PAC
62,C00566117,,REPUBLICANS IN CONGRESS EMPOWERING AMERICA
63,C00486043,,ROAD TO FREEDOM POLITICAL ACTION COMMITTEE
64,C00608463,,SALT CITY PAC
65,C00715540,,SC 01 VICTORY 2020
66,C00577668,,SERVICE HONOR COUNTRY ACTION FUND
67,C00501478,,SUPPORT TO ENSURE VICTORY EVERYWHERE PAC-STEVE PAC
68,C00678227,,TEAM DUNCAN
69,C00544650,,TEAM MCHENRY
70,C00635367,,TENACIOUS PAC
71,C00677047,,TENNESSEANS FOR A BETTER TOMORROW
72,C00682070,,TENNEY NY VICTORY FUND
73,C00638718,,TENNEY VICTORY FUND
74,C00667238,,TEXAS SENATE VICTORY COMMITTEE
75,C00633289,,TILLIS-NRSC COMMITTEE
76,C00364174,,TOGETHER FOR OUR MAJORITY POLITICAL ACTION COMMITTEE (TOMPAC)
77,C00685313,,WEST VIRGINIA VICTORY FUND
78,C00147173,,"WINE AND SPIRITS WHOLESALERS OF AMERICA, INC. POLITICAL ACTION COMMITTEE"
79,C00672717,,WINNING WOMEN 2018
80,C00677302,,WINNING WOMEN GOP ATLANTA
81,C00680967,,WINNING WOMEN GOP AZ
82,C00677310,,WINNING WOMEN GOP CALIFORNIA
83,C00673905,,WINNING WOMEN RESTORING AMERICA
84,C00667329,,WINNING WOMEN VICTORY 2018
85,C00613752,,WINNING WOMEN VICTORY COMMITTEE
86,C00660738,,YOUNG OPTIMISTIC USEFUL REPUBLICANS JFC
87,C00618884,,ZINKE DAINES VICTORY ACCOUNT




JENNIFER MAY, treasurer
62 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00513077,H2CA00120,JULIA BROWNLEY FOR CONGRESS
1,C00528547,H2CA00120,JULIA BROWNLEY VICTORY FUND

SUSAN JACKSON, treasurer
21 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00500421,H2OR01133,BONAMICI FOR CONGRESS
1,C00543363,H4PA13199,CITIZENS FOR BOYLE
2,C00664409,H8CA01257,AUDREY DENNEY FOR CONGRESS
3,C00639146,H8CA10126,JOSH HARDER FOR CONGRESS
4,C00677096,H8FL15271,KRISTEN CARLSON FOR CONGRESS COMMITTEE
5,C00658286,H8NC02110,LINDA COLEMAN FOR CONGRESS
6,C00649194,H8NC06079,WATTS FOR CONGRESS
7,C00639773,H8NC07101,KYLE HORTON FOR CONGRESS
8,C00657015,H8NY02104,LIUBA FOR CONGRESS
9,C00649004,H8OR02161,MCLEOD-SKINNER FOR OREGON
10,C00584805,,BFB PAC
11,C00690461,,COLEMAN VICTORY FUND
12,C00671164,,COMMITTEE FOR JUSTICE AND INTEGRITY
13,C00543116,,GOOD FRIENDS PAC
14,C00682161,,HARDER VICTORY FUND
15,C00683086,,HILL LEVIN PORTER VICTORY FUND
16,C00684951,,HILL SWING LEFT FUND 2018
17,C00682153,,HILL VICTORY FUND
18,C00686444,,LIUBA VICTORY FUND
19,C00686717,,ROUDA HILL VICTORY FUND
20,C00668954,,SO CAL VICTORY FUND




JEN SLATER, treasurer
20 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00564674,H4CA45097,MIMI WALTERS VICTORY FUND
1,C00546853,H4CA45097,WALTERS FOR CONGRESS
2,C00658021,H8CA08120,TIM DONNELLY FOR CONGRESS
3,C00639690,H8CA26114,ANTONIO SABATO JR FOR CONGRESS
4,C00224691,H8CA42061,ROHRABACHER FOR CONGRESS
5,C00665513,H8CA49082,DIANE HARKEY FOR CONGRESS
6,C00632786,,AMERICANS FOR SENSIBLE REFORM
7,C00318766,,CALIFORNIA INDEPENDENT PETROLEUM ASSOCIATION FEDERAL PAC
8,C00613364,,GIVE ME LIBERTY PAC
9,C00684704,,HELPING ALL REPUBLICANS THIS KEY ELECTION YEAR - HARKEY PAC
10,C00450320,,INVEST IN A STRONG AND SECURE AMERICA
11,C00327007,,ISSA FOR US SENATE
12,C00680702,,KEEPING INTEGRITY MEANINGFUL IN THE 36TH (KIM36 PAC)
13,C00454819,,MAF FREEDOM PAC - MOVE AMERICA FORWARD FREEDOM PAC - MAF PAC
14,C00564658,,MAKING INVESTMENTS MAJORITY INSURED PAC
15,C00685461,,ROHRABACHER VICTORY FUND
16,C00609396,,STRONG AMERICA PAC
17,C00490136,,THE LINCOLN CLUB OF ORANGE COUNTY FEDERAL IE COMMITTEE
18,C00328401,,THE LINCOLN CLUB OF ORANGE COUNTY FEDERAL PAC
19,C00684639,,WALTERS-GRANT VICTORY FUND




DAVID GOULD, treasurer
19 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00167585,H4CA23011,CITIZENS FOR WATERS
1,C00500546,,CALIFORNIA ARMENIAN AMERICAN DEMOCRATS
2,C00632281,,CALIFORNIA YOUNG DEMOCRATS FED PAC
3,C00411082,,CANADA CRESCENTA DEMOCRATIC CLUB
4,C00401463,,DEMOCRATIC CLUB OF THE PASADENA FOOTHILLS
5,C00321943,,DEMOCRATIC PARTY OF ORANGE COUNTY FED PAC
6,C00326751,,DEMOCRATIC PARTY OF THE SAN FERNANDO VALLEY
7,C00429571,,DEMOCRATS FOR ISRAEL
8,C00463547,,GLENDALE DEMOCRATIC CLUB
9,C00145342,,GOLDEN STATE POLITICAL ACTION COMMITTEE
10,C00543579,,MIND MATTERS FEDERAL PAC
11,C00684662,,NEW VOTER PAC
12,C00404202,,ORANGE COUNTY VICTORY FUND
13,C00412072,,ORANGE COUNTY YOUNG DEMOCRATS FEDERAL
14,C00380568,,PASADENA AREA UNITED DEMOCRATIC HEADQUARTERS
15,C00248948,,PEOPLE HELPING PEOPLE
16,C00323923,,STONEWALL DEMOCRATIC CLUB FED PAC
17,C00198861,,WEST LOS ANGELES HEALTH PAC - FEDERAL
18,C00673590,,WESTSIDE DEMOCRATIC HQ FEDERAL




GARY CRUMMITT, treasurer
19 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00608430,H6CA33106,WRIGHT FOR CONGESS
1,C00654335,H8CA27112,BRYAN WITT FOR CONGRESS
2,C00682179,H8CA32088,JOSHUA SCOTT FOR CONGRESS
3,C00672436,H8CA44117,AJA BROWN FOR CONGRESS
4,C00657973,,A PROGRESSIVE CALIFORNIA
5,C00674804,,ANIMAL PAC
6,C00403816,,BEACH CITIES DEMOCRATS - FEDERAL
7,C00396556,,CAIR-CA PAC
8,C00439646,,DEMOC PAC
9,C00629006,,DEMOCRACY AND PROGRESS
10,C00627349,,GLOBAL TRADE AND COMMERCE FEDERAL PAC
11,C00405563,,KOREAN AMERICAN DEMOCRATIC COMMITTEE
12,C00493932,,LAMBDA DEMOCRATIC CLUB
13,C00636522,,LOS ANGELES COUNTY ASIAN AMERICAN & PACIFIC ISLANDER DEMOCRATS -FEDERAL
14,C00398727,,NORTHEAST DEMOCRATIC HEADQUARTERS PAC
15,C00489898,,TURKISH COALITION CALIFORNIA PAC (TC-CAL PAC)
16,C00416271,,WEST END DEMOCRATIC CLUB - FEDERAL
17,C00627356,,WEST HOLLYWOOD/BEVERLY HILLS DEMOCRATIC HEADQUARTERS COMMITTEE
18,C00620153,,YOUNG AWARE AMERICANS PAC




DIANE EVANS, treasurer
18 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00554089,H2CA52089,PETERS VICTORY FUND
1,C00638122,,AMERICAN NETWORK OF COMMUNITY OPTIONS AND RESOURCES DISABILITY CHAMPIONS PAC
2,C00034645,,AMERICAN SOCIETY FOR CLINICAL LABORATORY SCIENCE POLITICAL ACTION COMMITTEE (FKA ASMT/PAC)
3,C00656074,,BOLD DEMOCRATS
4,C00662726,,BOLD DEMOCRATS I
5,C00662734,,BOLD DEMOCRATS II
6,C00648832,,BOLD FRONTLINE DEMOCRATS
7,C00688119,,BRYCE CAMPA-NAJJAR VICTORY FUND
8,C00365536,,CHC BOLD PAC
9,C00513176,,CONGRESSIONAL PROGRESSIVE CAUCUS PAC
10,C00370130,,FINANCIAL PLANNING ASSOCIATION POLITICAL ACTION COMMITTEE
11,C00633156,,I GOT YOUR BACK PAC
12,C00634733,,MAGGIE HASSAN GVP
13,C00591362,,MAGGIE HASSAN VICTORY FUND
14,C00489831,,NEW ECONOMY PAC
15,C00622043,,PROSPERITY WITH ACCOUNTABILITY
16,C00675942,,WI BRYCE VICTORY FUND
17,C00650192,,ZODIACPAC




KELLY LAWLER, treasurer
18 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00630319,H4CA25123,KNIGHT VICTORY FUND
1,C00554014,H4CA25123,STEVE KNIGHT FOR CONGRESS
2,C00671370,H8CA15117,RUDY PETERS FOR CONGRESS
3,C00683532,H8CA19051,JUSTIN AGUILERA FOR CONGRESS
4,C00665638,H8CA39240,YOUNG KIM FOR CONGRESS
5,C00561308,,CALIFORNIA FUTURE FUND PAC
6,C00495010,,CONSERVATIVE CAMPAIGN COMMITTEE
7,C00652180,,DOUBLE EAGLE PAC
8,C00683508,,FOREVER YOUTH ORGANIZATION UTILIZING A NEW GENERATION PAC (FOREVER Y.O.U.N.G. PAC)
9,C00392795,,GEN EQUITY FEDERAL PAC
10,C00510701,,JOBS OPPORTUNITY AND FREEDOM POLITICAL ACTION COMMITTEE - JOFPAC
11,C00500637,,JOE PAC
12,C00682088,,KIM VICTORY FUND
13,C00654152,,PRINCIPLES AND LEADERSHIP PAC
14,C00510107,,TAXPAYER NETWORK PAC
15,C00619072,,TEA PARTY EXPRESS CAMPAIGN FUND
16,C00454074,,TEAPARTYEXPRESS.ORG
17,C00673517,,TIME FOR CHANGE




CHRISSIE HASTIE, treasurer
18 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00666461,H8NV04059,CRESENT HARDY FOR CONGRESS
1,C00494229,S2NV00183,HELLER FOR SENATE
2,C00607234,,CURE 4 LOUISIANA'S FUTURE PAC
3,C00567651,,ENGAGE AMERICA ACTION
4,C00550541,,ENGAGE NEVADA ACTION
5,C00541128,,FULL HOUSE PAC
6,C00684993,,HARDY NEVADA VICTORY FUND
7,C00689620,,HARDY STEWART VICTORY COMMITTEE
8,C00621896,,HARDY TARKANIAN VICTORY COMMITTEE
9,C00689968,,HARDY TARKANIAN VICTORY COMMITTEE
10,C00626192,,HECK YEAH!
11,C00637843,,HELLER SENATE VICTORY COMMITTEE
12,C00471607,,HELLERHIGHWATER PAC
13,C00562595,,MORNING IN AMERICA PAC
14,C00685891,,TEAM HARDY NEVADA TOUGH VICTORY FUND
15,C00689513,,THE NEXT FIFTY
16,C00507913,,THE PORTER GROUP PAC
17,C00687616,,WIN NEVADA




KEITH LOWEY, treasurer
18 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00665166,S0NY00410,ARIZONA NEVADA NEW YORK VICTORY 2018
1,C00413914,S0NY00410,GILLIBRAND FOR SENATE
2,C00577189,,DUCKWORTH VICTORY FUND
3,C00623736,,DURBIN DUCKWORTH VICTORY FUND
4,C00631861,,ELIZABETH WARREN ACTION FUND
5,C00477067,,EMPIRE PAC
6,C00651943,,GILLIBRAND MCCASKILL SENATE 2018
7,C00629964,,GILLIBRAND VICTORY FUND
8,C00689273,,HEIDI HEITKAMP OFF THE SIDELINES VICTORY
9,C00623785,,ILLINOIS COORDINATED VICTORY FUND 2016
10,C00681353,,NY AND WI VICTORY FUND
11,C00525600,,OFF THE SIDELINES PAC
12,C00540195,,PAC FOR A LEVEL PLAYING FIELD
13,C00575712,,PARITY PAC
14,C00622506,,PATRIOTIC ARTISTS AND CREATIVES PAC (AKA PAC SQUARED)
15,C00544254,,PERIMETER PAC
16,C00676619,,PORTER WARREN VICTORY FUND
17,C00629907,,RHODE ISLAND VICTORY FUND 2018




ELIZABETH CURTIS, treasurer
17 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00510958,H2AZ09035,WENDYROGERS.ORG
1,C00661629,H8FL22061,KIMAZ FOR CONGRESS
2,C00676726,H8NJ02232,GROSSMAN FOR CONGRESS COMMITTEE
3,C00650374,S8VA00297,STEWART FOR SENATE INC
4,C00653345,,AMERICA FIRST COMMITTEE
5,C00661645,,AMERICA SPEAKS PAC
6,C00648899,,AMERICA'S CONSTITUTION PAC
7,C00653352,,DEFEAT THE ESTABLISHMENT PAC
8,C00662072,,DRAIN THE DC SWAMP PAC
9,C00689356,,KEEPING AMERICA GREAT PAC
10,C00627794,,NORTH CAROLINA GUN RIGHTS PAC
11,C00636225,,NORTH STATE LEADERSHIP COUNCIL
12,C00623348,,PRINCIPLED LEADERSHIP PROJECT PAC
13,C00627943,,PRO-LIFE NORTH CAROLINA PAC
14,C00681650,,SECURE THE VOTE
15,C00669077,,SINGH FOR SENATE
16,C00686360,,STOPBLOOMBERG PAC




DARRYL TATTRIE, treasurer
16 committees
parties: ['DEM', 'NNE', 'REP', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00547240,H4MA06090,MOULTON FOR CONGRESS
1,C00646752,H8OH07123,KEN HARBAUGH FOR CONGRESS
2,C00664896,,CULLUM NUMBER VICTORY FUND
3,C00613919,,EMILY CAIN VICTORY FUND
4,C00571182,,GETTING STUFF DONE PAC (GSD-PAC)
5,C00684415,,JARED GOLDEN VICTORY FUND
6,C00669127,,KIRKPATRICK VICTORY FUND
7,C00683458,,LIMITLESS HORIZONS
8,C00651554,,MOULTON LEADERSHIP FUND
9,C00663716,,O'HALLERAN VICTORY FUND
10,C00684092,,SECURE PROGRESS
11,C00571174,,SERVE AMERICA PAC
12,C00656439,,SERVE AMERICA PAC - RESTRICTED
13,C00653295,,SERVE AMERICA VICTORY FUND
14,C00682328,,SERVE AMERICA WOMEN'S VICTORY FUND
15,C00660068,,SINEMA VICTORY FUND




RICHARD EICHMAN, treasurer
15 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00630574,,AMERICAN OLIVE OIL PRODUCERS ASSOCIATION FEDERAL PAC
1,C00674234,,APARTMENT ASSOCIATION OF ORANGE COUNTY PAC
2,C00627992,,"CALIFORNIA ALMOND INDUSTRY PAC FEDERAL, SPONSORED BY THE ALMOND ALLIANCE OF CALIFORNIA"
3,C00628578,,CALIFORNIA ASSOCIATION OF LICENSED REPOSSESSORS FEDERAL PAC
4,C00155366,,CALIFORNIA ASSOCIATION OF WINEGRAPE GROWERS - FEDERAL
5,C00082834,,CALIFORNIA BANKERS ASSOCIATION FEDERAL (CALBANKPAC)
6,C00530725,,CALIFORNIA BERRY FARMERS FEDERAL PAC
7,C00518787,,CALIFORNIA CATTLEMEN'S ASSOCIATION FEDERAL PAC
8,C00250464,,CALIFORNIA COTTON GINNERS AND GROWERS ASSN PAC - FEDERAL
9,C00631085,,"CHAMBERPAC FED, SPONSORED BY CALIFORNIA CHAMBER OF COMMERCE"
10,C00487892,,GOLD AND SILVER POLITICAL ACTION COMMITTEE - FEDERAL
11,C00245910,,PACIFIC COAST PRODUCERS POLITICAL ACTION COMMITTEE
12,C00099002,,"SUNKIST GROWERS, INC. PAC - FEDERAL"
13,C00409342,,WESCOM CREDIT UNION FEDERAL PAC
14,C00683235,,WESTERN AGRICULTURAL PROCESSORS ASSOCIATION FEDERAL PAC




JOEL RITER, treasurer
15 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00590562,,21ST CENTURY GRANITE LEADERSHIP
1,C00679746,,A BETTER GEORGIA PAC
2,C00568543,,AMERICAN FREEDOM BUILDERS ACTION NETWORK
3,C00654764,,AMERICAN VALUES FIRST
4,C00488767,,CITIZENS FOR A WORKING AMERICA PAC
5,C00568519,,CONCRETE AND PORTLAND CEMENT ACTION NETWORK
6,C00656199,,FOR A BETTER NEW MEXICO
7,C00659003,,HAYSGO PAC
8,C00581777,,MARYLAND USA
9,C00638502,,OHIO CONSERVATIVES FOR A CHANGE
10,C00678276,,OHIO STRONG
11,C00663922,,PENNSYLVANIA FIRST
12,C00661850,,PENNSYLVANIANS FOR CONSERVATIVE POLICIES
13,C00687806,,SAFE STREETS SAFE COMMUNITIES
14,C00692509,,SECURING LOUISIANA'S FUTURE




MEGAN BRENGARTH, treasurer
15 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00652719,H8IL14174,LAUREN UNDERWOOD FOR CONGRESS
1,C00662577,H8NC13067,KATHY MANNING FOR CONGRESS
2,C00655233,H8WI08045,BEAU FOR CONGRESS
3,C00649384,,CAROLYN FOR CONGRESS
4,C00690040,,COCKBURN VICTORY FUND
5,C00678581,,CRIST VICTORY FUND
6,C00688291,,DONNA SHALALA VICTORY FUND
7,C00677708,,FRONTERA VISION PAC
8,C00683367,,HOUSE VICTORY 2018
9,C00690172,,MIKE ESPY VICTORY FUND
10,C00624338,,ROSEN VICTORY FUND
11,C00680439,,SOUTH FLORIDA WOMEN'S VICTORY FUND
12,C00692590,,SUNSHINE ORGANIZATION FOR TREMENDOUS OPPORTUNITIES (SOTO PAC)
13,C00612101,,SUPREME COURT MAJORITY PAC
14,C00680710,,WALLACE VICTORY FUND




SHAWNDA DEANE, treasurer
14 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00646794,,CA-BAM PAC
1,C00625848,,CALIFORNIA PROGRESS COALITION
2,C00621391,,CALIFORNIANS FOR OPPORTUNITY
3,C00501858,,EAST BAY YOUNG DEMOCRATS - FEDERAL
4,C00608471,,ELECTING WOMEN SILICON VALLEY FEDERAL PAC
5,C00641183,,FIGHT BACK CALIFORNIA
6,C00389189,,LAKE COUNTY DEMOCRATIC CENTRAL COMMITTEE
7,C70006028,,NATIONAL UNION OF HEALTHCARE WORKERS
8,C00658526,,NEED TO IMPEACH
9,C00572933,,PROGRESSIVE WOMEN SILICON VALLEY FEDERAL PAC
10,C00647628,,ROB BONTA FOR ASSEMBLY 2018
11,C00402826,,SAN DIEGO COUNTY DEMOCRATIC PARTY (FED. ACCT.)
12,C00529891,,SAN JOAQUIN COUNTY DEMOCRATIC CENTRAL COMMITTEE
13,C00636944,,SISTER DISTRICT PROJECT




CHARLES GANTT, treasurer
14 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00635607,,"35TH, INC."
1,C00677351,,A BRIGHT NEW DAY
2,C00576900,,BETTER LOUISIANA PAC
3,C00562785,,CAMPAIGN FOR JOBS AND OPPORTUNITY
4,C00521757,,CHARACTER COUNTS POLITICAL ACTION COMMITTEE
5,C00602649,,MARATHON PAC
6,C00634204,,MASSACHUSETTS FIRST
7,C00684217,,"MAVERICK ACTION, INC."
8,C00631804,,NATIONAL LEADERSHIP COUNCIL PAC
9,C00655415,,"PA INTEGRITY PAC, INC."
10,C00666701,,"REBUILDING NEW YORK PAC, INC."
11,C00610147,,RESTORE AMERICAN LEADERSHIP
12,C00675413,,TEXANS FOR A STRONG AND SECURE AMERICA
13,C00651976,,WAKE UP WASHINGTON




DAVID BAUER, treasurer
14 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00473272,H0CA19173,DENHAM FOR CONGRESS
1,C00496018,H0CA19173,DENHAM VICTORY FUND
2,C00509422,H2CA02142,DOUG LAMALFA COMMITTEE
3,C00446815,H8CA04152,MCCLINTOCK FOR CONGRESS
4,C00305870,,AMERICAN FREE ENTERPRISE PAC
5,C00514224,,AMERICANS FOR ACCOUNTABILITY IN LEADERSHIP
6,C00425645,,"ATLAS PAC, FEDERAL"
7,C00417774,,CALIFORNIA COAST CREDIT UNION FEDERAL PAC
8,C00489112,,JEFF PAC
9,C00625715,,JONES VICTORY COMMITTEE
10,C00576249,,NORCAL WATER JOBS LIBERTY PAC
11,C00377051,,SACRAMENTO VALLEY LINCOLN CLUB FEDERAL
12,C00317511,,SUPERIOR CALIFORNIA FEDERAL LEADERSHIP PAC
13,C00461137,,TAKING OUR MAJORITY PAC (T.O.M.PAC)




SCOTT MACKENZIE, treasurer
13 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00437053,,BLACK REPUBLICAN PAC
1,C00622381,,CARELESS PAC
2,C00524454,,CONSERVATIVE MAJORITY FUND
3,C00481085,,CONSERVATIVE VICTORY FUND
4,C00525725,,FOUNDED ON TRUTH
5,C00448886,,HISPANICS FOR A CONSERVATIVE AMERICA
6,C00407940,,MAN IN THE ARENA
7,C00407882,,SAVE NEW YORK PAC
8,C00480681,,STAND AMERICA PAC
9,C00566174,,TEA PARTY MAJORITY FUND
10,C00491290,,TEA PARTY VICTORY FUND
11,C00457291,,THE CONSERVATIVE STRIKEFORCE
12,C00553560,,VIGOP (VIRGIN ISLANDS REPUBLICAN PARTY)




THOMAS MONTGOMERY, treasurer
13 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00672980,H8CA12270,REMMER FOR CONGRESS
1,C00409490,,CALAVERAS COUNTY REPUBLICAN CENTRAL COMMITTEE (FEDERAL)
2,C00629147,,CALIFORNIA FREEDOM AND PROSPERITY PAC
3,C00688812,,CITIZENS FOR A RED WAVE PAC
4,C00680546,,COMMITTEE FOR LIFE LIBERTY & PROPERTY
5,C00609420,,DANNY TURNER FOR CONGRESS
6,C00603639,,LAKE COUNTY REPUBLICAN PARTY
7,C00666263,,MOBIUS POLITICAL ACTION COMMITTEE
8,C00389981,,MONTEREY COUNTY REPUBLICAN CENTRAL COMMITTEE (FED.)
9,C00659912,,OSMENA FOR CONGRESS
10,C00546127,,REPUBLICAN PARTY OF LA COUNTY - 66TH AD (FEDERAL)
11,C00325464,,TUOLUMNE COUNTY REPUBLICAN PARTY (FED)
12,C00688820,,US CITIZENS PAC




DAN BACKER, treasurer
13 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00662148,,BIKERS FOR THE PRESIDENT PAC
1,C00550400,,BIT PAC
2,C00668178,,BIT PAC
3,C00469239,,COMBAT VETERANS FOR CONGRESS PAC
4,C00496505,,CONSERVATIVE ACTION FUND
5,C00623769,,"GEORGE WASHINGTON LEADERSHIP FOUNDATION, INC."
6,C00583617,,GRASSROOTS VICTORY
7,C00674572,,GRASSROOTS VICTORY
8,C00608489,,GREAT AMERICA PAC
9,C00629352,,STOP MICHELLE PAC
10,C00608166,,TEA PARTY FORWARD
11,C00544767,,THE COMMITTEE TO DEFEND THE PRESIDENT
12,C00468868,,ZP ACTION




VICKIE WINPISINGER, treasurer
13 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00545582,H4FL20023,DWS VICTORY FUND
1,C00202416,H6GA05217,JOHN LEWIS FOR CONGRESS
2,C00687467,,BRENDAN KELLY VICTORY FUND
3,C00681510,,COMMITTEE FOR MIDWEST PRIORITIES
4,C00455360,,DAWG PAC - DEMOCRATS AGAINST WASTE IN GOVERNMENT
5,C00425470,,DEMOCRATS WIN SEATS (DWS PAC)
6,C00415869,,HARVEST PAC
7,C00321596,,HOUSE MAJORITY FUND
8,C00680132,,JOINING IDEAS TO MOTIVATE MOVEMENT FOR YOU (JIMMY PAC)
9,C00351056,,PROGRESS PAC
10,C00677625,,THE GPS VICTORY FUND
11,C00578096,,"THE PRIVATE INVESTOR COALITION, INC. POLITICAL ACTION COMMITTEE"
12,C00681742,,TIM RYAN VICTORY FUND




KATHERINE BUCHANAN, treasurer
12 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00572388,S2VA00142,KAINE FOR COMMON GROUND
1,C00495358,S2VA00142,KAINE FOR VIRGINIA
2,C00566562,,BACKPAC
3,C00538835,,COMMON GROUND PAC
4,C00658377,,DEMOCRATS FOR OPPORTUNITY FUND
5,C00412791,,FORWARD TOGETHER PAC
6,C00689448,,JONES ACTION FUND
7,C00689430,,JONES VICTORY FUND
8,C00629394,,KAINE ACTION FUND
9,C00629378,,KAINE VICTORY FUND
10,C00638114,,SAVE OUR SENATE 2
11,C00625111,,STRENGTHENING VIRGINIA'S WORKING FAMILIES PAC




CARY DAVIDSON, treasurer
12 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00555367,,ASHTON WOODS CORP. HOMES PAC
1,C00019653,,EDISON INTERNATIONAL PAC
2,C00493635,,EQUALITY CALIFORNIA FEDERAL PAC
3,C00417139,,KB HOME AMERICAN DREAM PAC
4,C00430066,,KINECTA FEDERAL CREDIT UNION FEDERAL PAC
5,C00668970,,NEIGHBORS FOR A BETTER CONGRESS
6,C00390633,,SCHOOLSFIRST FEDERAL CREDIT UNION EMPLOYEES FEDERAL PAC
7,C00680561,,SONY MUSIC ENTERTAINMENT PAC
8,C00282038,,"SONY PICTURES ENTERTAINMENT, INC. PAC"
9,C00416636,,"STAMPS.COM, INC. PAC"
10,C00392464,,UNIVERSAL MUSIC GROUP POLITICAL ACTION COMMITTEE
11,C00435735,,UNIVISION COMMUNICATIONS INC. POLITICAL ACTION COMMITTEE




DIANA SAQUELLA, treasurer
12 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C70003439,,ALLEGANY COUNTY TEACHERS ASSN
1,C70003520,,CARROLL COUNTY EDUCATION ASSN
2,C70003496,,CECIL COUNTY CLASSROOM TEACHERS ASSN
3,C70003462,,GARRETT COUNTY EDUCATION ASSN
4,C70003454,,KENT COUNTY TEACHERS ASSN
5,C70003538,,MARYLAND STATE TEACHERS ASSN
6,C70003488,,PRINCE GEORGE'S COUNTY EDUCATION ASSN
7,C70003512,,QUEEN ANNE'S COUNTY EDUCATION ASSN
8,C70003561,,TEACHERS ASSN BALTIMORE COUNTY
9,C70003579,,TEACHERS ASSN OF ANNE ARUNDEL COUNTY
10,C70003504,,WICOMICO COUNTY EDUCATION ASSN
11,C70003470,,WORCESTER COUNTY TEACHERS ASSN




DAVID MASON, treasurer
12 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00001198,,AMERICAN HOTEL AND LODGING ASSOCIATION POLITICAL ACTION COMMITTEE ('HOTELPAC')
1,C00491340,,ARISTOTLE INTERNATIONAL INC. POLITICAL ACTION COMMITTEE (ARISTOTLE PAC)
2,C00381954,,ATMOS ENERGY CORPORATION PAC
3,C00243444,,ENERGYSOUTH PAC
4,C00496307,,MARATHON PETROLEUM CORPORATION EMPLOYEES POLITICAL ACTION COMMITTEE (MPAC)
5,C00630087,,MODERN MARKETS INITIATIVE PAC (MMI PAC)
6,C00522094,,PSYCHOLOGY PAC OF AMERICAN PSYCHOLOGICAL ASSOCIATION SERVICES INC.
7,C00507053,,PURO PAC INC.
8,C00240457,,SOCIETY FOR RELIEF OF DISTRESSED AND DECAYED PILOTS POLITICAL ACTION COMMITTEE
9,C00089342,,SPRINT CORPORATION POLITICAL ACTION COMMITTEE
10,C00369090,,THE WENDYS COMPANY POLITICAL ACTION COMMITTEE
11,C00102152,,WASHINGTON GAS LIGHT COMPANY PAC




BAILEY MORGAN, treasurer
12 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00523159,,AFFORDABLE HEALTH CARE FOR AMERICA PAC
1,C00523092,,AMERICAN ALLIANCE FOR AFRICA PAC
2,C00526558,,AMERICANS FOR AFFORDABLE HOUSING AND ASSISTING THE SHELTERLESS
3,C00526608,,AMERICANS FOR PRISON REFORM
4,C00523084,,CHRISTIANITY IN ACTION PAC
5,C00523076,,CONCERNED VOTERS FOR THE ARTS PAC
6,C00523100,,IMPROVING LIFE IN THE AMERICAS AND CARIBBEAN PAC
7,C00526566,,"PEACEFUL AMERICANS AGAINST WAR, VIOLENCE AND GUN PROLIFERATION"
8,C00523134,,PROGRESS FOR NATIVE AMERICAN INDIANS BLACKS AND HISPANICS PAC
9,C00526574,,RESTORE AMERICAN LABOR FORCE
10,C00523118,,TOWARDS A GREENER AMERICA PAC
11,C00523142,,URBAN WORKS USA PAC




GEMMA MARTIN, treasurer
12 committees
parties: ['DEM', 'NNE', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00512970,H2MA04073,JOE KENNEDY FOR CONGRESS
1,C00541888,H4MA05084,KATHERINE CLARK FOR CONGRESS
2,C00543504,,4 MA PAC
3,C00569343,,ALLIANCE FOR A BETTER RHODE ISLAND
4,C00639112,,CLARK KENNEDY VICTORY FUND

MEREDITH LESHER, treasurer
11 committees
parties: ['DEM', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00435024,,CENTER FOR SPORTFISHING POLICY POLITICAL ACTION COMMITTEE AKA CENTER PAC
1,C00542092,,CONCHO RESOURCES INC PAC
2,C00366682,,HERO'S FUND
3,C00544270,,IDAHO CONSERVATIVE GROWTH FUND
4,C00217323,,OUTPATIENT OPHTHALMIC SURGERY SOCIETY POLITICAL ACTION COMMITTEE
5,C00387670,,RICH POLITICAL ACTION COMMITTEE
6,C00326256,,SECURITY TRADERS ASSOCIATION POLITICAL ACTION COMMITTEE
7,C00337972,,TOM JAMES COMPANY POLITICAL ACTION COMMITTEE
8,C00327189,,VALUE IN ELECTING WOMEN POLITICAL ACTION COMMITTEE
9,C00039206,,"WILLIAMS AND JENSEN, PLLC POLITICAL ACTION COMMITTEE"
10,C00541177,,ZOETIS GOOD GOVERNMENT FUND




CALEB CROSBY, treasurer
11 committees
parties: ['DEM', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00582304,H6FL02208,FRIENDS OF NEAL DUNN
1,C00404483,,"ADVANCED MICRO DEVICES, INC. PAC"
2,C00487363,,AMERICAN CROSSROADS
3,C00608943,,"CLEARPATH ACTION, INC."
4,C00574632,,COMSTOCK VICTORY FUND
5,C00504530,,CONGRESSIONAL LEADERSHIP FUND
6,C00527531,,FREE MARKETS PAC INC
7,C00621326,,GOVERNING MAJORITY
8,C00625574,,SAVE AMERICA FROM ITS GOVERNMENT
9,C00571703,,SENATE LEADERSHIP FUND
10,C00504761,,YG ACTION FUND




HOLLY GIARRAPUTO, treasurer
11 committees
parties: ['DEM', 'UNK']
,cmte_id,cand_id,cmte_nm
0,C00557280,H2NY22139,HUDSON VALLEY VICTORY FUND
1,C00512426,H2NY22139,SEAN PATRICK MALONEY FOR CONGRESS
2,C00401034,H4NY27076,BRIAN HIGGINS FOR CONGRESS
3,C00667964,H8OH12297,O'CONNOR FOR CONGRESS
4,C00675041,H8PA14065,BOERIO FOR CONGRESS
5,C00547679,S6MT00162,TESTER VICTORY FUND
6,C00677534,,2018 MAJORITY MAKERS FUND
7,C00650754,,BIG SKY VALUES PAC
8,C00549014,,HUDSON VALLEY PAC
9,C00684225,,NEW CONGRESS FUND
10,C00637652,,QUIST VICTORY FUND

In [377]:
cm.to_csv('data/03a_committees.csv', index = False)